<template>
    <div id="deposit" class=" payment-step">
        <div v-if="!paymentDone" class="row w-xxl-min">
            <div class="col-12 col-md-6 pr-xl-4 mb-4 mb-md-0">
                <div class="col-inner-wrapper">
                    <div class="data-payment-details">
                        <p class="payment-details-text-lg">{{ $t('dashboard.payment_text2') }}</p>
                        <br />
                        <span class="wh d-flex">
                            <!-- <em class="amount">{{ paymentDetails.amount }}</em> -->
                            <input type="text" :value="paymentDetails.amount" id="copyAmt" disabled>
                            <em class="amount">{{ paymentDetails.currency_code }}</em>
                            {{ $t('dashboard.to') }}
                        </span>
                        <!-- <span class="wh">
                          <em class="amount">{{ paymentDetails.amount }}</em>
                          <em class="amount">{{ paymentDetails.currency_code }}</em>
                        </span> to <br /> -->
                        <!-- <p class="payment-wallet-address">{{ paymentDetails.address }}</p> -->
                        <textarea type="text" wrap="soft" :value="paymentDetails.address" class="payment-wa" disabled id="copyInput"></textarea>
                        <!-- <p class="payment-wallet-address>{{ paymentDetails.address }}</p> -->
                    </div>
                    <div class="barcode-btn">
                        <div class="barcode-btn-wrapper text-center">
                            <a class="m-auto btn-barcode-payment btn-complete btn-cpy-address" style="width:180px" @click="copyItem('address')">{{ $t('dashboard.copy_address') }} </a>
                            <a class="m-auto btn-barcode-payment btn-complete" style="width:180px" @click="copyItem('amount')">{{ $t('dashboard.copy_amount') }} </a>
                            <!-- <input type="text" id="copyInput"> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 br-xl-show col-wrapper-abs-lg">
                <div class="r-00 col-inner-wrapper">
                    <div class="text-r mt-2 mb-4 d-flex justify-content-between align-items-centers">
                        <div class="payment-description">
                            <!-- <h3>{{ $t('dashboard.Deposit') }} $300,000 via Etherum</h3> -->
                            <h3>{{ $t('dashboard.Deposit') }} ${{ paymentDetails.usd }} via {{ paymentDetails.currency }}</h3>
                            <div class="message message-warning notification-message message-form">
                                <p>{{ $t('dashboard.payment_text1') }}</p>
                            </div>
                        </div>
                        <div class="payment-barcode">
                            <div class="img-barcode">
                                <!-- PAYMENT BARCODE --- img TAG -->
                                <img width="100%" :src="paymentDetails.barcode" />
                                
                            </div>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-12">
                            <a class="copy-to-clipboard btn btn-completed-pay btn-block" @click="madePayment()">{{ $t('dashboard.payment_text3') }}</a>
                        </div>
                        <div class="col-12 mt-4">
                            <a href="javascript:void(0);" class="btn-barcode-payment btn-cancel text-danger mt-4" style="width:180px" @click="cancelPayment()">{{ $t('dashboard.cancel_payment') }} </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-else class="success-payment">
            <div class="row">
                <div class="col-12 col-md-6 success-display-center mb-5">
                    <svg width="388" height="388" viewBox="0 0 388 388" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="194" cy="194" r="194" fill="#011A30" />
                        <path d="M273.361 122.586L287.62 136.727L157.861 265.414L100.824 208.848L115.083 194.707L157.861 237.131L273.361 122.586ZM273.361 94L157.861 208.545L115.083 166.121L72 208.848L157.861 294L316.444 136.727L273.361 94Z"
                            fill="#62FF71" />
                    </svg>
                </div>
                <div class="col-12 col-md-6 success-display-center">
                    <div class="alert d-block w-100 alert-success" style="max-width:90%">
                        <h4 class="m-0">{{ $t('dashboard.payment_text4') }}</h4>
                        <p class="m-0">{{ $t('dashboard.payment_text5') }}</p>
                    </div>
                    <a class="btn btn-success-light m-auto pt-2 pb-2" style="width:180px" @click="cancelPayment()">{{ $t('dashboard.OKAY') }}</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
    name: 'Deposit',
    props: ['paymentDetails'],
    data() {
        return {
            paymentDone: false,
        };
    },
    computed:{
        ...mapState({
            endpoint:(state)=>state.endpoint
        })
    },
    methods: {
        madePayment() {
            this.paymentDone = true;
        },
        cancelPayment() {
            window.$('#paymentModal').modal('hide');
            this.paymentDone = false;
        },
        copyItem(type) {
            var value = '';
            var cid="";
            if (type == 'address') {
                cid = 'copyInput'
                value = this.paymentDetails.address;
            } else {
                cid = 'copyAmt'
                value = this.paymentDetails.amount;
            }
            var copyText = document.getElementById(cid);
            copyText.removeAttribute('disabled')
            copyText.value = value;
            copyText.select();
            copyText.setSelectionRange(0, 99999);
            document.execCommand("copy");
            copyText.setAttribute('disabled',true)
            this.$store.commit('setNotification', {type: 1, msg: type + ' Copied!!'});
        },
    },
};
</script>

<style lang="scss" scoped>
#copyAmt{
    font-family: Roboto;
    margin-right: 8px;
    text-transform: uppercase;
    color: #ccbbed;
    background: transparent;
    border: none;
    font-weight: bold;
    width: 100px;
    max-width: fit-content;
}
.payment-wa{
    padding: 15px 5px;
    font-size: 16px;
    color: white;
    word-break: break-all;
    opacity: 0.8;
    border: 1px dashed #049cb1;
    background: transparent;
    width: 100%;
    resize: none;
}
.btn-cpy-address{
    width: 180px;
    background: #059cb15c !important;
    border-color: #059cb1 !important;
    color: #bdf7ff !important;
    font-size: 12px !important;
}
.alert {
    background-color: rgba(2, 91, 68, 0);
    border-color: #025b4300;
    color: white;
    text-align: center;
    font-family: Campton;
}
.alert h4 {
    font-size: 26px;
    font-weight: 500;
    color: #cacaca;
    margin-bottom: 1.5rem !important;
}
.alert p {
    font-size: 12px;
    margin-top: 5px !important;
    color: #dbffde;
}
.btn-success-light {
    padding: 12px 0px;
    border-color: #ffffff !important;
    background: #049cb1 !important;
    border-radius: 10px;
    border: none !important;
}
.btn-red-light {
    background: #b1501726;
    border-color: #b25017;
}
.modal-body {
    background: #191f38;
    padding: 0;
}
#deposit {
    background-color: #131628;
    padding: 0 !important;
    font-family: Campton;
    margin-bottom: 0rem !important;
    height: 100%;
}
.barcode-wrapper {
    width: 100%;

    .lr-bbr {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }

    .img {
        width: 180px;
        height: 180px;
        background: #fff;
        padding: 10px;

        img {
            width: 100%;
        }
    }
}
.text-r {
    h3 {
        font-size: 24px;
        line-height: 30px;
        color: #9397a0;
        text-align: center;
    }

    .btn-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        a {
            display: inline-block;
            margin-bottom: 0.5rem;
            width: 100%;
            padding: 0.5rem;
            transition: 300ms ease;

            &:hover {
                background-color: #025b44;
                color: #d8d8d8;
            }

            &:last-of-type {
                margin-bottom: 1.5rem;
            }
        }
    }
}
.message.message-warning {
    p {
        color: #ffa2a2;
        line-height: 18px;
        font-size: 14px;
        text-align: left;
        margin-bottom: 0;
        padding-left: 0;
    }

    form {
        padding-left: 2rem;
        margin-top: 1rem;

        input {
            background-color: #162032 !important;
            color: #7e91a7 !important;
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            border: 1px solid #ccc;
            border-color: #495671;
            box-shadow: none !important;
            border-radius: 4px;
            transition: border-color ease-in-out 0.15s, box-shadow ease-in-out;
        }

        button {
            display: block;
            width: 100%;
            margin-top: 8px;
            background-color: rgba(2, 91, 68, 0.15);
            border-color: #025b44;
            font-size: 14px;
            color: #fff;
            box-shadow: none;
            transition: ease-in-out 0.15s;

            &:hover {
                background-color: #025b44;
                color: #d8d8d8;
            }
        }
    }
}
.copy-to-clipboard {
    background-color: rgba(2, 91, 68, 0.15);
    border-color: #025b44;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
    border-width: 1px;
    border-style: solid;
    line-height: 18px;
}
.data-payment-details {
    color: #ffffff;
    font-size: 14px;
    text-align: center;

    span.wh {
        display: inline-block;
        font-size: 30px;
        font-weight: bolder;

        em {
            font-style: normal;
            font-family: Roboto;
            margin-right: 8px;
            text-transform: uppercase;
        }
    }

    .wh {
        color: #ccbbed;
        font-size: 18px;
        margin-bottom: 0.5rem;
    }

    .wh-scroll {
        overflow-x: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        margin-bottom: 1rem;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}
.payment-wallet-address {
    padding: 15px 35px;
    font-size: 16px;
    color: white;
    word-break: break-all;
    opacity: 0.8;
    border: 1px dashed #049cb1;
}
.scroll-wrapper {
    overflow: hidden;
    margin-bottom: 1rem;

    .wh-scroll {
        width: 80%;
        margin: 0 auto;
    }
}
.payment-details-text-lg {
    font-size: 16px;
}
.barcode-btn-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        cursor: pointer;
        height: 50px;
        text-align: center;
        border: 1px solid;
        border-radius: 5px;
        text-transform: capitalize;
        padding: 14px;
        font-size: 12px;
        white-space: nowrap;

        &:first-of-type {
            margin-right: 10px !important;
        }

        &.btn-cancel {
            background: #401a1a;
            border: 0.5px solid #ff7878;
            box-sizing: border-box;
            border-radius: 5px;
            color: #fabdbd;
        }
        &.btn-complete {
            background: #003906;
            border: 0.5px solid #018e0f;
            box-sizing: border-box;
            border-radius: 5px;
            color: #aeffb6;
        }
    }
}
.btn-danger-light {
    background: #401a1a;
    border: 0.5px solid #ff7878;
    box-sizing: border-box;
    border-radius: 5px;
    color: #fabdbd;
}
.btn-success-light {
    background: #003906;
    border: 0.5px solid #018e0f;
    box-sizing: border-box;
    border-radius: 5px;
    color: #aeffb6;
    cursor: pointer;
}
.payment-description {
    width: 40%;
    h3 {
        font-family: Roboto;
        font-weight: bold;
        font-size: 25px;
        text-align: left;
        color: #cacaca;
    }
}
.payment-barcode {
    width: 50%;
    height: auto;
}
.img-barcode {
    padding: 10px 10px;
    background: #fff;
    width: 100%;
}
.btn-completed-pay {
    background: #049cb1;
    border-radius: 5px;
    padding: 15px;
    font-weight: normal;
    font-size: 14px;
}
.col-inner-wrapper {
    padding: 16px;
}
.success-payment {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(4, 63, 45, 0.3);
    backdrop-filter: blur(100px);
    border-radius: 10px;

    svg {
        width: 100px;
        height: 100px;
    }

    .success-display-center {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
@media only screen and (min-width: 576px) {
    .col-inner-wrapper {
        padding: 20px;
    }
}
@media only screen and (min-width: 768px) {
    .text-r {
        .btn-wrap {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            a {
                margin-bottom: 15px !important;
                width: 48%;
            }
        }
    }
    .message.message-warning {
        form {
            display: flex;
            justify-content: space-between;
            align-items: center;

            input {
                width: 60%;
            }

            button {
                margin-top: 0;
                width: 35%;
            }
        }
    }
    .col-inner-wrapper {
        padding: 25px;
    }
    .col-wrapper-abs-lg {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: fit-content;
        height: 200%;
        background: rgba(10, 81, 146, 0.18);
        backdrop-filter: blur(100px);
        border-radius: 0px 10px 10px 0px;
    }
    .payment-details-text-lg {
        text-align: left;
        font-size: 18px;
    }
    .data-payment-details span.wh {
        text-align: left;
        font-size: 32px;
        width: 100%;
    }
    .success-payment {
        .success-display-center:last-of-type {
            justify-content: center;
            align-items: flex-start;

            .alert {
                padding-left: 0;
                text-align: left;
            }
        }
        svg {
            width: 150px;
            height: 150px;
        }
    }
    .btn-success-light {
       margin-left: 0 !important;
    }
}
@media only screen and (min-width: 992px) {
    .message.message-warning {
        form {
            input {
                width: 74%;
            }

            button {
                margin-top: 0;
                width: 25%;
            }
        }
    }
    .col-inner-wrapper {
        padding: 35px;
    }
}
@media only screen and (min-width: 1200px) {
    .w-xxl-min {
        width: 85%;
        margin: 0 auto;
    }

    .br-xl-show {
        padding-left: 2rem;
    }

    .message.message-warning {
        form {
            input {
                width: 75%;
            }

            button {
                margin-top: 0;
                width: 20%;
            }
        }
    }

    .success-payment {
        .success-display-center:last-of-type {
            .alert {
                padding-left: 0;
                text-align: left;
            }
        }
        svg {
            width: 200px;
            height: 200px;
        }
    }
}
@media only screen and (min-width: 1350px) {
    .w-xxl-min {
        width: 95%;
        margin: 0 auto;
    }
}
</style>
