<template>
    <div class="dora">
        <navbar />
        <div class="signup-main h-100">
            <div class="sub_page">
                <div class="wrap">
                    <h1>{{$t('dashboard.Sign_up')}}</h1>
                    <p>{{$t('dashboard.welcome_pdk_coin')}}</p>
                    <form @submit.prevent="preventSubmit()" name="signup_form">
                        <div class="input-item">
                            <!-- <label for="">{{$t('dashboard.Email')}}</label>
                            <div class="d-flex">
                                <input type="email" placeholder="Email" v-model="details.email" id="email" class="input-bordered tel-input tel">
                                <button class="gcode crtf cr-r py-3" v-if="!Mverified && !Pverified && showSend" @click="sendVerification('email')" id="disableM">
                                    <span v-if="!sending">{{$t('dashboard.send')}}</span>
                                    <span v-else>{{$t('dashboard.Sending')}}...</span>
                                </button>
                            </div> -->
                            <label>{{$t('dashboard.Phone')}}</label>
                            <div class="d-flex">
                                <vue-country-code @onSelect="onSelect" :preferredCountries="['kr', 'ng', 'gb']"> </vue-country-code>
                                <input type="tel" class="input-bordered tel-input tel" v-model="details.phone" id="phone"  />
                                <button class="gcode crtf cr-r py-3" v-if="!Mverified && !Pverified && showSend" @click="sendVerification('phone')" id="disableM">
                                    <span v-if="!sending">{{$t('dashboard.send')}}</span>
                                    <span v-else>{{$t('dashboard.Sending')}}...</span>
                                </button>
                            </div>
                            
                            <div class="d-flex justify-content-between">
                                <span v-if="MFverified" class="badge badge-success mt-1 align-items-center"><em class="ti ti-check"></em>{{$t('dashboard.verified')}} </span>                        
                                <b v-if="resend && !Mverified" @click="sendVerification('email')" class="resend mt-1">
                                    <span v-if="!sending" class="badge badge-primary">{{$t('dashboard.Resend_token')}}</span>
                                    <span v-else class="badge badge-primary">{{$t('dashboard.sending')}}...</span>
                                </b>
                            </div>
                        </div>
                        <div v-if="!Pverified">
                            <div class="input-item" v-if="!showSend">
                                <label for="">{{$t('dashboard.Phone_Verification_Code')}}</label>
                                <input type="text" class="input-bordered tel-input tel" placeholder="Phone Verification Code" v-model="details.phone_token">
                            </div>
                        </div>
                        <div v-if="!Mverified && !Pverified">
                            <button class="btn crtf cr-r btn-block py-3 w-100 mt-2 mb-2" v-if="!showSend" @click="verifyPhone()">
                                <span v-if="!sending">{{$t('dashboard.Verify_Phone')}}</span>
                                <span v-else>{{$t('dashboard.verifying')}}...</span>
                            </button>
                        </div>
                        <div v-if="Mverified && Pverified">
                            <div class="input-item">
                                <label for="">{{$t('dashboard.username')}}</label>
                                <input type="text" :placeholder="$t('dashboard.username')" v-model="details.username" class="input-bordered">
                            </div>
                            <div class="input-item">
                                <label for="">{{$t('dashboard.Email')}}</label>
                                <input type="email" placeholder="Email" v-model="details.email" class="input-bordered">
                            </div>
                            <!-- <div class="input-item">
                                <label>{{$t('dashboard.Phone')}}</label>
                                <div class="d-flex">
                                    <vue-country-code @onSelect="onSelect" :preferredCountries="['kr', 'ng', 'gb']"> </vue-country-code>
                                    <input type="tel" class="input-bordered tel-input tel" v-model="details.phone" id="phone"  />
                                </div>
                            </div> -->
                            <div class="input-item">
                                <label for="">{{$t('dashboard.First_Name')}}</label>
                                <input type="text" placeholder="First Name" v-model="details.first_name" class="input-bordered">
                            </div>
                            <div class="input-item">
                                <label for="">{{$t('dashboard.Last_Name')}}</label>
                                <input type="text" placeholder="Last Name" v-model="details.last_name" class="input-bordered">
                            </div>
                            <div class="input-item">
                                <label for="">{{$t('dashboard.Date')}}</label>
                                <input type="date" placeholder="Date of Birth" v-model="details.dob" class="input-bordered">
                            </div>
                            <div class="input-item">
                                <label for="">{{$t('dashboard.Referral_Code')}}</label>
                                <input type="text" :disabled="disabled" placeholder="Referral Token" v-model="details.referral" class="input-bordered">
                            </div>
                            <!-- <div class="input-item">
                                <label for="">{{$t('dashboard.Parent_Code')}}</label>
                                <input type="text" placeholder="Parent Token" v-model="details.parent" class="input-bordered">
                            </div> -->
                            <div class="input-item">
                                <label for="">{{$t('dashboard.account_type')}}</label>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" :disabled="user_disabled" v-model="details.employee" class="form-check-input" name="optradio" value="0">User
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" :disabled="employee_disabled" v-model="details.employee" class="form-check-input" name="optradio" value="1">Employee
                                    </label>
                                </div>
                            </div>
                            <div class="input-item">
                                <label for="">{{$t('dashboard.Password')}}</label>
                                <input type="password" placeholder="Password" v-model="details.password" class="input-bordered">
                            </div>
                            <div class="input-item">
                                <label for="">{{$t('dashboard.Confirm_Password')}}</label>
                                <input type="password" placeholder="Repeat Password" v-model="details.password_confirmation" class="input-bordered">
                            </div>
                            <button class="btn crtf cr-r py-3 btn-block w-100 mb-3" @click.prevent="createAccount()">
                                <span v-if="!cloading">{{$t('dashboard.Create_Account')}}</span>
                                <span v-else>{{$t('dashboard.Creating')}}...</span>
                            </button>
                        </div>
                        <div class="signup-group">
                            <li><a>{{$t('dashboard.d_txt25')}} </a></li>
                            <li><router-link :to="{name:'login'}"> {{$t('dashboard.Sign_in_instead')}}</router-link></li>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <Footer />
    </div>
</template>
<script>
import Footer from '../../components/footer.vue';
import navbar from '../../components/navbar.vue';
export default {
  components: { navbar, Footer },
    data(){
        return {
            // v_msg:'Mail sent',
            cloading:false,
            resend:false,
            rloading:false,
            MFverified:false,
            sending:false,
            Mverified:false,
            Pverified:false,
            showSend:true,
            merror:false,
            dialCode:'',
            mail_token:'',
            disabled:false,
            referral_hold:'',
            details: {
                first_name:'',
                last_name:'',
                username:"",
                phone:'',
                email:'',
                password:'',
                password_confirmation:'',
                parent:'',
                phone_token:'',
                dob:'',
                referral:'',
                employee:2,
            },
            user_disabled:false,
            employee_disabled:false,
        }
    },
    methods:{                                                                                                                                                                                                                                                                                                         
        onSelect({iso2, dialCode}) {
            console.log(iso2)
            this.dialCode = dialCode
        },
        preventSubmit(){
            console.log('logged')
        },
        createAccount(){
            for (const key in this.details){
                if(this.details[key].length < 1 && key != 'referral' && key != 'parent' && key != 'referral'){
                    window.ToasterAlert('error', key+' fields are required')
                    // this.$store.commit('setNotification', {type: 2, msg: 'All fields are required'});
                    return false
                }
            }
            this.cloading = true
            var ua = window.bowser.getParser(window.navigator.userAgent);
            var user_device_info = {
                'browser': ua.parsedResult.browser.name,
                'device': ua.parsedResult.os.name,
                'device_type': ua.parsedResult.platform.type
            };
            var hold = this.details.phone;
            
            this.details.phone = '+'+this.dialCode+this.details.phone;
            if(this.$route.query.referral){
                this.details.referral = this.referral_hold
            }
            // console.log(this.details)
            this.$store.dispatch('post', {
                endpoint:'create-account',
                details:{...this.details, ...user_device_info}
            })
            .then((response) => {
                this.cloading =false
                console.log(response.data)
                var resp=response.data 
                if(resp.status){
                    resp.user.token =resp.token 
                    this.$store.commit('setUser', resp.user)
                    window.ToasterAlert('success', resp.msg)
                    // this.$store.commit('setNotification', {type: 1, msg: resp.msg})
                    location.href = '/dashboard'
                }else{
                    this.details.phone = hold
                    window.ToasterAlert('error', resp.msg)
                    // this.$store.commit('setNotification', {type: 2, msg: resp.msg})
                }
            })
            .catch((error) => {
                this.details.phone = hold
                this.cloading =false
                console.log(error)
            });

        },
        verifyPhone()                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                {
            var phone = '+'+this.dialCode+this.details.phone;
            var data = {phone:phone, token:this.details.phone_token}
            this.sending = true
            this.$store.dispatch('post', {endpoint:'verify-token', details:data})
                .then((data)=>{
                    console.log(data)
                    this.sending = false
                    if(data.data.status){
                        this.resend = false
                        this.MFverified = true
                        this.Pverified = true
                        this.Mverified = true
                        this.showSend = true //this is to show phone token send button
                        // this.Mverified = true
                        window.ToasterAlert('success', data.data.msg)
                    }else{
                        this.sending = false
                        window.ToasterAlert('error', data.data.msg)
                    }
                })
                .catch((error)=>{
                    this.sending = false
                    this.$store.dispatch('handleError', error)
                })
        },
        verifyMail(){      
            var data = {email:this.details.email, token:this.details.phone_token}
            this.sending = true
            this.$store.dispatch('post', {endpoint:'verify-token', details:data})
                .then((data)=>{
                    console.log(data)
                    this.sending = false
                    if(data.data.status){
                        this.resend = false
                        this.MFverified = true
                        this.Pverified = true
                        this.Mverified = true
                        this.showSend = true //this is to show phone token send button
                        // this.Mverified = true
                        window.ToasterAlert('success', data.data.msg)
                    }else{
                        this.sending = false
                        window.ToasterAlert('error', data.data.msg)
                    }
                })
                .catch((error)=>{
                    this.sending = false
                    this.$store.dispatch('handleError', error)
                })
        },
        sendVerification(type){
            var param = document.getElementById(type).value
            if (param.length == 0){
                window.ToasterAlert('error', type+' field is required')
                return false
            }
            this.sending = true
            if(type == 'email'){
                var data = {email:this.details.email}
                // this.resend = true
                this.$store.dispatch('post', {endpoint:'send-verification-email', details:data})
                    .then((resp)=>{
                        console.log(resp)
                        this.sending = false
                        if(resp.data.status == true){
                            document.getElementById('email').setAttribute('disabled',true)
                            this.showSend = false
                            window.ToasterAlert('success', resp.data.msg)
                            
                        }else if(resp.data.status == 3){
                            document.getElementById('email').setAttribute('disabled',false)
                            this.resend=false
                            this.Pverified = true
                            window.ToasterAlert('info', resp.data.msg)
                        }
                        else{
                            //if email is verified already show phone input but dont show email token input
                            this.Pverified = false
                            this.showSend = true
                            // this.resend=false
                            window.ToasterAlert('error', resp.data.msg)
                        }
                    })
                    .catch((error)=>{
                        this.sending = false
                        this.showSend = false
                        this.$store.dispatch('handleError', error)
                    })
            }
            if(type == 'phone'){
                var phone = '+'+this.dialCode+this.details.phone;
                var contact = {phone:phone, email: this.details.email}
                // console.log(this.dialCode+this.details.phone)
                this.$store.dispatch('post', {endpoint:'send-verification-phone', details:contact})
                    .then((resp)=>{
                        console.log(resp)
                        this.sending = false
                        if(resp.data.status){
                            document.getElementById('phone').setAttribute('disabled',true)
                            // this.Pverified = true
                            // this.Mverified = true
                            // this.showSend = false
                            if(resp.data.phone_token){
                                this.resend = false
                                this.MFverified = true
                                this.Pverified = true
                                this.Mverified = true
                                this.showSend = true
                                this.details.phone_token =resp.data.phone_token
                            }else{
                                this.showSend = false
                                // this.account_type = resp.data.type
                                this.details.employee = resp.data.type
                                if(resp.data.type == 1){
                                    this.user_disabled = true
                                }else if(resp.data.type == 0){
                                    this.employee_disabled = true   
                                }
                                window.ToasterAlert('success', resp.data.msg)
                            }
                        }else{
                            this.Pverified = false
                            this.showSend = true
                            window.ToasterAlert('error', resp.data.msg)
                        }
                    })
                    .catch((error)=>{
                        console.log(error)
                        this.sending = false
                        this.showSend = true
                        this.$store.dispatch('handleError', error)
                    })
            }
        },
    },
    created(){
        if(this.$route.query.referral){
            this.disabled = true
            this.referral_hold = this.$route.query.referral;
            this.details.referral = this.$route.query.referral;
        }
    }
}
</script>
<style>
.vue-country-select{
    border-color:#bdbdbd !important;
    border-radius: 0 !important;
}
.vue-country-select .dropdown{
    padding:0.5em 14px !important;
}
.vue-country-select li {
    text-align:left !important;
}
</style>

<style scoped>
    .form-check-input{
        height: fit-content !important;
        margin-top:2px !important;
    }
    .cr-r{
        border-radius:6px !important;
    }
    .signup-main{
        padding-top:150px;
        padding-bottom:150px;
    }
    form > div{
        display:block;
    }
    .input-item label{
        display: block !important;
        text-align: left;
        margin-bottom: 4px;
        font-weight: 600;
    }
    .vue-country-select{
        border-radius: 4px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-color: #d2dde9;
    }
    .resend{
        font-size: 12px;
        text-align: right;
        display: block;
        cursor: pointer;
    }
    .gcode{
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        border-left: none !important;
    }

    button:focus{
        outline:none !important;
        border-color:none !important;
    }
    .send-token span.badge{
        font-size: 11px;
        margin-top: 6px;
        cursor: pointer;
        padding: 2px 10px;
    }
    .send-token b{
        font-size: 13px;
        cursor: pointer;
    }
</style>