<template>
    <div>
        <navbar />
        <section class="login_main sub_page">
            <div class="cont-box">
                <h1>{{$t('dashboard.Reset_password')}}</h1>
                <div class="wrap">
                    <form @submit.prevent="forgotPassword()" name="login_form">
                        <input type="email" name="username"  v-model="user.email" :placeholder="$t('dashboard.Email')" class="tel">
                      
                        <button type="submit" value="SEND RESET LINK" class="login">
                            <span v-if="!loading">{{$t('dashboard.Send_Reset_Link')}}</span>
                            <span v-else>{{$t('dashboard.Sending')}}...</span>
                        </button>
                        <li class="mt-4"><a>{{$t('dashboard.d_txt28')}}</a></li>
                        <li class="sign"><router-link :to="{name:'login'}">{{$t('dashboard.Return_to_login')}}</router-link></li>
                        
                    </form>
                </div>
            </div>
        </section>   
        <Footer /> 
    </div>
</template>

<script>
import Footer from '../../components/footer.vue';
import navbar from '../../components/navbar.vue';
export default {
    components: { navbar, Footer  },
    data(){
        return{
            user:{
                email: '',
            },
            loading: false
        }
    },
    methods:{
        forgotPassword(){
            if(this.user.email.length == 0){
                window.ToasterAlert('error', 'Email field is required')
                // this.$store.commit('setNotification',{type:2, msg: 'Email field is required'});
            }

            this.loading = true
            this.$store.dispatch('post', {
                details: this.user,
                endpoint: 'forget-password'
            })
            .then((data)=>{
                console.log(data.data);
                
                if(data.data.status){
                    this.user.email = ''
                    window.ToasterAlert('success', 'Reset mail has been sent to your email')
                }else{
                    window.ToasterAlert('error', data.data.msg)
                }
                // this.$store.commit('setNotification',{type:1, msg: "Reset mail has been sent to your email"});
                this.loading= false;
            })
            .catch((error) => {
                if(error.request != null){
                    this.$store.dispatch("handleError",error); 
                }

                this.loading= false;
            });
        }
    }
}
</script>

<style scoped>
.sign a{
    color: #212529;
    font-size: 1.125rem;
}
ul, li {
    list-style: none;
}
.login_main form > div {
    height: 30px;
}
.login_main {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 220px;
}
.sub_page .cont-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 200px;
    width: 100%;
}
.sub_page .cont-box h1 {
    font-size: 	2.625rem;
    color: black;
    font-weight: bold;
}
.sub_page .cont-box p {
    font-size: 1.125rem;
}
.sub_page .cont-box input {
    max-width: 500px;
    height: 60px;
    display: block;
}
.sub_page .wrap {
    width: 100%;
    padding: 0 20px;
}
form {
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    font-size: 0.875rem;
    max-width: 500px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
form > input {
    margin-bottom: 10px;
    border: 1px solid #2D3A4B;
    padding: 15px;
    color: #828282;
    margin-bottom: 30px;
}
form > input.pass {
    margin-top: 15px;
    margin-bottom: 15px;
}
form > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    color: #555;
}
form > div > div {
    display: flex;
    align-items: center;
}
form > div input {
    margin-right: 8px;
    cursor: pointer;
}
input.check {
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
}
button.login,
button.submit {
    border: none;
    background-color: #212529;
    font-weight: 700;
    font-size: 1.375rem;
    color: #fff;
    cursor: pointer;
    height: 60px;
}
button.submit:focus  {
    border: none;
    outline: 0 !important;
}
form li {
    text-align: center;
}
form li > a {
    color: #555;
}
form li:last-child a {
    color: #212529;
    font-size: 1.125rem;
}
</style>