<template>
	<div class="dora bg-white">
		<navbar/>
		<section class="section-1">
            <div class="cont">
                <div class="text-box">
                    <h1>{{$t('dashboard.d_txt60')}}</h1>
                    <p>{{$t('dashboard.d_txt61')}}</p>
                    <p>{{$t('dashboard.d_txt62')}}</p>
                </div>
                <div class="button dora-navl">
                    <router-link :to="$store.state.registerUrl" class="joinus">{{$t('dashboard.JOIN_US')}}</router-link>
                    <router-link to="/account/login" class="login">{{$t('dashboard.LOGINn')}}</router-link>
                </div>
            </div>
            <div class="img-box bg-item"><img src="@/assets/images/bigt.png" alt="DoraDora"></div>
        </section>
		<!-- section-2 -->
        <section class="section-2" id="scenerios">
            <div class="con text-left">
                <div class="title">
                    <div class="title-box">
                        <h2>{{$t('dashboard.d_txt63')}}</h2>
                        <p>{{$t('dashboard.d_txt64')}}</p>
                    </div>

                    <div class="img-box sec2-coin"><img src="@/assets/images/coin.png" alt="coin"></div>
                </div>
                <div class="item-box">
                    <div class="item">
                        <img src="@/assets/images/cont-1.png" alt="Credit card payment">
                        <div class="text">
                            <p>{{$t('dashboard.Credit_card_payment')}}</p>
                            <span>{{$t('dashboard.d_txt65')}}</span>
                        </div>
                    </div>
                    <div class="item">
                        <img src="@/assets/images/cont-2.png" alt="PDK ATM machine">
                        <div class="text">
                            <p>{{$t('dashboard.PDK_ATM_machine')}}</p>
                            <span>{{$t('dashboard.d_txt66')}}</span>
                        </div>
                    </div>
                    <div class="item">
                        <img src="@/assets/images/cont-3.png" alt="Purchase PDK merchandise">
                        <div class="text">
                            <p>{{$t('dashboard.d_txt67')}}</p>
                            <span>{{$t('dashboard.d_txt68')}}</span>
                        </div>
                    </div>
                    <div class="item">
                        <img src="@/assets/images/cont-4.png" alt="Participate in token issuance on PDK">
                        <div class="text">
                            <p>{{$t('dashboard.d_txt69')}}</p>
                            <span>{{$t('dashboard.d_txt70')}}</span>
                        </div>
                    </div>
                    <div class="item">
                        <img src="@/assets/images/cont-5.png" alt="Obtain energy and bandwidth">
                        <div class="text">
                            <p>{{$t('dashboard.d_txt71')}}</p>
                            <span>{{$t('dashboard.d_txt72')}}</span>
                        </div>
                    </div>
                    <div class="item">
                        <img src="@/assets/images/cont-6.png" alt="Obtain voting rights">
                        <div class="text">
                            <p>{{$t('dashboard.Obtain_voting_rights')}}</p>
                            <span>{{$t('dashboard.d_txt73')}}</span>
                        </div>
                    </div>
                    <div class="item">
                        <img src="@/assets/images/cont-7.png" alt="Receive BTT airdrop">
                        <div class="text">
                            <p>{{$t('dashboard.Receive_BTT_airdrop')}}</p>
                            <span>{{$t('dashboard.d_txt74')}}</span>
                        </div>
                    </div>
                    <div class="item">
                        <img src="@/assets/images/cont-8.png" alt="Participate in the Tronics Support Plan">
                        <div class="text">
                            <p>{{$t('dashboard.d_txt75')}}</p>
                            <span>{{$t('dashboard.d_txt76')}}</span>
                        </div>
                    </div>
                    <div class="item">
                        <img src="@/assets/images/cont-9.png" alt="Pornhub supports PDK payment">
                        <div class="text">
                            <p>{{$t('dashboard.d_txt77')}}</p>
                            <span>{{$t('dashboard.d_txt78')}}</span>
                        </div>
                    </div>
                    <div class="item">
                        <img src="@/assets/images/cont-10.png" alt="Buy virtual gifts">
                        <div class="text">
                            <p>{{$t('dashboard.d_txt79')}}</p>
                            <span>{{$t('dashboard.d_txt80')}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- section-3 -->
        <section class="section-3" id="migration">
            <div class="con text-left">
                <div class="cont">
                    <div class="sub-title">
                        <h2>{{$t('dashboard.PDK_Migration')}}</h2>
                        <p>{{$t('dashboard.d_txt81')}}</p>
                    </div>
                    <img src="@/assets/images/dd.png" alt="coin">
                </div>
            </div>
        </section>

        <!-- section-4 -->
        <section class="section-4">
            <div class="text-box">
                <div class="text">
                    <p>{{$t('dashboard.High_throughput')}}</p>
                    <span>{{$t('dashboard.d_txt83')}}</span>
                </div>
                <div class="text">
                    <p>{{$t('dashboard.High_scalability')}}</p>
                    <span>Applications are given a wider variety of ways to be deployed in TRON because of its scalability and highly effective smart contract. It can support enormous numbers of users.</span>
                </div>
                <div class="text">
                    <p>{{$t('dashboard.High_availability')}}</p>
                    <span>{{$t('dashboard.d_txt83')}}</span>
                </div>
            </div>
        </section>

        <!-- section-5 -->
        <section class="section-5" id="how-to">
            <div class="con">
                <h2>{{$t('dashboard.d_txt86')}}</h2>
                <span>{{$t('dashboard.d_txt87')}}</span>

                <div class="item-box">
                    <div class="item">
                        <img src="@/assets/images/step1.png" alt="JOIN US">
                        <p>{{$t('dashboard.JOIN_US')}}</p>
                    </div>
                    <div class="item">
                        <img src="@/assets/images/step2.png" alt="Buy Character">
                        <p>{{$t('dashboard.Buy_Character')}}</p>
                    </div>
                    <div class="item">
                        <img src="@/assets/images/step3.png" alt="Play Game">
                        <p>{{$t('dashboard.Play_Game')}}</p>
                    </div>
                    <div class="item">
                        <img src="@/assets/images/step4.png" alt="Throwing Dice">
                        <p>{{$t('dashboard.Throwing_Dice')}}</p>
                    </div>
                    <div class="item">
                        <img src="@/assets/images/step5.png" alt="GAME EXIT">
                        <p>{{$t('dashboard.GAME_EXIT')}}</p>
                    </div>
                    <div class="item">
                        <img src="@/assets/images/step6.png" alt="Get PDK Coin">
                        <p>{{$t('dashboard.Get_PDK_Coin')}}</p>
                    </div>
                    <div class="item">
                        <img src="@/assets/images/step7.png" alt="Withdrawal">
                        <p>{{$t('dashboard.Withdrawal')}}</p>
                    </div>
                    <div class="item">
                        <img src="@/assets/images/step8.png" alt="Completed">
                        <p>{{$t('dashboard.Completed')}}</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- section-6 -->
        <section class="section-6">
            <div class="cont-box">
                <div class="cont">
                    <h2>{{$t('dashboard.Growing_Global_Network')}}</h2>
                    <p v-html="$t('dashboard.d_txt88')"></p>
                    <div class="button">
                        <router-link :to="$store.state.registerUrl" class="joinus">{{$t('dashboard.JOIN_US')}}</router-link>
                        <router-link to="/account/login" class="login">{{$t('dashboard.LOGINn')}}</router-link>
                    </div>
                </div>
            </div>
        </section>
		<!-- footer -->
        <Footer/>
	</div>
</template>

<script>
    import Footer from '../../components/footer.vue';
    import navbar from '../../components/navbar.vue';
    export default {
        components: { navbar, Footer },
            data(){
                return {
                    // registerUrl:"/account/register"
                }
            },
            method: {
            },
            created(){
                if(this.$route.query.referral){
                    this.$store.commit('setRegisterUrl', '/account/register?referral='+this.$route.query.referral)
                    // this.registerUrl ='/account/register?referral='+this.$route.query.referral;
                }
                console.log(this.$store.state.registerUrl)
            },
        };
</script>
<style scoped>
    .dora-navl{
        text-align: left;
    }
</style>
