<template>
    <div class="dora">
        <navbar />
        <section class="login-main">
            <div class="sub_page">
                <div class="wrap">
                    <h1>{{$t('dashboard.LOGINn')}}</h1>
                    <p>{{$t('dashboard.welcome_pdk_coin')}}</p>

                    <form @submit.prevent="login()" name="login_form">
                        <div class="acc_type">
                            <div class="input-item">
                                <div class="i-radio">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" v-model="user.account_type" class="form-check-input" name="optradio" value="0">User
                                        </label>
                                    </div>
                                </div>

                                <div class="i-radio">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" v-model="user.account_type" class="form-check-input" name="optradio" value="1">Employee
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex mb-2">
                            <vue-country-code @onSelect="onSelect" :preferredCountries="['kr', 'ng', 'gb']"> </vue-country-code>
                            <input type="tel" class="input-bordered tel" v-model="user.phone" id="phone" :placeholder="$t('dashboard.Phone')" />
                        </div>
                        <!-- <input type="text" name="phone"  v-model="user.phone" :placeholder="$t('dashboard.Phone')" class="tel"> -->
                        <input type="password" v-model="user.password" name="password" :placeholder="$t('dashboard.Password')" class="pass">
                        <div class="box-1 mb-2">
                            <div class="check-group">
                                <input type="checkbox" name="checkbox" class="check">
                                <label for="RememberID">{{$t('dashboard.remember_id')}}</label>
                            </div>
                            <router-link :to="{name:'forgot-password'}">{{$t('dashboard.Forgot_password')}}</router-link>
                        </div>
                        <button type="submit" value="LOGIN" class="submit">
                            <span v-if="!loading">{{$t('dashboard.LOGINn')}}</span>
                            <span v-else>{{$t('dashboard.Authorizing')}}...</span>
                        </button>
                        <div class="signup-group">
                            <li><a>{{$t('dashboard.d_txt28')}}</a></li>
                            <li><router-link :to="$store.state.registerUrl">{{$t('dashboard.Sign_up_here')}}</router-link></li>
                        </div>
                        
                    </form>
                </div>
            </div>
        </section>
        <Footer/>
        <div class="modal fade" data-backdrop="static" id="announcementModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-sm modal-dialog-centered">
                <div class="modal-content p-0"> 
                    <div class="card-innr p-2 pl-3 pr-3 mt-2">
                        <h6 class="card-title card-title-sm text-left noti-cTxt">{{$t('dashboard.annoucement')}}</h6>
                        <div class="popup-body p-0"> 
                            <div class=" text-danger text-left mt-2" v-html="announcement"></div>
                            <a href="#" data-dismiss="modal" class="btn btn-primary btn-sm p-2 pl-3 pr-3 mt-4" style="min-width:30px">CLOSE</a>
                        </div>
                    </div> 
                </div><!-- .modal-content -->
            </div><!-- .modal-dialog -->
        </div>       
    </div>
</template>

<script>
import Footer from '../../components/footer.vue';
import navbar from '../../components/navbar.vue';

export default {
  components: { navbar, Footer  },
    computed:{
        announcement(){
            return this.$store.state.announcement
        }
    },
    data(){
        return {
            user:{
                phone: '',
                password: '',
                account_type:0
            },
            dialCode:'',
            loading: false,
            lann:false,
            an_popped_up:false
        }
    },
    methods:{
        onSelect({iso2, dialCode}) {
            console.log(iso2)
            this.dialCode = dialCode
        },
        login(){
            if(this.user.phone.length == 0 || this.user.password == 0){
                window.ToasterAlert('error', "Phone and Password field must not be empty!")
                return false;
            }


            var ua = window.bowser.getParser(window.navigator.userAgent);
            var user_device_info = {
                'browser': ua.parsedResult.browser.name,
                'device': ua.parsedResult.os.name,
                'device_type': ua.parsedResult.platform.type
            };

            var phone = '+'+this.dialCode+''+this.user.phone
            var split = phone.split('+')
            if(split.length > 2){
                phone = '+'+split[split.length - 1]
            }
            var payload ={
                password:this.user.password,
                phone:phone,
                account_type:this.user.account_type
            }
            // console.log(payload)
            this.loading = true
            this.$store.dispatch('post', {
                endpoint: 'login',
                details: {...payload, ...user_device_info}
            }).then((data) => {
                // console.log(data.data);
                if(data.data.status){
                    var result = data.data.data;
                    result.token=data.data.token;
                    this.$store.commit('setUser', result);
                    window.location.href="/dashboard";
                    
                }else{
                    var e_msg = data.data.message;
                    window.ToasterAlert('error', e_msg)
                }
                this.loading = false;
            })
            .catch((error) =>{
                this.loading = false;
                this.$store.dispatch("handleError",error)
            })
        },
    },
    mounted(){
        if(this.announcement != null){
            if(this.announcement.trim().length > 0){
                window.$("#announcementModal").modal('show');
            }
        }
    },
}
</script>
<style scoped>
.acc_type{
    display: flex;
    justify-content: center;
}
.acc_type label{
    margin-bottom: 0;
}
.acc_type .i-radio{
    background: #f2f8fe;
    padding: 10px 30px;
}
.acc_type .input-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 25em;
}
.form-check-input{
    height: fit-content !important;
    margin-top:2px !important;
}
.tel{
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.vue-country-select{
    border-color:#bdbdbd !important;
    border-top-left-radius: 6px !important;
    border-bottom-left-radius: 6px !important;
    border-right: 0;
    height: 55px;
}
.vue-country-select .dropdown{
    padding:0.5em 14px !important;
}
.vue-country-select li {
    text-align:left !important;
}
.login-main{
    padding-bottom: 150px;
    height: 100%;
}
</style>
