<template>
    <div>
        <navbar />
        <section class="login_main sub_page">
            <div class="cont-box">
                <h1>{{$t('dashboard.Reset_password')}}</h1>
                <div class="wrap">
                    <form @submit.prevent="reset()" name="login_form">
                        <input type="text" name="password"  v-model="psw.password" :placeholder="$t('dashboard.New_Password')" class="tel">
                        <input type="text" name="password"  v-model="psw.password_confirmation" :placeholder="$t('dashboard.Confirm_New_Password')" class="pass">
                      
                        <button type="submit" value="SEND RESET LINK" class="login">
                            <span v-if="!loading">{{$t('dashboard.Reset_Password')}}</span>
                            <span v-else>{{$t('dashboard.Sending')}}</span>
                        </button>
                        <li class="mt-4"><a>{{$t('dashboard.d_txt28')}}</a></li>
                        <li class="sign"><router-link :to="{name:'login'}">{{$t('dashboard.Return_to_login')}}</router-link></li>
                        
                    </form>
                </div>
            </div>
        </section>   
        <Footer /> 
    </div>
</template>

<script>
import Footer from '../../components/footer.vue';
import navbar from '../../components/navbar.vue';
export default {
    components: { navbar, Footer  },
    data(){
        return {
            psw:{
                token:'',
                password:'',
                password_confirmation:'',
            },
            loading:false
        }
    },
    methods:{
        verifyAccount(){ 
            this.loading=true;
            // this.$store.commit('setNotification',{type:0,msg:''});
            this.$store.dispatch('get','verify-reset-token?code='+this.$route.params.token)
            .then((data)=>{
                this.loading=false;
                if(data.data.status){
                    console.log(data.data)
                    this.verified=true;
                    this.psw.token=this.$route.params.token;
                }else{
                    window.ToasterAlert('error', "Expired or Invalid reset link. <br> Please try resetting your password again.")
                    // this.$store.commit('setNotification',{type:2, msg:'Expired or Invalid reset link. <br> Please try resetting your password again.'});  
                }
            })
            .catch((error)=>{
                console.log(error.request);
                if(error.request != null){
                    this.$store.dispatch("handleError",error); 
                }
                this.loading=false;
            });
        },
        reset(){
            if(this.psw.password_confirmation.length == 0 || this.psw.password.length == 0){
                window.ToasterAlert('error', "Password and Confirm password fields are required")
                // this.$store.commit('setNotification',{type:2, msg:'Password and Confirm password fields are required'});
                return false;
            }


            if(this.psw.password_confirmation != this.psw.password){
                // this.$store.commit('setNotification',{type:2, msg:"password doesn't match"});
                window.ToasterAlert('error', "Password doesn't match")
                return false;
            }

            if(this.loading){
                return false;
            } 

            this.loading=true;
            this.$store.dispatch('post',{
                details:this.psw,
                endpoint:'reset-password'
            })
            .then((data)=>{
                console.log(data);
                if(data.data.status){
                    window.ToasterAlert('success', "Your password reset was successful.")
                    // this.$store.commit('setNotification',{type:1, msg:'Your password reset was successful.'});
                    window.location.href='/login';
                }else{
                    window.ToasterAlert('error', data.data.message)
                    // this.$store.commit('setNotification',{type:2, msg:data.data.message});
                }

                this.loading=false; 
            })
            .catch((error)=>{
                console.log(error.request);
                if(error.request != null){
                    this.$store.dispatch("handleError",error); 
                }

                this.loading=false;
            });
        }
    },
    created(){
        this.verifyAccount();
    }
}
</script>

<style scoped>
.sign a{
    color: #212529;
    font-size: 1.125rem;
}
ul, li {
    list-style: none;
}
.login_main form > div {
    height: 30px;
}
.login_main {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 220px;
}
.sub_page .cont-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 200px;
    width: 100%;
}
.sub_page .cont-box h1 {
    font-size: 	2.625rem;
    color: black;
    font-weight: bold;
}
.sub_page .cont-box p {
    font-size: 1.125rem;
}
.sub_page .cont-box input {
    max-width: 500px;
    height: 60px;
    display: block;
}
.sub_page .wrap {
    width: 100%;
    padding: 0 20px;
}
form {
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    font-size: 0.875rem;
    max-width: 500px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
form > input {
    margin-bottom: 10px;
    border: 1px solid #2D3A4B;
    padding: 15px;
    color: #828282;
    margin-bottom: 30px;
}
form > input.pass {
    margin-top: 15px;
    margin-bottom: 15px;
}
form > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    color: #555;
}
form > div > div {
    display: flex;
    align-items: center;
}
form > div input {
    margin-right: 8px;
    cursor: pointer;
}
input.check {
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
}
button.login,
button.submit {
    border: none;
    background-color: #212529;
    font-weight: 700;
    font-size: 1.375rem;
    color: #fff;
    cursor: pointer;
    height: 60px;
}
button.submit:focus  {
    border: none;
    outline: 0 !important;
}
form li {
    text-align: center;
}
form li > a {
    color: #555;
}
form li:last-child a {
    color: #212529;
    font-size: 1.125rem;
}
</style>