<template>
     <div class="card content-area">
        <div class="card-innr">
            <div class="card-head">
                <h4 class="card-title">{{$t('dashboard.Recent_Activities')}}</h4>
            </div>
            <div class="card-text">
                <p>{{$t('dashboard.d_txt1')}} </p>
            </div>
            <div class="gaps-1-5x"></div>
            <table class="data-table dt-init activity-table" data-items="10">
                <thead>
                    <tr class="data-item data-head">
                        <th class="data-col activity-time"><span>{{$t('dashboard.Date')}}</span></th>
                        <th class="data-col activity-device"><span>{{$t('dashboard.Device')}}</span></th>
                        <th class="data-col activity-browser"><span>{{$t('dashboard.Browser')}}</span></th>
                        <th class="data-col activity-ip"><span>{{$t('dashboard.IP')}}</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="data-item" v-for="(activity, index) in user.login_activities" :key="index">
                        <td class="data-col activity-time">{{activity.created_at}}</td>
                        <td class="data-col activity-device">{{activity.device}}</td>
                        <td class="data-col activity-browser">{{activity.browser}}</td>
                        <td class="data-col activity-ip">{{activity.ip_address}}</td>
                    </tr>
                    
                </tbody>
            </table>
        </div><!-- .card-innr -->
    </div>
</template>

<script>
import {mapState} from 'vuex'
export default {
    computed: {
		...mapState({
			user: (context) => context.user,
		}),
	}
}
</script>

<style>

</style>