<template>
    <li >
        <a @click="getDescendants(user.id)" href="javascript:void(0);" :class="{'has-children':user.has_children,'loading':loading}">
            <div class="member-view-box">
                <div class="member-image">
                    <div class="member-details">
                        <div class="id-box">
                            <em class="ti ti-user"></em>
                        </div>
                        <h3 class="my-0">{{user.firstname}} {{user.lastname}}</h3>
                        <p class="my-0">{{user.referral_code}}</p>
                        <p class="my-0">{{user.principal_point_total}} P</p>
                    </div>
                </div>
                <div v-if="loading" class="lds-ring"><div></div><div></div><div></div><div></div></div>
            </div>
        </a>
        <ul v-if="user.has_children && user.children != undefined">
            <branch v-for="(child,index) in user.children" :key="index" :user="child" />
        </ul>
    </li>
</template>
<script>
export default {
    name:'branch',
    props:['user'],
    data(){
        return {
            parent:{},
            loading:false
        }
    },
    methods:{
		getDescendants(id){

            if(!this.user.has_children) return false;
            if(this.user.children){
                if(this.user.children.length > 0) return false
            }

            this.loading=true;
			this.$store.dispatch('get', 'descendants/'+id)
			.then((data)=>{
				console.log(data);
                var temp = {...this.user};
                this.user=null;
				temp.children = data.data;
                this.user = temp
                
                this.loading=false;
			})
			.catch((error)=>{
				console.log(error.request);
                this.loading=false;
			});
		},
	},
}
</script>
<style scoped>
    .ti-user{
        padding-top: 9px;
        display: block;
        padding-left: 2px;
        color: white;
        font-size: 20px;
    }
    .loading::before{
        display: none;
    }
    .lds-ring {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    margin: auto;
    }
    .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    margin: auto;
    border: 1px solid #e91e63;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #e91e63 transparent transparent transparent;
    }
    .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
    }
    .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
    }
    .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
    }
    @keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    }

</style>