<template>
    <div class="modal fade" id="edit-wallet" tabindex="-1">
        <div class="modal-dialog modal-dialog-md modal-dialog-centered">
            <div class="modal-content">
                <a href="#" class="modal-close" data-dismiss="modal" aria-label="Close"><em class="ti ti-close"></em></a>
                <div class="popup-body">
                    <h4 class="popup-title text-left">{{$t('dashboard.d_txt2')}}</h4>
                    <p class="text-left">{{$t('dashboard.d_txt3')}} <a href="#"><strong>{{$t('dashboard.TWZ_Tokens')}}</strong></a>, {{$t('dashboard.d_txt4')}} <strong> {{$t('dashboard.d_txt5')}}</strong></p>
                    <form action="#" @submit.prevent="updateEthWalet()">
                        
                        <div class="input-item input-with-label">
                            <label for="token-address" class="input-item-label text-float-left">{{$t('dashboard.d_txt6')}}</label>
                            <input class="input-bordered" v-model="wallet.eth_wallet" type="text" id="token-address" name="token-address" value="0xde0b295669a9fd93d5f28d9ec85e40f4cb697bae">
                            
                        </div><!-- .input-item -->
                        <div class="note note-plane note-danger">
                            <em class="fas fa-info-circle w-100" style="font-size:13px"> {{$t('dashboard.d_txt58')}}</em>
                        </div>
                        <div class="gaps-3x"></div>
                        <div class="d-sm-flex justify-content-between align-items-center">
                            <button class="btn btn-primary" type="submit">
                                <span v-if="!loading">{{$t('dashboard.Update_Wallet')}}</span>
                                <span v-else>{{$t('dashboard.Loading')}}</span>
                            </button>
                            <div class="gaps-2x d-sm-none"></div>
                            
                        </div>
                    </form><!-- form -->
                </div>
            </div><!-- .modal-content -->
        </div><!-- .modal-dialog -->
    </div>
</template>

<script>
export default {
    data(){
        return{
            wallet:{
                eth_wallet: ''
            },
            loading: false,
        }
    },
    methods:{
        updateEthWalet(){
            if(this.wallet.eth_wallet == 0 ){
                window.ToasterAlert('error', "Field must not be empty!")
                return false;
            }

            this.loading = true
            this.$store.dispatch('post', {
                endpoint: 'update-eth-wallet',
                details: this.wallet
            })
            .then((data) => {
                console.log(data);
                if(data.data.status){
                    var result = data.data.data;
                    result.token = this.$store.state.token
                    this.$store.commit('setUser', result);
                    window.ToasterAlert('success', data.data.message);
                    window.$('#edit-wallet').modal('hide');
                    
                    this.loading = false;
                }
            })
            .catch((error) => {
                console.log(error);
                
                this.loading = false;
            })
        }
    },
    created(){
        this.wallet.eth_wallet = this.$store.state.user.wallet.eth_wallet;
    }
}
</script>

<style>
    .text-left{
        text-align: left;
    }

    .text-float-left{
        float: left;
    }
</style>