<template>
    
    <ul class="nav nav-pills mx-0">
       
        <li role="presentation" class="dropdown ">
            <a class="nav-link-dropdown  l-d-t" @click="toggleD(langRan)" :style="'color:'+color" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                <img class="lang-ic" :src="languages[currentLanguage].icon" alt="">  
            </a>
            
            <ul class="dropdown-menu" role="menu" :id="langRan">
                <li v-for="(lang, index) in convertLanguage()" :key="index" >
                    <img class="lang-ic"  @click="changeLanguage(lang.code)" :src="lang.icon" alt=""  >
                </li>
            </ul>
        </li>
    </ul>
</template>
<script>
	import {mapState} from 'vuex';

	export default {
		props: ['color'],
		computed: {
			...mapState({
				currentLanguage: (state) => state.language,
			}),
		},

		data() {
			return {
				langRan:'',
				languages: {
					en: {
                        icon: '/assets/images/flag_us.png',
						name: 'English',
					},
					kr: {
                        icon: '/assets/images/flag_kor.png',
						name: '한국어',
					},
					// jp: {
                    //     icon: '/assets/img/country-icon/jp.png',
					// 	name: '日本語',
					// }
				},
			};
		},
		methods: {
			convertLanguage() {
				var list = [];
				for (var lang in this.languages) {
					var temp = this.languages[lang];
					temp.code = lang;
					list.push(temp);
				}
				list = list.filter((lg) => lg.code != this.currentLanguage);
				return list;
			},

			changeLanguage(code) {
				localStorage.setItem('language', code);
				window.location.reload();
			},
			toggleD(id){
				window.$('#'+id).toggleClass('show');
			},
		},

		created() {
			this.langRan = 'lang-show-toggle'+Math.floor(Math.random() * 1000)
			this.convertLanguage();
            // console.log(process.env.VUE_APP_DEFAULT_LANG);
		},
	}
</script>

<style >
	.db{
        display: block;
    }

    .lang-li{
        list-style: none;
    }
	.lang-li .nav-pills{
		justify-content: center;
	}

    .lang-img{
        width: 28px;
        height: 16px;
        margin-top: 4px;
        box-shadow: 1px 1px 3px grey;
        margin-right: 5px;
    }

    .lang-ic{
        box-shadow: 0px 0px 5px grey;
        border-radius: 15px;
    }

    .dropdown-menu {
        min-width: 5rem;
        padding: .5rem ;
        /* background: transparent;
        box-shadow: none;
        border: none; */
    }
</style>