<template>
	<!-- <div id="Dashboard" class="page-user"> -->
		<div class="nk-app-root">
			<div class="nk-main">
				<Navbar></Navbar>
				<div class="nk-wrap">
					<Header></Header>
					<div class="" >
						<router-view></router-view>
					</div>
					<Footer></Footer>
				</div>
			</div>
		</div>
	<!-- </div> -->
</template>

<script>
	import Header from '@/components/dashboard/header'
	import Footer from '@/components/dashboard/footer'
	import Navbar from '@/components/dashboard/nav'
	export default {
		components: {
			Header,
			Footer,
			Navbar
		},
		methods:{
		},
		created(){
			this.$store.dispatch('getDashboard');
		}
	};
</script>
