<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>
        BD COIN
    </title>
    <!-- <link rel="stylesheet" href="<%= BASE_URL %>assets/css/vendor.bundle.css">
    <link rel="stylesheet" href="<%= BASE_URL %>assets/css/style.css"> -->
    <!-- <link rel="stylesheet" href="style.css"> -->

    <link rel="stylesheet" href="<%= BASE_URL %>assets/css/style.css">
    <link rel="stylesheet" href="<%= BASE_URL %>assets/css/style2.css">
    <link rel="stylesheet" href="<%= BASE_URL %>assets/css/vendor.bundle.css">

    <link rel="stylesheet" href="<%= BASE_URL %>assets/assets2/css/dashlite.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- CSS only -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <link rel="preload" as="image" href="../../../assets/images/coin.png">
    <style>
        .toast-success {
            background-color: green;
        }

        html{
            scroll-behavior: smooth;
        }

        .toast-error {
            background-color: red;
        }

        .modal-backdrop.show {
            opacity: .5;
            display: block !important;
            z-index: 1 !important;
        }
        .timeline + .timeline, .timeline-list + .timeline-head{
            margin-top: 0px !important;
        }
        .noti-timeline{
            padding: 0px !important;
        }

        /* */
    </style>

</head>

<body class="page-user nk-body bg-lighter npc-general has-sidebar">
    <noscript>
        <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
                Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>

    
    <script src="<%= BASE_URL %>assets/assets2/js/bundle.js"></script>
    <script src="<%= BASE_URL %>assets/assets2/js/scripts.js"></script>
    <script src="<%= BASE_URL %>assets/js/jquery-3.6.0.min.js"></script>
    <script src="<%= BASE_URL %>assets/js/jquery.bundle.js"></script>
    <script src="<%= BASE_URL %>assets/js/script.js"></script>
    <script src="https://unpkg.com/bowser@2.7.0/es5.js"></script>
    <script src="./assets/js/three.js"></script>
    <script src="./assets/js/image-mapper.js"></script>
    <script src="./assets/js/maphighlight.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cannon.js/0.6.2/cannon.min.js"></script>
    <script src="<%= BASE_URL %>assets/js/main.js"></script>
    <script>
        function ToasterAlert(type, msg) {
            // alert('lekan')
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-bottom-center",
                "preventDuplicates": false,
                "showDuration": "1000",
                "hideDuration": "1000",
                "timeOut": "4000",
                "extendedTimeOut": "1000"
            }
            if (type == 'success') {
                toastr.success('<em class="ti ti-check toast-message-icon"></em> ' + msg);
            }
            if (type == 'error') {
                toastr.error('<em class="ti ti-na toast-message-icon"></em>' + msg);
            }
            if (type == 'info') {
                toastr.info('<em class="ti ti-filter toast-message-icon"></em>' + msg);
            }
        }
        function SweetAlert(type, msg) {
            swal("", msg, type);
            // e.preventDefault();
        }
    </script>
    <script>
        (function ($) {
            "use strict";
            var navbarCollapse = function () {
                if (window.scrollY > 100) {
                    $("#mainNav").addClass("navbar-scrolled");
                } else {
                    $("#mainNav").removeClass("navbar-scrolled");
                }
            };
            navbarCollapse();
            $(window).scroll(navbarCollapse);

            $('a.js-scroll-trigger[href*="#"]:not([href="#"])').click(function () {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html, body').animate({
                            scrollTop: (target.offset().top - 72)
                        }, 1000, "easeInOutExpo");
                        return false;
                    }
                }
            });

            $('.js-scroll-trigger').click(function () {
                $('.navbar-collapse').collapse('hide');
            });

            $('body').scrollspy({
                target: '#mainNav',
                offset: 75
            });

            $('#portfolio').magnificPopup({
                delegate: 'a',
                type: 'image',
                tLoading: 'Loading image #%curr%...',
                mainClass: 'mfp-img-mobile',
                gallery: {
                    enabled: true,
                    navigateByImgClick: true,
                    preload: [0, 1]
                },
                image: {
                    tError: '<a href="%url%">The image #%curr%</a> could not be loaded.'
                }
            });

        })(jQuery);
    </script>
    <script>
        $(function () {
            $('.genealogy-tree ul').hide();
            $('.genealogy-tree>ul').show();
            $('.genealogy-tree ul.active').show();
            $('.genealogy-tree li').on('click', function (e) {
                let children = $(this).find('> ul');
                if (children.is(':visible')) children.hide('fast').removeClass('active');
                else children.show('fast').addClass('active');
                e.stopPropagation();
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#openSvg').click(function () {
                console.log('hbccvhhdb');
                $('.mobile-top-bar').addClass('active');
            });
            $('.close').click(function () {
                $('.mobile-top-bar').removeClass('active');
            });

            $('.mobile-top-bar .click').click(function () {
                $('.mobile-top-bar').removeClass('active');
            });

        });

    </script>
    <script defer src="https://kit.fontawesome.com/f45c4e66ef.js" crossorigin="anonymous"></script>
    <!-- JavaScript Bundle with Popper -->
</body>

</html>