<template>
    <div class="container" style="margin-top: 100px;">
        <div class="character-wrapper">
            <div class="col-xl-12 col-lg-12">
                <div class="token-transaction character-container card">
                    <div class="card-innr">
                        <div class="card-head has-aside">
                            <h4 class="card-title">{{$t('dashboard.Buy_Characters')}}</h4>
                            <!-- <div class="card-opt">
                                <router-link to="/transactions" class="link ucap">View ALL <em class="fas fa-angle-right ml-2"></em></router-link>
                            </div> -->
                        </div>
                        <div v-if="user.employee == 0">
                            <form @submit.prevent="addCharacter(0)" class="text-left">
                                <div class="form-group">
                                    <label for="" class="mb-1">Amount</label>
                                    <input type="text" v-model="amount" class="form-control" style="max-width: 30em;height: 44px;font-size:18px">
                                </div>
                                <button type="submit" class="btn btn-primary">
                                    <span v-if="!sending">Buy Character</span>
                                    <span v-else>Loading...</span>
                                </button>
                            </form>
                        </div> 
                        <div v-if="!loading" class="characters">
                            <div v-for="(item,index) in characters" :key="index" class="character">
                                <a :class="{selected:selected_character.id == item.id}" @click="selectCharacter(item)" href="javascript:void(0)">
                                    <div class="character-inner">
                                        <div class="character-img-wrapper">
                                            <div class="c-img-bg">
                                                <h4 class="char-title">{{item.title}}</h4>
                                                <img :src="item.url" class="character-img" alt="">
                                            </div>
                                        </div>                       
                                        <div class="ch-content">
                                            <h2 class="ch-title">{{formatPrice(item.price_p)}}P</h2>
                                            <p class="ch-text">
                                                {{formatPrice(item.price_usd)}} {{$t('dashboard.USD')}}
                                            </p>
                                            <button @click="selectCharacter(item)" class="c-footer-btn btn btn-block">{{$t('dashboard.Purchase')}}</button>
                                        </div>
                                    </div>
                                </a>
                            </div> 
                        </div>
                        <div v-else class="characters text-center">
                            <small>Loading..</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Centered -->
        <div class="modal fade" id="modal-centered" tabindex="-1">
            <div class="modal-dialog modal-dialog-sm modal-dialog-centered">
                <div class="modal-content">
                    <a href="#" class="modal-close" data-dismiss="modal" aria-label="Close"><em class="ti ti-close"></em></a>
                    <div class="popup-body">
                        <h3 style="font-size:1em;color:black;" class="popup-title text-left">{{$t('dashboard.Character_Details')}}</h3>
                        <div class="pay-option" style="position:relative">
                            <input class="pay-option-check" type="radio" id="payeth" name="payOption" checked>
                            <label class="pay-option-label" style="padding:10px" for="payeth">
                                <span class="pay-title">
                                    <img :src="selected_character.icon_url" class="mr-1" width="20px" alt="">
                                    <span class="pay-cur">{{selected_character.title}}</span>
                                </span>
                                <span class="pay-amount">{{selected_character.price_usd}} {{$t('dashboard.USD')}}</span>
                            </label>
                        </div>

                        <div class="pay-button p-0">
                            <!-- <a data-dismiss="modal" href="#modal-centered-payment" data-toggle="modal" class="btn btn-light-alt btn-between w-50"> -->
                                <a @click="addCharacter(selected_character.id)" href="javascript:void(0)" class="btn btn-primary btn-between w-40 mr-3">
                                    <span v-if="sending">Loading...</span>
                                    <span v-else>{{$t('dashboard.Pay_with_gp')}}</span>
                                    <em class="ti ti-wallet"></em>
                                </a> 
                                <a href="javascript:void(0)" class="btn btn-secondary btn-between w-40">
                                    <span >{{$t('dashboard.Pay_with_pdk')}}</span>
                                    <em class="ti ti-wallet"></em>
                                </a> 
                        </div>
                    </div>
                </div><!-- .modal-content -->
            </div><!-- .modal-dialog -->
        </div>
        <!-- Modal End -->
 
         <!-- Modal Centered -->
        <div class="modal fade" id="modal-centered-payment" tabindex="-1">
            <div class="modal-dialog modal-dialog-md modal-dialog-centered">
                <div class="modal-content">
                    <a href="#" class="modal-close" data-dismiss="modal" aria-label="Close"><em class="ti ti-close"></em></a>
                    <div class="popup-body">
                        <h3 style="font-s1ize:1em;color:black;" class="popup-title text-left mb-2">{{$t('dashboard.d_txt7')}}</h3>
                        <div class="d-flex">
                            <h4 class="text-primary"><b>0.332 BMW</b></h4>
                            <b class="ml-3">{{$t('dashboard.to')}}</b>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-9">
                                <div class="address">
                                    0xbdd4fa1d05ef5f1c26ed0eb8cdc942dd5e7344d   
                                </div> 
                                <div class="pay-button d-flex p-0 mt-4" style="justify-content:space-between">
                                    <a style="width:100px" href="javascript:void(0)" class="btn btn-light-alt btn-between">
                                        {{$t('dashboard.Copy_Address')}}
                                        <em class="ti ti-files"></em>
                                    </a>
                                    <a style="width:100px" href="javascript:void(0)" class="btn btn-primary-alt btn-between">
                                        {{$t('dashboard.Copy_Amount')}}
                                        <em class="ti ti-files"></em>
                                    </a>
                                </div>
                                <div class="mt-3">
                                    <a data-dismiss="modal" @click="completePayment()" style="width:auto;border:none" href="javascript:void(0)" class="btn btn-secondary d-block m-auto">
                                        {{$t('dashboard.d_txt8')}}
                                    </a>
                                    <a data-dismiss="modal" style="width:auto;border:none" href="javascript:void(0)" class="btn text-danger d-block">
                                        {{$t('dashboard.Cancel_Purchase')}}
                                    </a>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <img src="http://3.19.73.249/assets/images/qrcode.svg" style="max-width:120px" alt="">
                                
                            </div>
                        </div> 
                    </div>
                </div><!-- .modal-content -->
            </div><!-- .modal-dialog -->
        </div>
        <!-- Modal End -->
    </div>
</template>

<script> 
import {mapState} from 'vuex'
export default {
    computed:{
        ...mapState({
            user: (context)=>context.user
        })
    },
    components:{ 
    },
    data(){
        return {
            characters:[],
            selected_character:{},
            amount:0,
            paymentDetails:{
                address:'0X3DEEI48J8W9J8D0P',
                amount:500,
                usd:0,
                currency:'BMW',
                currency_code:"BMW",
                barcode:''
            },
            loading:false,
            sending:false,
        }
    },
    methods:{
        formatPrice(value) {
            let val = (value/1).toFixed(0).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        },
        addCharacter(character_id){ 
            if(this.$store.state.user.active_character){
                window.ToasterAlert('error', 'You have an active character.');
                return false;
            }

            if(this.user.employee == 0 && this.amount < 1){
                window.ToasterAlert('error', 'Amount field must be greater than 0.');
                return false;
            }

            this.sending=true;
            this.$store.dispatch('post', {
                endpoint:'attach-user-character',
                details:{character:character_id,amount:this.amount}
            })
            .then((data)=>{
                this.sending=false;
                
                if(!data.data.status){
                    window.ToasterAlert('error', data.data.message);
                    return false;
                }
                var result = data.data.user
                result.token=this.$store.state.token;
                this.$store.commit('setUser',result);
                window.$('#modal-centered').modal('hide');
                window.ToasterAlert('success', ' Character has been added successfully to your profile');
                window.location="/dashboard";
            })
            .catch((error)=>{
                this.sending=false;
                console.log(error);
            });

            
        },
        completePayment(){
            window.ToasterAlert('success', ' Purchase of character card has be completed');
            this.$router.push({name:'dashboard'});
        },
        selectCharacter(item){
            this.selected_character = item;
            window.$("#modal-centered").modal('show');
        },
        getCharacters(){
            if(this.user.employee == 1){
                this.$store.dispatch('get','get-characters')
                .then((data)=>{
                    console.log(data);
                    this.characters = data.data
                })
                .catch((error)=>{
                    console.log(error.request);
                });
            }
                
        },
    },
    created() {
        console.log(this.$store.state.user)
        // if(this.user.employee == 1){
            this.getCharacters()
        // }
        
    },
}
</script>


<style scoped>
    .char-title{
        color: white;
        padding: 10px 0px;
        font-weight: 600;
        display: block;
    }
    .character-container{
        
    }
    .selected .c-footer-btn{
        background: turquoise;
        border-radius: 10px;
    }
    .character:hover .c-footer-btn{
        background: turquoise;
        border-radius: 10px;
    }
    .character:hover .character-img{
        transform: scale(1.1);
    }
    .character{
        display: inline-block;
        margin: 0px 20px 20px 20px !important;
        
    }
    .character-inner{
        background: white;
        width: 290px;
        box-shadow: 1px 5px 8px lightgrey;
        border-radius: 10px;
        overflow: hidden;
    }

    .c-img-bg{
        background: black; 
        position: relative;
        padding: 20px 0px;
    }

    .character-img{
        width: 150px;
        height: 150px;
        margin: auto;
        transition: all .2s linear;
    }

    .ch-title{
        font-size: 28px;
        font-weight: 600;
        padding: 15px 0px 0px;
    }

    .ch-content{
        position: relative;
        padding: 19px 11px;
        
    }

    .c-btn-1{ 
        width: fit-content;
        left: 0;
        right: 0;
        margin: auto;
        padding: 10px 10px; 
    }

    .c-footer-btn{
        padding: 7px 5px;
    }

    .ch-text{
        padding: 6px 0px;
        font-size: 14px;
    }

    .c-footer-btn{
        color: grey;
        border: none;
        border: 2px solid transparent;
    }
    .address{
        padding: 10px 0px;
        background: #d3d3d340;
    }
</style>