<template>
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-12 order-lg-first">
                    <walletBalance/>
                </div>
                <div class="col-lg-4 p-0 m-0 order-lg-last">
                    <div class="row m-0 p-0">
                        <div class="col-12">
                            <router-link :to="{name:'tree'}">
                                <div class="token-information card card-full-height" style="background:#212529">
                                    <div class="row no-gutters height-100">
                                        <div class=" col-md-12">
                                            <div class="card-innr r" style="padding: 10px 30px;">
                                                <!-- <em class="icon ni ni-network"></em> -->
                                                <em class="icon ni ni-network d-block my-3" style="font-size:40px; color:#fff"></em>
                                                <h6 class="card-title p-0 card-title-sm noti-cTxt text-white text-center" style="font-size:42px">{{user.children_length}}</h6>
                                                <h6 class="card-title m-0 p-0 card-title-sm noti-cTxt text-white text-center">{{$t('dashboard.my_genealogy')}}</h6>
                                                <small style="color:#fff">{{$t('dashboard.d_txt9')}}</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </router-link>
                        </div>
                        <div class="col-12">
                            <div class="token-information card card-full-height">
                                <div class="row no-gutters height-100">
                                    <div class="col-md-12">
                                        <div class="card-innr">
                                            <h6 class="card-title card-title-sm noti-cTxt">{{$t('dashboard.Earn_with_Referral')}}</h6>
                                            <p class=" pdb-0-5x noti-txt">{{$t('dashboard.d_txt10')}} &amp; {{$t('dashboard.d_txt11')}} <strong><span class="text-primary"> {{$t('dashboard.bonus')}} </span>{{$t('dashboard.d_txt12')}} </strong></p>
                                            <div class="copy-wrap mgb-0-5x">
                                                <span class="copy-feedback"></span>
                                                <em class="fas fa-link"></em>
                                                <input type="text" class="copy-address" :value="url" disabled>
                                                <button class="copy-trigger copy-clipboard" :data-clipboard-text="url"><em class="ti ti-files"></em></button>
                                            </div><!-- .copy-wrap -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- .card -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 p-0 m-0">
                    <div class="row p-0 m-0">
                        <div class="col-12">
                            <div class="card card-full-height" style="background:transparent">
                                <div class="card-innr p-0 pt-2 pl-3 pr-3 bg-white">
                                    <div class="card-head has-aside p-0 mb-2">
                                        <h4 class="card-title p-0">Active Characters</h4> 
                                    </div>
                                    <div v-for="(chr, index) in user.character" :key="index" class="pay-option pt-0" :class="{active:user.active_character && user.active_character.id == chr.id}" style="position:relative">
                                        <label class="pay-option-label" style="padding:10px" for="payeth">
                                            <span class="pay-title">
                                                <img :src="chr.icon_url" class="mr-1" width="20px" alt="">
                                                <span class="pay-cur">{{chr.title}}</span>
                                            </span>
                                            <span class="pay-amount">{{formatPrice(chr.price_p)}} P</span>
                                        </label>
                                    </div>
                                    <div v-if="user.active_character == null" class="mt-3">
                                        <router-link :to="{'name':'character'}">{{$t('dashboard.buy_character_now')}}</router-link>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="col-12">
                            <div class="card card-full-height">
                                <div class="card-innr p-0 pt-2 pl-sm-2 pr-sm-2 pl-1 pr-1">
                                    <div class="card-head has-aside">
                                        <h4 class="card-title">{{$t('dashboard.Recent_Notifications')}}</h4>
                                        <div class="card-opt">
                                            <router-link to="/notifications" class="link ucap">{{$t('dashboard.View_ALL')}} <em class="fas fa-angle-right ml-2"></em></router-link>
                                        </div>
                                    </div>
                                    <div class="chart-tokensale">
                                        <recent-notifications />
                                        <!-- .card -->
                                    </div>
                                </div>
                            </div>
                            <!-- .card -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- .row -->
            
            <!-- .row -->
        </div>
        <!-- .container -->
    </div>
</template>

<script>
import walletBalance from './wallet-balance.vue'
import {mapState} from 'vuex';
import RecentNotifications from './recent-notifications.vue';

export default {
    components:{
        walletBalance,
        RecentNotifications
    },
    computed: {
        ...mapState({
            user: (context) => context.user,
            token: (context) => context.token,
        }),
    },
    methods: {
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        }
    },
    data(){
        return {
            url:window.location.origin+'?referral='+ this.$store.state.user.referral_code,
        }
    },
    created() { 
        // window.ToasterAlert('error', 'Hello world ,mvjknjf jvbrjvb')
        console.log(this.user)
    },
}
</script>

<style>
.pay-option.active .pay-option-label{
    border: 1px solid #f4623a;
}
.genealogy{
    font-size: 100px;
    transform: rotate(90deg);
    display: block;
    color: white;
}
.token-info-list{
    padding-bottom: 2px;
    text-align: left;
}
.table td{
    text-align: left;
}
.table thead th{
    text-align: left;
}
.card-innr .card-title{
    font-weight: 600;
}

.chart-tokensale {
    height: fit-content !important;
}

.noti-txt{
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 7px;
}

.noti-cTxt{
    text-align: left;
}
</style>