<template>
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="token-sale-graph card card-full-height">
                        <div class="card-innr">
                            <div class="card-head has-aside">
                                <h4 class="card-title">{{$t('dashboard.Notifications')}}</h4>
                            </div>
                            <div class="">
                                <div class="card content-area">
                                    <div class="card-innr noti-innr">
                                        <div v-for="(notification, index) in notifications" :key="index">
                                            <notification-item :notification="notification" />
                                        </div>
                                    </div><!-- .card-innr -->
                                </div>
                                <!-- .card -->
                            </div>
                            <div v-if="!loading">
                                <a v-if="!is_finished" href="#"  @click.prevent="getNotifications()">{{$t('dashboard.Load_More')}}</a>
                            </div>
                            <div v-else>
                                <a  href="#"  >{{$t('dashboard.Loading')}}</a>
                            </div>
                        </div>
                    </div>
                    <!-- .card -->
                </div>
            </div>
        </div><!-- .container -->
    </div><!-- .page-content -->
</template>

<script>
import notificationItem from '../../components/dashboard/notification-item.vue';
export default {
  components: { notificationItem },
    data(){
        return{
            notifications: [],
            details:{
                limit: 10,
            },
            current_page:0,
            is_finished:false,
            loading:false
        }
    },
    methods:{
        getNotifications(){
            var page = this.current_page+1;

            this.loading = true
            this.$store.dispatch('get', 'notifications?page='+page)
            .then((data) => {
                console.log(data);
                this.notifications = [...this.notifications, ...data.data.data];
                this.current_page = data.data.current_page;
                if(data.data.next_page_url == null) this.is_finished = true;

                this.loading = false;
            })
            .catch((error) => {
                console.log(error);
                this.loading = false;
            });
        }
    },
    created(){
        this.getNotifications();

        
    }
}
</script>

<style>
    .notification-title{
        text-align: left;
        padding-left: 13px;
    }
</style>