<template>
    <div class="page-content" style="margin-top: 100px;">
        <div class="container">
            <div class="row">
                <div class="main-content col-lg-8">
                    <div class="content-area card  ">
                        <div class="card-innr">
                            <div class="card-head">
                                <h4 class="card-title">{{$t('dashboard.Profile_Details')}}</h4>
                            </div>
                            <ul class="nav nav-tabs nav-tabs-line" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" :class="{'active':tab=='personal'}" data-toggle="tab" href="#personal-data">{{$t('dashboard.Personal_Data')}}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" :class="{'active':tab=='password'}" data-toggle="tab" href="#password">{{$t('dashboard.Password')}}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" :class="{'active':tab=='activities'}" data-toggle="tab" href="#activities">{{$t('dashboard.Recent_Activities')}}</a>
                                </li>
                            </ul><!-- .nav-tabs-line -->
                            <div class="tab-content" id="profile-details">
                                <div class="tab-pane fade show active" id="personal-data">
                                    <form @submit.prevent="updateProfile()">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="input-item input-with-label">
                                                    <label for="username" class="input-item-label">{{$t('dashboard.username')}}</label>
                                                    <input class="input-bordered" disabled type="text" id="username" name="username" :value="user.username">
                                                </div><!-- .input-item -->
                                            </div>
                                            <div class="col-12">
                                                <div class="input-item input-with-label">
                                                    <label for="full-name" class="input-item-label">{{$t('dashboard.First_Name')}}</label>
                                                    <input class="input-bordered" type="text" id="full-name" name="full-name" v-model="user.firstname">
                                                </div><!-- .input-item -->
                                            </div>
                                            <div class="col-12">
                                                <div class="input-item input-with-label">
                                                    <label for="full-name" class="input-item-label">{{$t('dashboard.Last_Name')}}</label>
                                                    <input class="input-bordered" type="text" id="full-name" name="full-name" v-model="user.lastname">
                                                </div><!-- .input-item -->
                                            </div>
                                            <div class="col-12">
                                                <div class="input-item input-with-label">
                                                    <label for="email-address" class="input-item-label">{{$t('dashboard.Email_Address')}}</label>
                                                    <input class="input-bordered" type="text" disabled id="email-address" name="email-address" v-model="user.email">
                                                </div><!-- .input-item -->
                                            </div>
                                            <div class="col-12">
                                                <div class="input-item input-with-label">
                                                    <label for="mobile-number" class="input-item-label">{{$t('dashboard.Phone')}}</label>
                                                    <input class="input-bordered" type="text" id="mobile-number" name="mobile-number" v-model="user.phone">
                                                </div><!-- .input-item -->
                                            </div>
                                            <div class="col-12">
                                                <div class="input-item input-with-label">
                                                    <label for="date-of-birth" class="input-item-label">{{$t('dashboard.Date_of_Birth')}}</label>
                                                    <input class="input-bordered date-picker-dob" v-model="user.dob" type="text" id="date-of-birth" name="date-of-birth">
                                                </div><!-- .input-item -->
                                            </div><!-- .col -->
                                        </div><!-- .row -->
                                        <div class="gaps-1x"></div><!-- 10px gap -->
                                        <div class="d-sm-flex justify-content-between align-items-center">
                                            <button class="btn btn-primary" type="submit">
                                                <span v-if="!loading">{{$t('dashboard.Update_Profile')}}  </span>
                                                <span v-else>{{$t('dashboard.Updating')}}...</span>    
                                            </button>
                                            <div class="gaps-2x d-sm-none"></div>
                                        </div>
                                    </form><!-- form -->
                                </div><!-- .tab-pane -->

                                <div class="tab-pane fade" id="password">
                                    <form @submit.prevent="updatePassword()">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="input-item input-with-label">
                                                    <label for="old-pass" class="input-item-label">{{$t('dashboard.Old_Password')}}</label>
                                                    <input class="input-bordered" v-model="psw.old_password" type="password" id="old-pass" name="old-pass">
                                                </div><!-- .input-item -->
                                            </div><!-- .col -->
                                        </div><!-- .row -->
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="input-item input-with-label">
                                                    <label for="new-pass" class="input-item-label">{{$t('dashboard.New_Password')}}</label>
                                                    <input class="input-bordered" v-model="psw.password" type="password" id="new-pass" name="new-pass">
                                                </div><!-- .input-item -->
                                            </div><!-- .col -->
                                            <div class="col-12">
                                                <div class="input-item input-with-label">
                                                    <label for="confirm-pass" class="input-item-label">{{$t('dashboard.Confirm_New_Password')}}</label>
                                                    <input class="input-bordered" v-model="psw.password_confirmation" type="password" id="confirm-pass" name="confirm-pass">
                                                </div><!-- .input-item -->
                                            </div><!-- .col -->
                                        </div>
                                        <div class="gaps-1x"></div><!-- 10px gap -->
                                        <div class="d-sm-flex justify-content-between align-items-center">
                                            <button class="btn btn-primary" type="submit">
                                                <span v-if="!loading">{{$t('dashboard.Update')}}</span>
                                                <span v-else>{{$t('dashboard.Updating')}}...</span>
                                            </button>
                                        </div>
                                    </form>
                                </div><!-- .tab-pane -->
                                <div class="tab-pane fade" id="activities">
                                    <Activites/>
                                </div><!-- .tab-pane -->
                            </div><!-- .tab-content -->
                        </div><!-- .card-innr -->
                    </div><!-- .card -->
                </div><!-- .col -->
                <div class="aside sidebar-right col-lg-4">
                    <div class="account-info card">
                        <div class="card-innr">
                            <h6 class="card-title card-title-sm">{{$t('dashboard.Your_Account_Status')}}</h6>
                            <ul class="btn-grp">
                                <li><a href="#" class="btn btn-auto btn-xs btn-success">{{$t('dashboard.Email_Verified')}}</a></li>
                                <li><a href="#" class="btn btn-auto btn-xs btn-success">{{$t('dashboard.Phone_Pending')}}</a></li>
                            </ul> 
                        </div>
                    </div>
                    <div class="account-info card">
                        <div class="card-innr"> 
                            <h6 class="card-title card-title-sm">TRON Wallet address</h6>
                            <div class="d-flex justify-content-between">
                                <span >
                                    <span v-if="user.wallet.eth_wallet"> {{user.wallet.eth_wallet}} </span>
                                    <span v-else> <small>Tron wallet address </small> </span>
                                </span>
                                <a href="#" data-toggle="modal" data-target="#edit-wallet" class="link link-ucap">{{$t('dashboard.Edit')}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="account-info card">
                        <div class="card-innr"> 
                            <h6 class="card-title card-title-sm">J-bit Wallet Address</h6>
                            <div class="d-flex justify-content-between">
                                <span >
                                    <span v-if="user.wallet.jbit_address"> {{user.wallet.jbit_address}} </span>
                                    <span v-else> <small>{{$t('dashboard.d_txt13')}}</small> </span>
                                </span>
                                <a href="#" data-toggle="modal" data-target="#jbit-address" class="link link-ucap">{{$t('dashboard.Edit')}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="referral-info card">
                        <div class="card-innr">
                            <h6 class="card-title card-title-sm">{{$t('dashboard.Earn_with_Referral')}}</h6>
                            <p class=" pdb-0-5x">{{$t('dashboard.d_txt14')}} &amp; {{$t('dashboard.d_txt15')}} <strong><span class="text-primary">{{$t('dashboard.bonus')}}</span> {{$t('dashboard.d_txt16')}}</strong></p>
                            <div class="copy-wrap mgb-0-5x">
                                <span class="copy-feedback"></span>
                                <em class="fas fa-link"></em>
                                <input type="text" class="copy-address" :value="url" disabled>
                                <button class="copy-trigger copy-clipboard" :data-clipboard-text="url"><em class="ti ti-files"></em></button>
                            </div><!-- .copy-wrap -->
                        </div>
                    </div>
                </div><!-- .col -->
            </div><!-- .container -->
        </div><!-- .container -->
        <editWalletModal/>
        <jbit-addess-modal/>
    </div>
</template>

<script>
import {mapState} from 'vuex'
// import notification from '../../components/notification.vue'
import Activites from '../../components/profile/activites.vue'
import editWalletModal from '../../components/profile/edit-wallet-modal'
import JbitAddessModal from '../../components/profile/jbit-addess-modal.vue'
export default {
  components: {Activites, editWalletModal, JbitAddessModal },
    computed: {
		...mapState({
			user: (context) => context.user,
		}),
	},
    data(){
        return {
            loading:false,
            psw:{
                password:'',
                old_password:'',
                password_confirmation:''
            },
            tab:'personal',
            url:window.location.origin+'/account/register?referral='+ this.$store.state.user.referral_code
        }
    },
    methods:{
        updateProfile(){
            this.loading = true
            this.$store.dispatch('post', {endpoint:'update-profile', details:this.user})
            .then((data)=>{
                this.loading = false
                console.log(data.data)
                if(data.data.status){
                    window.ToasterAlert('success', 'Profile updated successfully')
                    // this.$store.commit('setToastNotification', {type: 'success', msg: 'Profile updated successfully'});
                    var details = data.data.data
                    details.token = this.$store.state.token
                    this.$store.commit('setUser', data.data.data)
                }else{
                    window.ToasterAlert('error', data.data.msg)
                    // this.$store.commit('setToastNotification', {type: 'error', msg: data.data.mdg});
                }
            })
            .catch((error)=>{
                this.loading = false
                console.log(error)
            })
        },
        updatePassword(){
            if(this.psw.old_password.length == 0 || this.psw.password.length == 0 || this.psw.password_confirmation.length == 0){
                window.ToasterAlert('error', 'All fields are required')
                // this.$store.commit('setToastNotification', {type: 'error', msg: 'All fields are required'});
                return false
            }
            if(this.psw.password !== this.psw.password_confirmation){
                window.ToasterAlert('error', 'Password and confirm password do not match')
                // this.$store.commit('setToastNotification', {type:'error', msg: 'Password and confirm password do not match'});
                return false
            }
            this.loading = true
            this.$store.dispatch('post', {endpoint:'update-password', details: this.psw})
            .then((data)=>{
                console.log(data.data)
                this.loading = false
                if(data.data.status){
                    window.ToasterAlert('success', 'Password updated successfully')
                    // this.$store.commit('setToastNotification', {type: 'success', msg: 'Password updated successfully'});
                }else{
                    window.ToasterAlert('error', data.data.msg)
                    // this.$store.commit('setToastNotification', {type: 'error', msg: data.data.msg});
                }
            })
            .catch((error)=>{
                this.loading = false
                this.$store.dispatch('handleError', error)
            })
        },
        
    },
    created(){
        if(this.$route.query.tab){
            this.tab = this.$route.query.tab;
        }
        
        // this.$store.commit('setToastNotification', {type:'success',msg:'Toast notify'})
        // window.SweetAlert('success','Successful');
        // window.ToasterAlert('error','Hello world');
    }
}
</script>

<style scoped>
.nav-link{
    font-weight: 600;
}
.input-item{
    text-align: left;
    padding-bottom: 7px;
}
.input-item-label{
    margin-bottom: 0;
    font-weight: 600;
}
.card-innr{
    text-align: left;
}
.card-innr .card-title-sm{
    font-weight: 600;
}
.card-innr .card-title{
    font-weight: 600;
}

.data-col{
    text-transform: capitalize !important;
}
</style>