<template>
    <!-- <div class="card content-area m-0">
        <div class="card-innr noti-innr pb-0 pt-3 pl-0"> -->
            <div>
                <div class="timeline noti-timeline" v-for="(notification, index) in user.recent_notifications" :key="index">
                    <notification  :notification="notification"/>
                </div>
            </div>
        <!-- </div>
    </div> -->
</template>

<script>
import {mapState} from 'vuex';
import Notification from '../../components/dashboard/notification-item';
export default {
    components:{
        notification: Notification
    },
    computed: {
        ...mapState({
            user: (context) => context.user,
            token: (context) => context.token,
        }),
    },
    // data(){
    //     return{
    //         colors:[
    //             'success',
    //             'primary',
    //             'secondry',
    //             'danger',
    //             'warning'
    //         ],
    //         selectedColor: ''
    //     }
    // },
    // methods:{
    //     colorGenerator(){
    //         const color =  Math.floor(Math.random() * this.colors.length);
    //         this.selectedColor = this.colors[color];
    //         console.log(this.selectedColor);
    //     }
    // },
    // created(){
    //     this.colorGenerator();
    // }
}
</script>

<style>
    .timeline-content p, .noti-date{
        text-align: left !important;
    }

    .noti-title{
        text-align: left;
        font-size: 13px;
        font-weight: 700;
    }

    .noti-content{
        margin: -2px 0 10px 25px;
    }

    .noti-timeline{
        padding-top: 0;
    }

    .noti-txt-body{
        font-size: 14px;
        color: #495463;
    }

    .noti-innr{
        padding-left: 12px;
    }

    .noti-timeline-time{
        margin: -5px 0;
    }
    @media(max-width: 413px){
        .timeline-line {
            left: 57px;
        }
        .noti-content .noti-title{
            margin-bottom: 2px;
        }
        .noti-content {
            margin: -60px 0 33px 70px;
        }
        .timeline-time {
            width: 57px;
        }
        .timeline-time:after{
            right: -8px;
        }
    }
</style>