<template>
    <div class="modal fade" id="transaction-details" tabindex="-1">
        <div class="modal-dialog modal-dialog-lg modal-dialog-centered">
            <div class="modal-content">
                <a href="#" class="modal-close" data-dismiss="modal" aria-label="Close"><em class="ti ti-close"></em></a>
                <div class="popup-body popup-body-lg">
                    <div class="content-area">
                        <div class="card-head d-flex justify-content-between align-items-center">
                            <h4 class="card-title mb-0">{{$t('dashboard.Transaction_Details')}}</h4>
                        </div>
                        <div class="gaps-1-5x"></div>
                        <div class="data-details d-md-flex">
                            <div class="fake-class">
                                <span class="data-details-title">{{$t('dashboard.Tranx_Date')}}</span>
                                <span class="data-details-info">24 Jul, 2018 10:11PM</span>
                            </div>
                            <div class="fake-class">
                                <span class="data-details-title">{{$t('dashboard.Tranx_Status')}}</span>
                                <span class="badge badge-success ucap">Approved</span>
                            </div>
                            <div class="fake-class">
                                <span class="data-details-title">{{$t('dashboard.Tranx_Approved_Note')}}</span>
                                <span class="data-details-info">{{$t('dashboard.By')}} <strong>{{$t('dashboard.Admin')}}</strong> at 24 Jul, 2018 10:12PM</span>
                            </div>
                        </div>
                        <div class="gaps-3x"></div>
                        <h6 class="card-sub-title">{{$t('dashboard.Transaction_Info')}}</h6>
                        <ul class="data-details-list">
                            <li>
                                <div class="data-details-head">{{$t('dashboard.Transaction_Type')}}</div>
                                <div class="data-details-des"><strong>Purchase</strong></div>
                            </li><!-- li -->
                            <li>
                                <div class="data-details-head">{{$t('dashboard.Payment_Gateway')}}</div>
                                <div class="data-details-des"><strong>Ethereum <small>{{$t('dashboard.Offline_Payment')}}</small></strong></div>
                            </li><!-- li -->
                            <li>
                                <div class="data-details-head">{{$t('dashboard.Deposit_From')}}</div>
                                <div class="data-details-des"><strong>0xa87d264f935920005810653734156d3342d5c385</strong></div>
                            </li><!-- li -->
                            <li>
                                <div class="data-details-head">{{$t('dashboard.Tx_Hash')}}</div>
                                <div class="data-details-des"><span>Tx156d3342d5c87d264f9359200xa058106537340385c87d264f93</span> <span></span></div>
                            </li><!-- li -->
                            <li>
                                <div class="data-details-head">{{$t('dashboard.Deposit_To')}}</div>
                                <div class="data-details-des"><span>0xa058106537340385156d3342d5c87d264f935920</span> <span></span></div>
                            </li><!-- li -->
                            <li>
                                <div class="data-details-head">{{$t('dashboard.Details')}}</div>
                                <div class="data-details-des">Tokens Purchase</div>
                            </li><!-- li -->
                        </ul><!-- .data-details -->
                        <div class="gaps-3x"></div>
                        <h6 class="card-sub-title">{{$t('dashboard.Token_Details')}}</h6>
                        <ul class="data-details-list">
                            <li>
                                <div class="data-details-head">{{$t('dashboard.Stage_Name')}}</div>
                                <div class="data-details-des"><strong>ICO Phase 3</strong></div>
                            </li><!-- li -->
                            <li>
                                <div class="data-details-head">{{$t('dashboard.Contribution')}}</div>
                                <div class="data-details-des">
                                    <span><strong>1.000 ETH</strong> <em class="fas fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="1 ETH = 100 TWZ"></em></span>
                                    <span><em class="fas fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="1 ETH = 100 TWZ"></em> $2540.65</span>
                                </div>
                            </li><!-- li -->
                            <li>
                                <div class="data-details-head">{{$t('dashboard.Tokens_Added_To')}}</div>
                                <div class="data-details-des"><strong>UD1020001 <small>- infoicox@gmail..com</small></strong></div>
                            </li><!-- li -->
                            <li>
                                <div class="data-details-head">{{$t('dashboard.Token_T')}}</div>
                                <div class="data-details-des">
                                    <span>4,780.00</span>
                                    <span>(4780 * 1)</span>
                                </div>
                            </li><!-- li -->
                            <li>
                                <div class="data-details-head">{{$t('dashboard.Bonus_Tokens_B')}}</div>
                                <div class="data-details-des">
                                    <span>956.00</span>
                                    <span>(956 * 1)</span>
                                </div>
                            </li><!-- li -->
                            <li>
                                <div class="data-details-head">{{$t('dashboard.Total_Tokens')}}</div>
                                <div class="data-details-des">
                                    <span><strong>5,736.00</strong></span>
                                    <span>(T+B)</span>
                                </div>
                            </li><!-- li -->
                        </ul><!-- .data-details -->
                    </div><!-- .card -->
                </div>
            </div><!-- .modal-content -->
        </div><!-- .modal-dialog -->
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>