<template>
    <div>
        <div class="page-content">
            <div class="container">
                <div class="card content-area">
                    <div class="card-innr">
                            <div class="card-head d-flex justify-content-between mb-2">
                                <h4 class="card-title">{{$t('dashboard.Transactions')}}</h4>
                            </div>
                            <table class="data-table dt-init user-tnx">
                                <thead>
                                    <tr class="data-item data-head">
                                        <th class="data-col dt-tnxno">{{$t('dashboard.Date')}}</th>
                                        <th class="data-col dt-token">{{$t('dashboard.Currency')}}</th>
                                        <th class="data-col dt-amount">{{$t('dashboard.Amount')}}</th>
                                        <th class="data-col dt-usd-amount">{{$t('dashboard.status')}}</th>
                                        <th class="data-col dt-account">{{$t('dashboard.Wallet_Address')}}</th>
                                        <th class="data-col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="data-item" v-for="(history,index) in historys" :key="index">
                                        <td class="data-col dt-token">
                                            {{history.created_at}}
                                        </td>
                                        <td class="data-col dt-amount">
                                            <span v-if="history.currency == 'eth'">{{$t('dashboard.Ethereum')}}</span>
                                            <span v-else-if="history.currency == 'gp'">{{$t('dashboard.Game_Point')}}</span>
                                        </td>
                                        <td class="data-col dt-usd-amount">
                                            <span class="lead amount-pay">{{history.amount}}</span>
                                        </td>
                                        <td class="data-col dt-account">
                                            <span class="badge badge-warning" v-if="history.status == 0">
                                                <i class="fas fa-exclamation-triangle"></i>
                                                <span class="ml-2" style="font-size:13px">{{$t('dashboard.pending')}}</span>
                                            </span>
                                            <span class="badge badge-success" v-if="history.status == 1">
                                                <i class="fas fa-check"></i>
                                                <span class="ml-2" style="font-size:13px">{{$t('dashboard.approved')}}</span>
                                            </span>
                                            <span class="badge badge-danger" v-if="history.status == -1">
                                                <i class="fas fa-times"></i>
                                                <span class="ml-2" style="font-size:13px">{{$t('dashboard.cancelled')}}</span>
                                            </span>
                                        </td>
                                        <td class="data-col"><span>{{history.wallet_address}}</span></td>
                                    </tr>                                                                                                                                                    
                                </tbody> 
                            </table>
                            <div class="text-center mt-4">
                                <div v-if="!loading">
                                    <a v-if="!is_finished" href="#" class="btn btn-secondary"  @click.prevent="getTransaction()">{{$t('dashboard.Load_More')}}</a>
                                </div>
                                <div v-else>
                                    <a  href="#"  >{{$t('dashboard.Loading')}}...</a>
                                </div>
                            </div>
                         </div>
                </div><!-- .card -->
            </div><!-- .container -->
        </div>

        <!-- Modal Large || transaction details -->
        <transactionDetails/>
        <!-- Modal End -->
    </div>
</template>

<script>
import transactionDetails from './transaction-details-modal'
export default {
    components:{
        transactionDetails
    },
    data(){
        return {
            current_page:0,
            is_finished:false,
            loading:false,
            historys:[],
        }
    },
    methods:{
        getTransaction(){
            var page = this.current_page+1;

            this.loading = true;
            this.$store.dispatch('get', 'get-recent-transactions?page='+page)
                .then((data)=>{
                    console.log(data.data)
                    this.historys = [...this.historys, ...data.data.data]
                    this.current_page = data.data.current_page;
                    if(data.data.next_page_url == null) this.is_finished = true;
                    this.loading = false;
                    // console.log(this.historys)
                })
                .catch((error)=>{
                    this.loading = false;
                    this.$store.dispatch('handleError', error)
                })
        }
    },
    created(){
        this.getTransaction()
    }
}
</script>

<style scoped>
    .data-table th{
        letter-spacing: 0;
        font-weight: 800;
    }
    .token-transaction .card-innr{
        text-align: left;
    }
    .card-title{
        text-align: left;
        font-weight: 600;
    }
    .data-col{
        text-align: left;
        border-bottom: none;
    }
    .data-head .data-col{
        text-align: left;
    }
</style>