<template>
    <div class="container" style="margin-top: 100px;"> 
        <div class="character-wrapper">
            <div class="col-xl-12 col-lg-12">
                    <div class="token-transaction character-container card card-full-height">
                        <div class="card-innr">
                            <div class="card-head has-aside">
                                <h4 class="card-title">{{$t('dashboard.My_Genealogy')}}</h4>
                            </div>
							<div class="row">
								<div class="col-md-12">
									<div class="body genealogy-body genealogy-scroll">
										<div class="genealogy-tree">
											<ul style="">
												<Branch :user="parent"/>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
</template>
<script>
import Branch from '../../components/profile/branch'
import { mapState } from 'vuex'
export default {
	name:"Tree",
	components:{Branch},
	computed:{
		...mapState({
			user:(state)=> state.user
		})
	},
	data(){
		return {
			parent:{}
		}
	}, 
	methods:{
		getDescendants(id){
			this.$store.dispatch('get', 'descendants/'+id)
			.then((data)=>{
				console.log(data);
				this.parent = {...this.user};
				this.parent.children = data.data;
			})
			.catch((error)=>{
				console.log(error.request);
			});
		},
	},
	created(){
		this.getDescendants(this.user.id);
	}
}
</script>
<style>
	.genealogy-scroll::-webkit-scrollbar {
		width: 5px;
		height: 8px;
	}
	.genealogy-scroll::-webkit-scrollbar-track {
		border-radius: 10px;
		background-color: #e4e4e4;
	}
	.genealogy-scroll::-webkit-scrollbar-thumb {
		background: #212121;
		border-radius: 10px;
		transition: 0.5s;
	}
	.genealogy-scroll::-webkit-scrollbar-thumb:hover {
		background: #d5b14c;
		transition: 0.5s;
	}
	.genealogy-body {
		white-space: nowrap;
		overflow-y: hidden;
		padding: 50px;
		min-height: 500px;
		padding-top: 10px;
		text-align: center;
	}
	.genealogy-tree {
		display: inline-block;
	}
	.genealogy-tree ul {
		padding-top: 20px;
		position: relative;
		padding-left: 0px;
		display: flex;
		justify-content: center;
	}
	.genealogy-tree li {
		float: left;
		text-align: center;
		list-style-type: none;
		position: relative;
		padding: 20px 5px 0 5px;
	}
	.genealogy-tree li::before,
	.genealogy-tree li::after {
		content: '';
		position: absolute;
		top: 0;
		right: 50%;
		border-top: 2px solid #8f99a3;
		width: 50%;
		height: 18px;
	}
	.genealogy-tree li::after {
		right: auto;
		left: 50%;
		border-left: 2px solid #8f99a3;
	}
	.genealogy-tree li:only-child::after,
	.genealogy-tree li:only-child::before {
		display: none;
	}
	.genealogy-tree li:only-child {
		padding-top: 0;
	}
	.genealogy-tree li:first-child::before,
	.genealogy-tree li:last-child::after {
		border: 0 none;
	}
	.genealogy-tree li:last-child::before {
		border-right: 2px solid #8f99a3;
		border-radius: 0 5px 0 0;
		-webkit-border-radius: 0 5px 0 0;
		-moz-border-radius: 0 5px 0 0;
	}
	.genealogy-tree li:first-child::after {
		border-radius: 5px 0 0 0;
		-webkit-border-radius: 5px 0 0 0;
		-moz-border-radius: 5px 0 0 0;
	}
	.genealogy-tree ul ul::before {
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		border-left: 2px solid #8f99a3;
		width: 0;
		height: 20px;
	}
	.genealogy-tree li a {
		text-decoration: none;
		color: #666;
		font-size: 11px;
		display: inline-block;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
	}
	.genealogy-tree li a:hover + ul li::after,
	.genealogy-tree li a:hover + ul li::before,
	.genealogy-tree li a:hover + ul::before,
	.genealogy-tree li a:hover + ul ul::before {
		border-color: #c7ccd1;
	}
	.genealogy-tree li a:hover + ul li .member-view-box,
	.genealogy-tree li a:hover + ul li .member-view-box{
		background: #fcfcfd ;
		color: #343a40;
		/* border: 2px solid #f4623a; */
	}
	.member-view-box {
		padding: 16px 10px;
		text-align: center;
		border-radius: 4px;
		position: relative;
		background: #fff;
		border: solid 1px #ebedef;
		min-width: 100px; 
	}
	.member-image {
		position: relative;
	}
	.member-image .member-details .id-box {
		background-color: #343a40;
		margin-bottom: 5px;
		font-size: 15px;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		margin: auto;
	}
	.member-image .member-details h3 {
		font-size: 12px;
		margin-top: 6px;
		font-family: system-ui;
	}
	.member-image .member-details h4 {
		font-size: 0.6rem;
		margin-bottom: 5px;
	}
	.has-children {
		position: relative;
		font-family: 'Font Awesome 5 Free';
		font-weight: 900;
	}
	.has-children:hover:before {
		content: '\f107';
		position: absolute;
		font-size: 17px;
		width: 97%;
		bottom: -4px;
		left: 0;
		z-index: 1;
		color: #f4623a;
	}
	.has-children:hover .member-view-box{
		/* background: #8f99a3; */
		/* border: 1px solid #f4623a; */
	}
	.has-children:hover .member-view-box .id-box{
		background: #f4623a;
	}
	
	.error-span p {
		margin-bottom: 0px;
		color: #c00;
		font-size: 13px;
	}
	.bg-gray {
		background: #8f99a3;
	}
</style>
