<template>
    <div class="nk-content ">
        <div class="container-fluid p-0">
            <div class="nk-content-inner">
                <div class="nk-content-body">
                    <div class="nk-block wb">
                        <div class="row g-gs">
                            <div class="col-md-6 f-row">
                                <div class="card card-bordered card-full" style="background: #56aaf2;">
                                    <div class="card-inner">
                                        <div class="card-amount d-block">
                                            <span class="amount text-white" style="font-size:25px"> 
                                                {{formatPrice(user.principal_point_total)}}
                                            </span>
                                        </div>
                                        <div class="card-title-group justify-content-center align-start mb-0">
                                            <div class="card-title">
                                                <h6 class="subtitle text-white">{{$t('dashboard.character_points')}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card card-bordered card-full" style="background:#f5a752">
                                    <div class="card-inner">
                                        <div class="card-amount d-block">
                                            <span class="amount text-white" style="font-size:25px"> 
                                                {{formatPrice(user.wallet.game_amount)}}
                                            </span>
                                        </div>
                                        <div class="card-title-group justify-content-center align-start mb-0">
                                            <div class="card-title">
                                                <h6 class="subtitle text-white">{{$t('dashboard.Game_Point')}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-md-3">
                                <div class="card card-bordered card-full" style="background:#79cebb;">
                                    <div class="card-inner">
                                        <div class="card-amount d-block">
                                            <span class="amount text-white" style="font-size:25px"> {{formatPrice(user.wallet.accumulative_balance)}}
                                            </span>
                                        </div>
                                        <div class="card-title-group justify-content-center align-start mb-0">
                                            <div class="card-title">
                                                <h6 class="subtitle text-white">{{$t('dashboard.Accumulative_Point')}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card card-bordered card-full" style="background:#766edb">
                                    <div class="card-inner">
                                        <div class="card-amount d-block">
                                            <span class="amount  text-white" style="font-size:25px"> 
                                                {{formatPrice(user.wallet.cumulative_balance)}}
                                            </span>
                                        </div>
                                        <div class="card-title-group justify-content-center align-start mb-0">
                                            <div class="card-title">
                                                <h6 class="subtitle text-white">{{$t('dashboard.cumulative_balance')}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>                  
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row m-0 p-0">
        <div class="col-sm-4 px-0 pr-sm-3">
            <div class="token-statistics card card-token height-auto">
                <div class="card-innr">
                    <div class="token-balance-text text-center">
                        <h1 class="lead">{{formatPrice(user.principal_point_total)}}</h1>
                        <h6 class="card-sub-title mb-0">{{$t('dashboard.Principal_Points')}}</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 px-0">
            <div class="token-statistics card card-token height-auto">
                <div class="card-innr">
                    <div class="token-balance-text text-center">
                        <h1 class="lead">{{formatPrice(user.wallet.accumulative_balance)}}</h1>
                        <h6 class="card-sub-title mb-0">Accumulative Points</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 px-0 pl-sm-3">
            <div class="token-statistics card card-token height-auto">
                <div class="card-innr">
                    <div class="token-balance-text text-center">
                        <h1 class="lead">{{formatPrice(user.wallet.game_amount)}}</h1>
                        <h6 class="card-sub-title mb-0">{{$t('dashboard.Game_Point')}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</template>

<script>
import {mapState} from 'vuex';
export default {
    data(){
        return{
        }
    },
    computed: {
        ...mapState({
            user: (context) => context.user,
        }),
        
    },
    methods: {
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        }
    },
    created(){
    }
}
</script>

<style scoped>
@media (min-width: 576px){
    .wb .col-md-3{
        padding-right:0 !important;
    }
    .wb .f-row{
        padding-left: 0 !important;
    }
    .nk-content {
        padding: 32px 12px;
    }
    .card{
        margin-bottom: 0 !important;
    }
}
@media (min-width: 992px){
	.nk-header {
		padding: 0 4px !important;
		background: #212529;
	}
}
    /* .lead {
        font-size: 2.8rem;
        color: #fff;
    }
.token-info-list li span{
    min-width: 82px;
}
    .token-balance-text{
        text-align: left;
    }
    .card-sub-title{
        font-weight: 600;

    }
    .token-balance.token-balance-s2{
        text-align: left;
    }
    .token-balance-sub{
        font-weight: 600;
    } */
</style>