<template>
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="aside sidebar-right col-lg-12 order-first">
                    <walletBalance></walletBalance>
                </div>
                <div class="main-content col-lg-12">
                    <div class="content-area card">
                        <div class="card-innr">
                            <div class="card-head">
                                <h4 class="card-title">{{$t('dashboard.Wallet_Balance')}}</h4>
                            </div>
                            <div class="token-currency-choose" v-if="!hasWithdrawal">
                                <!-- <div v-if="user.employee==1 && user.wallet.game_amount < 3000000">
                                    <p class="alert alert-danger">{{$t('dashboard.err_c')}}</p>
                                </div> -->
                                <div class="row guttar-15px">
                                    <div v-for="(chr, index) in user.withdrawable_characters" :key="index" @click="selectMethod('principal', chr)" class="col-6">
                                        <div class="pay-option" data-toggle="modal" data-target="#game-point">
                                            <input class="pay-option-check" type="radio" id="payeth" name="payOption">
                                            <label class="pay-option-label" for="payeth">
                                                <span class="pay-title"><em class="pay-icon ikon ikon-coins"></em><span class="pay-cur">{{$t('dashboard.character_points')}}</span></span>
                                                <span class="pay-amount">{{chr.price_p}}  <b>P</b></span>
                                            </label>
                                        </div>       
                                    </div>
                                    <div @click="selectMethod('reward_point')" class="col-6" v-if="user.employee == 1 && last_character.price_p < 3000000">
                                        <div class="pay-option" data-target="#game-point" data-toggle="modal">
                                            <input class="pay-option-check" type="radio" id="paylte" name="payOption">
                                            <label class="pay-option-label" for="paylte">
                                                <span class="pay-title"><em class="pay-icon ikon ikon-coins"></em>
                                                    <span class="pay-cur">{{$t('home.reward_point')}} </span>
                                                </span>
                                                <span class="pay-amount">{{user.wallet.cumulative_balance}}</span>
                                            </label>
                                        </div>       
                                    </div>
                                    <div @click="selectMethod('game')" class="col-6" v-else>
                                        <div class="pay-option" data-target="#game-point" data-toggle="modal">
                                            <input class="pay-option-check" type="radio" id="paylte" name="payOption">
                                            <label class="pay-option-label" for="paylte">
                                                <span class="pay-title"><em class="pay-icon ikon ikon-coins"></em>
                                                    <span class="pay-cur">{{$t('dashboard.game_points')}}  </span>
                                                </span>
                                                <span class="pay-amount">{{user.wallet.game_amount}}</span>
                                            </label>
                                        </div>       
                                    </div>
                                    
                                </div><!-- .row -->
                            </div>
                            <div v-else>
                                <div class="alert alert-danger">
                                    {{$t('dashboard.d_txt16b')}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- .col -->
                <!-- .col -->
                <div class="col-12 mx-0">
                    <div class="token-transaction card card-full-height">
                        <div class="card-innr">
                            <div class="card-head d-flex justify-content-between mb-2">
                                <h4 class="card-title">{{$t('dashboard.Recent_Withdrawal')}}</h4>
                                <!-- <router-link to="/transactions" class="btn btn-info py-1 px-1 view-trans">View all</router-link> -->
                            </div>
                            <table class="table user-tnx">
                                <thead>
                                    <tr class="data-head">
                                        <th class="dt-tnxno">{{$t('dashboard.Date')}}</th>
                                        <th class="dt-token">{{$t('dashboard.Currency')}}</th>
                                        <th class="dt-amount">{{$t('dashboard.Amount')}}</th>
                                        <th class="dt-usd-amount">{{$t('dashboard.status')}}</th>
                                        <th class="dt-account">{{$t('dashboard.Wallet_Address')}}</th>
                                        <th class=""></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="" v-for="(history,index) in historys" :key="index">
                                        <td class=" dt-token">
                                            {{history.created_at}}
                                        </td>
                                        <td class=" dt-amount">
                                            <span v-if="history.currency == 'cp'">{{$t('dashboard.character_points')}}</span>
                                            <span v-else-if="history.currency == 'gp'">{{$t('dashboard.Game_Point')}}</span>
                                            <span v-else-if="history.currency == 'rp'">{{$t('home.reward_point')}}</span>
                                        </td>
                                        <td class=" dt-usd-amount">
                                            <span class="lead amount-pay">{{history.amount}}</span>
                                        </td>
                                        <td class=" dt-account">
                                            <span class="badge badge-warning" v-if="history.status == 0">
                                                <i class="fas fa-exclamation-triangle"></i>
                                                <span class="ml-2" style="font-size:13px">{{$t('dashboard.pending')}}</span>
                                            </span>
                                            <span class="badge badge-success" v-if="history.status == 1">
                                                <i class="fas fa-check"></i>
                                                <span class="ml-2" style="font-size:13px">{{$t('dashboard.approved')}}</span>
                                            </span>
                                            <span class="badge badge-danger" v-if="history.status == -1">
                                                <i class="fas fa-times"></i>
                                                <span class="ml-2" style="font-size:13px">{{$t('dashboard.cancelled')}}</span>
                                            </span>
                                        </td>
                                        <td class=""><span>{{history.wallet_address}}</span></td>
                                    </tr>                                                                                                                                                    
                                </tbody> 
                            </table>
                            <div class="text-center mt-4">
                                <div v-if="!loading">
                                    <a v-if="!is_finished" href="#" class="btn btn-secondary"  @click.prevent="getRecentTransaction()">{{$t('dashboard.Load_More')}}</a>
                                </div>
                                <div v-else>
                                    <a  href="#"  >{{$t('dashboard.Loading')}}...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .container -->
        </div><!-- .container --> 
        <div class="modal fade" id="game-point" tabindex="-1">
            <div class="modal-dialog modal-dialog-md modal-dialog-centered">
                <div class="modal-content">
                    <a href="#" class="modal-close" data-dismiss="modal" aria-label="Close"><em class="ti ti-close"></em></a>
                    <div class="popup-body" v-if="user.wallet.game_amount > 0">
                        <h4 class="popup-title mb-3" v-if="user.employee == 1 && last_character.price_p < 3000000">{{$t('home.w_reward_point')}}</h4>
                        <h4 class="popup-title mb-3" v-else>Withdraw {{withdrawal.name}}</h4>
                        <h6 class="font-bold mb-1">{{$t('dashboard.Amount')}}</h6>
                        <div class="copy-wrap mgb-0-5x mb-3">
                            <em class="ikon ikon-coins fab" style="font-size:20px"></em>
                            <input type="text" class="copy-address" v-model="withdrawal.amount" />
                        </div>
                        <h6 class="font-bold mb-1"></h6>
                        <div class="copy-wrap mgb-0-5x"> 
                             <div class="input-item input-with-label">
                                <label class="input-item-label">Select Wallet Type</label>
                                <div class="select-wrapper">
                                    <select @change="changeWalletType()" v-model="withdrawal.address_type" class="input-bordered">
                                        <option value="">Select Wallet Type</option>
                                        <option value="eth">Tron Wallet Address</option>
                                        <option value="jbit">Jbit Wallet Address</option>
                                    </select>
                                </div> 
                                
                            </div> 
                        </div>
                        <div class="">
                            <h6 v-if="withdrawal.address_type == 'eth'" class="font-bold mb-1">Eth Wallet Address</h6>
                            <h6 v-if="withdrawal.address_type == 'jbit'" class="font-bold mb-1">Jbit Wallet Address</h6>
                            <div v-if="withdrawal.address_type == 'eth' || withdrawal.address_type == 'jbit'" class="copy-wrap mgb-0-5x mb-3">
                                <em class="ikon ikon-coins fab" style="font-size:20px"></em>
                                <input type="text" class="copy-address" v-model="withdrawal.address" />
                            </div>
                        </div>
                        <button class="btn btn-primary mt-3" data-toggle="modal" data-target="#pay-confirm-eth" @click.prevent="sendWithdrawalRequest()">
                            <span v-if="!loading">{{$t('dashboard.Withdrawal')}}</span>
                            <span v-else>{{$t('dashboard.Sending')}}...</span>
                        </button>
                        <div class="mt-1 note note-plane note-danger note-md d-flex align-items-center">
                            <em class="fas fa-times-circle"></em>
                            <p>A withdrawal fee of {{user.withdrawal_fee.value}}% will be charged on each withdrawal</p>
                        </div>
                    </div>
                    <div class="popup-body text-center" v-else>
                        <div class="gaps-2x"></div>
                        <div class="pay-status pay-status-error">
                            <em class="ti ti-close"></em>
                        </div>
                        <div class="gaps-2x"></div>
                        <h3>{{$t('dashboard.Insuffient_Balance')}}</h3>
                        <p>{{$t('dashboard.d_txt23')}}</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import walletBalance from './wallet-balance.vue'
import {mapState} from 'vuex';
export default {
    components:{
        walletBalance,
    },
    computed: {
        ...mapState({
            user: (context) => context.user,
        }),
        hasWithdrawal(){
            return this.user.withdrawals.find((d)=> d.status == 0) ? true:false
        }
    },
    data(){
        return {
            e_amount:'',
            g_amount:'',
            wallet_address:'',
            existWithdrawal:false,
            current_page:0,
            is_finished:false,
            loading:false,
            historys:[],
            withdrawal:{name:'', amount:0, address:''},
            last_character:{}
        }
    },
    methods:{
        getLastCharacterBought(){
            this.$store.dispatch('get', 'get-last-character')
            .then(resp=>{
                console.log(resp)
                if(resp.data.status){
                    this.last_character = resp.data.data
                }else{
                    window.ToasterAlert('error', resp.data.msg)
                }
            })
        },
        changeWalletType(){
                // console.log(this.withdrawal)
                if(this.withdrawal.address_type == 'eth'){
                    console.log('eth')
                    this.withdrawal.address = this.user.wallet.eth_wallet;
                }
                if(this.withdrawal.address_type == 'jbit'){
                    console.log('jbit')
                    this.withdrawal.address = this.user.wallet.jbit_address;
                }
        },
        selectMethod(point, data={}){
            if(point == 'principal'){
                this.withdrawal ={
                    name:'Character Point',
                    type:'cp',
                    address:'',
                    amount:data.price_p,
                    id:data.id
                }
            }else if(point == 'reward_point'){
                this.withdrawal ={
                    name:'Reward Point',
                    type:'rp',
                    address:'',
                    amount: this.user.wallet.cumulative_balance
                }
            }
            else{
                this.withdrawal ={
                    name:'Game Point',
                    type:'gp',
                    address:'',
                    amount:this.user.wallet.game_amount
                }
            }
        },
        checkWithdrawal(){
            this.user.withdrawals.forEach(val => {
                if(val.status == 0){
                    this.existWithdrawal = true
                }
            });
        },
        sendWithdrawalRequest(){
            var details={ 
                currency:this.withdrawal.type,
                amount:this.withdrawal.amount,
                wallet_address:this.withdrawal.address,
                address_type:this.withdrawal.address_type,
                chr_id:this.withdrawal.id,
            }
            if(details.amount < 1){
                window.ToasterAlert('error', 'Mininum amount to withdraw is 1P')
                return false
            }
        
            if(details.wallet_address == null){
                window.ToasterAlert('error', 'Wallet address field is required')
                return false
            }
            if(details.currency == 'gp' && details.amount > this.user.wallet.game_amount){
                window.ToasterAlert('error', 'Insuffient amount in your Game point wallet')
                return false
            }
            if(details.currency == 'rp' && details.amount > this.user.wallet.cumulative_balance){
                window.ToasterAlert('error', 'Insuffient amount in your reward point wallet')
                return false
            }
            if(details.currency == 'gp' && details.amount < 100){
                window.ToasterAlert('error', 'Minimum withdrawable game point is $100')
                return false
            }
            // if(details.currency == 'cp' && details.amount > this.user.principal_point_total){
            //     window.ToasterAlert('error', 'Insuffient amount in your Character point')
            //     return false
            // }
            this.loading=true
            this.$store.dispatch('post', {endpoint:'send-withdrawal-request', details:details})
                .then((data)=>{
                    console.log(data)
                    this.loading = false
                    if(data.data.status){
                        var result = data.data.user 
                        result.token=this.$store.state.token;
                        this.$store.commit('setUser',result);

                        this.historys = [data.data.withdrawal, ...this.historys]
                        // document.getElementById('dismiss').click();
                        this.existWithdrawal = true;
                        window.SweetAlert('success', 'Withdrawal request sent successfully')
                        window.location.reload();
                    }else{
                        window.ToasterAlert('error', data.data.msg)
                    }
                })
                .catch((error)=>{
                    this.loading = false
                    this.$store.dispatch('handleError', error);
                })
        },
        getRecentTransaction(){
            var page = this.current_page+1;

            this.loading = true;
            this.$store.dispatch('get', 'get-recent-transactions?page='+page)
                .then((data)=>{
                    console.log(data.data)
                    this.historys = [...this.historys, ...data.data.data]
                    this.current_page = data.data.current_page;
                    if(data.data.next_page_url == null) this.is_finished = true;
                    this.loading = false;
                    
                })
                .catch((error)=>{
                    this.loading = false;
                    this.$store.dispatch('handleError', error)
                })
                    // if(data.data.status)
        }
    },
    created(){
        this.e_amount = this.user.wallet.eth_point
        this.g_amount = this.user.wallet.game_amount
        this.getLastCharacterBought()
        this.checkWithdrawal()
        this.getRecentTransaction()
    }
}
</script>

<style scoped>
    .data-head th{
        color: black;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .view-trans{
        width: 88px;
        min-width: 10px;
        font-size: 12px;
    }
    .data-col{
        border-bottom: none;
    }
    .data-table th{
        letter-spacing: 0;
        font-weight: 800;
    }
    table td{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .token-transaction .card-innr{
        text-align: left;
    }
    .popup-title{
        font-weight: 600;
    }
    .popup-body{
        text-align: left;
    }
    .token-sales{
        text-align: left;
    }
    .card-title{
        font-weight: 600;
    }
    .main-content{
        text-align: left;
        font-weight: 500;
    }
    .badge{
        align-items: center;
    }
</style>