.dora * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}
.dora ul, li {
    list-style: none;
}
.dora a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
.dora .img-box > img {
    width: 100%;
    display: block;
}
.dora .con {
    max-width: 1140px;
    margin: 0 auto;
}

/** header **/
.dora header {
    width: 100%;
    height: 80px;
    background-color: #2D3A4B;
    position: fixed;
    z-index: 10;
    padding: 0 20px;
    top: 0;
}
.dora .top-bar {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.dora .top-bar .lng-box img {
    width: 30px;
    height: 30px;
}
.dora .top-bar > a {
    font-size: 1.625rem;
    font-weight: 700;
    color: #fff;
}
.dora .logo span {
    color: #008BEF;
}
.dora .menu-box {
    display: flex;
    height: 100%;
    align-items: center;
}
.dora .menu-box a {
    font-size: 0.875rem;
    font-weight: 700;
    color: #fff;
    transition: color .5s;
    margin: 0 20px;
}
.dora .menu-box a:hover {
    color: #999;
}
.dora .top-bar .log-in {
    display: block;
    padding: 12px 20px;
    border: 1px solid #008BEF;
    border-radius: 50px;
    margin-right: 12px;
}
.dora .top-bar .join-us {
    display: block;
    padding: 12px 20px;
    background-color: #008BEF;
    border-radius: 50px;
    margin-left: 0;
}
/* 언어토글 */
.dora .lng-box {
    position: relative;
}
.dora .lng {
    cursor: pointer;
}
.dora .lng-2 {
    border: 1px solid #fff;
    cursor: pointer;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}
.dora .lng-2.active {
    display: flex;
}
.dora .lng-box-1 {
    display: none;
}
.dora .lng-box-1.active {
    display: flex;
}
.dora .lng-box-2 {
    display: none;
}
.dora .lng-box-2.active {
    display: flex;
}
/* 언어토글 끝 */
.dora .open {
    display: none;
    cursor: pointer;
}
.dora .mobile-top-bar {
    display: none;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: #2D3A4B;
    z-index: 100;
    display: block;
    padding: 20px;
    transition: left .5s;
}
.dora .mobile-top-bar.active {
    left: 0;
}
.dora .mobile-top-bar .close {
    width: 30px;
    height: 30px;
    position: absolute;
    cursor: pointer;
    display: block;
    right: 20px;
}
.mobile-top-bar .close::before,
.dora .mobile-top-bar .close::after {
    background-color: #fff;
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    transform: rotate(45deg);
    bottom: 50%;
}
.dora .mobile-top-bar .close::after {
    transform: rotate(-45deg);
}
.dora .mobile-top-bar .menu-box-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.dora .mobile-top-bar .menu-box-1 a {
    padding: 20px;
    color: #fff;
    font-weight: 700;
    font-size: 0.875rem;
    transition: color .5s;
}
.dora .mobile-top-bar .menu-box-1 a:hover {
    color: #999;
}
.dora .mobile-top-bar .menu-box-1 a:first-child {
    padding-top: 50px;
}
.dora .mobile-top-bar img {
    width: 30px;
    height: 30px;
}

/** section-1 **/
.dora .section-1 {
    background-image: url(../images/bg-1.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}
.dora .section-1 .cont {
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}
.dora .section-1 .cont div {
    color: #fff;
}
.dora .bg-item {
    margin-top: 80px;
    max-width: 550px;
    transition: transform 1s;
    animation: animate 1.8s;
    position: relative;
}
@keyframes animate {
    0% {
        top: 100%;
        opacity: 0;
    }
    50% {
        top: -3%;
        opacity: 1;
    }
    100% {
        top: 0;
    }
}
.dora .bg-item:hover {
    transform: translateY(-6%);
}
.dora .section-1 .text-box {
    text-align: left;
    display: block;
}
.dora .section-1 .text-box p:first-of-type {
    margin: 12px 0 20px 0;
}
.dora .section-1 h1 {
    font-size: 2.625rem;
    color: #008BEF;
}
.dora .section-1 p {
    font-size: 0.875rem;
    max-width: 820px;
}
.dora .section-1 a {
    font-size: 0.875rem;
    font-weight: 700;
}
.dora .button {
    margin-top: 50px;
}
.dora .button a {
    padding: 12px 68px;
    background-color: #2D3A4B;
    display: inline-block;
}
.dora .button a:first-child {
    margin-right: 8px;
}
.dora .button a.login {
    background-color: #008BEF;
    color: #fff;
    font-weight: bold;
}

/** section-2 **/
.dora .section-2 {
    padding: 0 20px;
}
.dora .section-2 .title {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dora .section-2 .title-box p {
    max-width: 696px;
}
.dora .section-2 h2 {
    margin-bottom: 30px;
    font-size:  2.25rem;
    color: #212529;
}
.dora .section-2 p {
    max-width: 753px;
    font-size: 0.875rem;
    color: #555555;
}
.dora .section-2 .sec2-coin {
    max-width: 240px;
}
.dora .section-2 .item-box {
    margin-top: 120px;
    margin-bottom: 130px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.dora .section-2 .item-box > div {
    width: 367px;
    margin: 0 0 50px 0;
}
.dora .section-2 .item-box > div:last-child {
    margin: 0;
}
.dora .section-2 .item-box p {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #000;
}
.dora .section-2 .item-box span {
    font-size: 00.875rem;
    color: #555555;
}
.dora .section-2 .item {
    border: 1px solid #eeeeee;
    width: 360px;
    height: 180px;
    padding: 30px 20px;;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.dora .section-2 .text {
    display: inline-block;
    margin-left: 12px;
}

/** section-3 **/
.dora .section-3 {
    background-color: #F2F8FE;
    color: #2D3A4B;
    padding: 120px 20px;
}
.dora .section-3 .cont {
    display: flex;
    justify-content: space-between;
}
.dora .section-3 h2 {
    font-size: 	2.25rem;
    margin-bottom: 20px;
}
.dora .section-3 span {
    font-size: 0.875rem;
}
.dora .section-3 .sub-title {
    max-width: 527px;
    margin-right: 20px;
}
.dora .section-3 .sub-title p {
    font-size: 0.875rem;
}

/** section-4 **/
.dora .section-4 {
    background-color: #fff;
    padding: 140px 20px;
}
.dora .section-4 .text-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
}
.dora .section-4 .text-box p {
    margin-bottom: 50px;
    font-size: 1.375rem;
}
.dora .section-4 .text {
    margin-right: 20px;
    margin-bottom: 30px;
    background-color: #008BEF;
    width: 33.3333%;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 0 15px;
}
.dora .section-4 .text:last-child {
    margin-right: 0;
}
.dora .section-4 span {
    font-size: 0.875rem;
}

/** section-5 **/
.dora .section-5 {
    padding: 120px 20px 0 20px;
    text-align: center;
    background-color: #fafafa;
}
.dora .section-5 h2 {
    font-size: 	2.25rem;
    margin-bottom: 10px;
}
.dora .section-5 span {
    font-size: 0.875rem;
}
.dora .section-5 .item-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
}
.dora .section-5 .item{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0 40px;
    margin-bottom: 120px;
}
.dora .section-5 img  {
    width: 160px;
    height: 176;
}
.dora .section-5 p {
    font-weight: 700;
    font-size: 1.25rem;
    color: #008BEF;
    margin-top: 16px;
}

/** section-6 **/
.dora .section-6 {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    padding: 100px 20px;
}
.dora .section-6 .cont-box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.dora .section-6 h2 {
    font-size: 2.25rem;
    margin-bottom: 26px;
}
.dora .section-6 p {
    font-size: 0.875rem;
}
.dora .section-6 a {
    font-size: 0.875rem;
    font-weight: 700;
}
.dora .section-6 .cont {
    max-width: 850px;
}
.dora .section-6 .button {
    width: 100%;
    margin-top: 130px;
}
.dora .section-6 a:first-child {
    margin-right: 12px;
    color: #fff;
}

/** Login **/
.login-main,
.signup-main,
.dora .signup_step2-main {
    padding: 0 20px;
    flex-direction: column;
    padding-top: 150px;
    height: 100vh;
}
.dora .signup_step2-main {
    height: auto;
    margin-bottom: 150px;
}
.dora .sub_page {
    background-color: #F2F8FE;
    align-items: center;
    position: relative;
    text-align: center;
    border: 1px solid #008BEF;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 600px;
}
.dora .sub_page h1 {
    font-size: 1.625rem;
    color: #2D3A4B;
}
.dora .sub_page p {
    font-size: 1rem;
    color: #555;
}
.dora .sub_page p span {
    color: #008BEF;
    font-weight: 700;
}
.dora .sub_page .wrap {
    padding: 60px 40px;
}
.dora .sub_page input {
    height: 55px;
    display: block;
    border-radius: 6px;
}
.dora form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    font-size: 0.875rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.dora form > input {
    margin-bottom: 4px;
    border: 1px solid #BDBDBD;
    padding: 15px;
    color: #828282;
}
.dora form > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 40px; */
    color: #555;
}
.dora form .check-group {
    display: flex;
    align-items: center;
}
.dora form .box input {
    margin-right: 8px;
    cursor: pointer;
}
.dora input.check {
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    margin-right: 6px;
}
.dora form .check-group label {
    font-size: 0.875rem;
    margin: 0;
}
input.login,
.dora .submit {
    border: none;
    background-color: #008BEF;
    font-weight: 700;
    font-size: 1.125rem;
    color: #fff;
    cursor: pointer;
}
.dora .submit {
    margin-bottom: 30px;
    height: 55px;
    border-radius: 6px;
}
.dora .signup-group {
    display: block;
    margin-bottom: 0;
    justify-content: center;
}
.dora .signup-group li:first-child {
    margin-right:  10px;
}
.dora form li {
    text-align: center;
}
.dora form li > a {
    color: #555;
}
.dora form li:last-child a {
    color: #EB5757;
    font-size: 1rem;
}
.dora .login-main form > input {
    margin-bottom: 15px;
}
.dora .login-main .submit {
    margin-bottom: 30px;
}

/** Sign up **/
.dora .sub_page label {
    color: #555;
    font-size: 1rem;
    margin-bottom: 8px;
    text-align: left;
}
.dora .sub_page .select-box {
    margin-bottom: 5px;
    position: relative;
    margin-bottom: 4px;
}
.dora .sub_page .select {
    border: 1px solid #bdbdbd;
    border-right: none;
    height: 55px;
    padding: 0 9px 0 10px;
    cursor: pointer;
    border-radius: 6px 0 0 6px;
    display: flex;
    align-items: center;
}
.dora .sub_page .select-2 {
    border: 1px solid #bdbdbd;
    border-radius: 0px 0 6px 6px;
    border-top: none;
    height: 55px;
    padding: 0 9px 0 10px;
    cursor: pointer;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #F2F8FE;
    display: none;
    width: 81px;
    display: none;
    align-items: center;
}
.dora .sub_page .select-2.active {
    display: flex;
}
.dora .sub_page .polygon {
    margin-left: 10px;
}
.dora .sub_page .polygon.active {
    transform: rotate(180deg);
}
.dora .sub_page input.tel {
    width: 100%;
    padding: 0 15px;
    border-radius: 6px;
    border: 1px solid #bdbdbd;
}
.dora .sub_page .crtf {
    background-color: #008BEF;
    border: 1px solid #bdbdbd;
    border-left: none;
    height: 55px;
    width: 120px;
    font-size: 1rem;
    cursor: pointer;
    color: #fff;
    border-radius: 0 6px 6px 0;
    padding: 0 5px;
}
.dora .signup-main input.tel {
    border-radius: 0;
}
.dora .sub_page .select-box-1 {
    display: none;
}
.dora .sub_page .select-box-1.active {
    display: flex;
}
.dora .sub_page .select-box-2 {
    display: none;
}
.dora .sub_page .select-box-2.active {
    display: flex;
}
.dora .signup-main .select-box {
    margin-bottom: 15px;
}
.dora .signup-main .submit {
    margin-top: 15px;
    padding: 16px 0;
}

/** Sign up step2 **/
.dora .signup_step2-main {
    margin-bottom: 100px;
}
.dora .signup_step2-main .sub_page {
    max-width: 800px;
}
.dora .signup_step2-main .wrap {
    padding: 60px 40px;
}
.dora .signup_step2-main span {
    text-align: left;
    margin-bottom: 25px;
    color: #EB5757;
}
.dora .signup_step2-main span:last-of-type {
    margin-bottom: 50px;
}
.dora label.refrl {
    color: #008BEF;
    font-weight: 700;
}

/** footer **/
.dora footer {
    background-color: #212529;
    height: 60px;
    color: #fff;
    padding: 0 20px;
    position: relative;
    bottom: 0;
}
.dora footer .con {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.dora footer span {
    color: #999;
    font-size: 	0.75rem;
}
.dora footer .terms {
    margin-left: 50px;
}
/* .fixed {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
} */

/** 반응형 **/
@media (max-width: 1157px) {
    .dora .section-2 .item-box {
        justify-content: space-around;
    }
}
@media (max-width: 1023px) {
    .dora .bg-item {
        max-width: 350px;
    }
    .dora .section-2 .title {
        display: inline-flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .dora .section-2 .sec2-coin {
        margin-bottom: 30px;
        max-width: 180px;
    }
}
@media (max-width: 1000px) {
    .dora .section-3 .cont {
        flex-direction: column;
    }
    .dora .section-3 img {
        margin-top: 30px;
    }
}
@media (max-width: 900px) {
    .dora header {
        height: 60px;
    }
    .dora .top-bar .menu-box {
        display: none;
    }
    .dora .open, .mobile-top-bar {
        display: block !important;
    }
    .dora .logo img {
        width: 40px;
        height: 33px;
    }
    .login-main, .signup-main, .signup_step2-main
    .dora {
        padding-top: 100px;
    }
    .dora .bg-item {
        margin-top: 60px;
    }
}
@media (max-width: 880px) {
    .dora .section-4 .text-box  {
        flex-direction: column;
    }
    .dora .section-4 .text {
        margin-right: 0;
        width: 100%;
    }
    .dora .section-4 .text:last-child {
        margin: 0;
    }
}
@media (max-width: 790px) {
    .dora .sub_page .wrap {
        padding: 30px 20px;
    }
    .dora .submit {
        margin-bottom: 30px;
    }
    .dora .section-1 {
        flex-direction: column-reverse;
        justify-content: center;
    }
    .dora .section-1 .cont {
        align-items: center;
    }
    .dora .section-1 .text-box {
        text-align: center;
    }
    .dora .bg-item {
        max-width: 200px;
        transform: translateY(-6%);
    }
    .dora .section-2 .title {
        align-items: center;
        text-align: center;
        margin-top: 100px;
    }
    .dora .section-2 h2 {
        font-size: 1.675rem;
        margin-bottom: 20px;
    }
}
@media (max-width : 662px) {
    .dora .button a {
        padding: 12px 38px;
    }
}
@media (max-width : 600px) {
    .dora footer .con {
        flex-direction: column;
    }
    .login-main, .signup-main, .signup_step2-main
    .dora {
        margin-bottom: 50px;
    }
}
@media (max-width : 519px) {
    .dora .section-3 {
        padding: 80px 20px 100px 20px;
    }
    .dora .section-4 {
        padding: 100px 20px;
    }
    .dora .section-5 {
        padding: 100px 20px 0 20px;
    }
    .dora .section-5 .item {
        margin-bottom: 60px;
    }
    .dora .section-5 .item:last-child {
        margin-bottom: 120px;
    }
    .dora .section-6 .button {
        margin-top: 100px;
    }
}