<template>
    <footer>
        <div class="con">
            <span>© {{ new Date().getFullYear() }} BD COIN. {{$t('dashboard.all_rights_reserved')}}.</span>
            <div class="span-box">
                <span>{{$t('dashboard.Privacy_Policy')}}</span>
                <span class="terms">{{$t('dashboard.Terms')}}</span>
            </div>
        </div>
    </footer>
</template>

<script>
export default {

}
</script>

<style scoped>
    footer {
        background-color: #212529;
        height: 60px;
        color: #fff;
        padding: 0 20px;
        position: relative;
        bottom: 0;
    }
    footer .con {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    footer span {
        color: #999;
        font-size: 	0.75rem;
    }
    footer .terms {
        margin-left: 50px;
    }
    @media (max-width : 600px) {
        footer .con {
            flex-direction: column;
        }
    }
</style>