<template>
	<div class="dora">
		<!-- header -->
		<header>
			<div class="top-bar">
				<router-link to="/" class="logo img-box">
					<span>D</span>ora<span>D</span>ora
				</router-link>
				<ul class="menu-box">
					<li><a :href="absolutePath + '#home'" class="home">{{$t('dashboard.home')}}</a></li>
					<li><a :href="absolutePath + '#scenerios'" class="Scenarios">{{$t('dashboard.Scenarios')}}</a></li>
					<li><a :href="absolutePath + '#migration'" class="Migration">{{$t('dashboard.Migration')}}</a></li>
					<li><a :href="absolutePath + '#how-to'" class="Howto">{{$t('dashboard.How_to')}}</a></li>
					<li><router-link to="/account/login" class="log-in">{{ $t('dashboard.LOGINn') }}</router-link></li>
					<li><router-link :to="$store.state.registerUrl" class="join-us">{{ $t('dashboard.JOIN_US') }}</router-link></li>
					<language />
				</ul>
				<svg class="open" @click="openNav()" width="30" height="24" viewBox="0 0 40 34" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M0 2H40M0 17H40M0 32H40" stroke="white" stroke-width="3"></path>
				</svg>
			</div>
		</header>
		<!-- Mob-bar -->
		<nav class="mobile-top-bar">
			<div class="close" @click="closeNav()"></div>
			<div class="menu-box-1">
				<a :href="absolutePath + '#home'" class="click home">{{
					$t('dashboard.home')
				}}</a>
				<a :href="absolutePath + '#scenerios'" class="click Scenarios">{{
					$t('dashboard.Scenarios')
				}}</a>
				<a :href="absolutePath + '#migration'" class="click Migration">{{
					$t('dashboard.Migration')
				}}</a>
				<a :href="absolutePath + '#how-to'" class="click Howto">{{
					$t('dashboard.How_to')
				}}</a>
				<router-link to="/account/login">{{ $t('dashboard.LOGINn') }}</router-link>
				<router-link :to="$store.state.registerUrl">{{ $t('dashboard.JOIN_US') }}</router-link>

				<div class="lng-box lng-box-1 active">
					<language />
				</div>
				<!-- <div class="lng-box lng-box-1 active">
					<div class="lng">
						<img src="@/assets/images/flag_us.png" alt="">
					</div>
					<div class="lng-2">
						<img src="@/assets/images/flag_kor.png" alt="">
					</div>
				</div>
				<div class="lng-box lng-box-2">
					<div class="lng">
						<img src="@/assets/images/flag_kor.png" alt="">
					</div>
					<div class="lng-2">
						<img src="@/assets/images/flag_us.png" alt="">
					</div>
				</div> -->
			</div>
		</nav>
	</div>
</template>

<script>
	import language from '../views/dashboard/layout/language.vue';

	export default {
		components: {language},
		data() {
			return {
				absolutePath: '',
				// registerUrl: '/account/register',
			};
		},
		methods: {
			openNav() {
				const navMobile = document.querySelector('.mobile-top-bar');
				navMobile.classList.add('active');
			},
			closeNav() {
				const navMobile = document.querySelector('.mobile-top-bar');
				navMobile.classList.remove('active');
			},
			closeNavOnClick() {
				const navLinks = document.querySelectorAll('.click');
				const navBar = document.querySelector('.mobile-top-bar');

				navLinks.forEach((navLink) => {
					navLink.addEventListener('click', () => {
						navBar.classList.remove('active');
					});
				});
			},
		},
		mounted() {
			this.closeNavOnClick();
			if (this.$router.currentRoute.path !== '/') this.absolutePath = `../`;
		},
		created() {
			// if (this.$route.query.referral) {
			// 	this.registerUrl = '/account/register?referral=' + this.$route.query.referral;
			// }
		},
	};
</script>

<style scoped>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Noto Sans KR', sans-serif;
	}
	ul, li {
		list-style: none;
	}
	a {
		color: inherit;
		text-decoration: none;
		cursor: pointer;
	}
	.img-box > img {
		width: 100%;
		display: block;
	}
	.con {
		max-width: 1140px;
		margin: 0 auto;
	}
	header {
    width: 100%;
    height: 80px;
    background-color: #2D3A4B;
    position: fixed;
    z-index: 10;
    padding: 0 20px;
    top: 0;
}
.top-bar {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.top-bar .lng-box img {
    width: 30px;
    height: 30px;
}
.top-bar > a {
    font-size: 1.625rem;
    font-weight: 700;
    color: #fff;
}
.logo span {
    color: #008BEF;
}
.menu-box {
    display: flex;
    height: 100%;
    align-items: center;
}
.menu-box a {
    font-size: 0.875rem;
    font-weight: 700;
    color: #fff;
    transition: color .5s;
    margin: 0 20px;
}
.menu-box a:hover {
    color: #999;
}
.top-bar .log-in {
    display: block;
    padding: 12px 20px;
    border: 1px solid #008BEF;
    border-radius: 50px;
    margin-right: 12px;
}
.top-bar .join-us {
    display: block;
    padding: 12px 20px;
    background-color: #008BEF;
    border-radius: 50px;
    margin-left: 0;
}
/* 언어토글 */
.lng-box {
    position: relative;
}
.lng {
    cursor: pointer;
}
.lng-2 {
    border: 1px solid #fff;
    cursor: pointer;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}
.lng-2.active {
    display: flex;
}
.lng-box-1 {
    display: none;
}
.lng-box-1.active {
    display: flex;
}
.lng-box-2 {
    display: none;
}
.lng-box-2.active {
    display: flex;
}
/* 언어토글 끝 */
.open {
    display: none;
    cursor: pointer;
}
.mobile-top-bar {
    display: none;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: #2D3A4B;
    z-index: 100;
    display: block;
    padding: 20px;
    transition: left .5s;
}
.mobile-top-bar.active {
    left: 0;
}
.mobile-top-bar .close {
    width: 30px;
    height: 30px;
    position: absolute;
    cursor: pointer;
    display: block;
    right: 20px;
}
.mobile-top-bar .close::before,
.mobile-top-bar .close::after {
    background-color: #fff;
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    transform: rotate(45deg);
    bottom: 50%;
}
.mobile-top-bar .close::after {
    transform: rotate(-45deg);
}
.mobile-top-bar .menu-box-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.mobile-top-bar .menu-box-1 a {
    padding: 20px;
    color: #fff;
    font-weight: 700;
    font-size: 0.875rem;
    transition: color .5s;
}
.mobile-top-bar .menu-box-1 a:hover {
    color: #999;
}
.mobile-top-bar .menu-box-1 a:first-child {
    padding-top: 50px;
}
.mobile-top-bar img {
    width: 30px;
    height: 30px;
}
	/* header {
		width: 100%;
		height: 80px;
		background-color: #212529;
		position: fixed;
		z-index: 10;
		padding: 0 20px;
		top: 0;
	} 
	.top-bar {
		max-width: 1140px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;
	}
	.top-bar > a {
		font-size: 1.625rem;
		font-weight: 700;
		color: #fff;
	}
	.menu-box {
		display: flex;
		height: 100%;
		align-items: center;
	}
	.menu-box a {
		font-size: 14px;
		font-weight: 700;
		color: #fff;
	}
	.menu-box li {
		margin: 0 20px;
	}
	.join-us a {
		display: block;
		padding: 12px;
		background-color: #2d3a4b;
		border-radius: 6px;
	}
	.lng-box {
		position: relative;
	}
	.lng {
		cursor: pointer;
	}
	.lng-2 {
		border: 1px solid #fff;
		cursor: pointer;
		position: absolute;
		top: 100%;
		left: 0;
		display: none;
	}
	.lng-2.active {
		display: flex;
	}
	.lng-box-1 {
		display: none;
	}
	.lng-box-1.active {
		display: flex;
	}
	.lng-box-2 {
		display: none;
	}
	.lng-box-2.active {
		display: flex;
	}
	
	.open {
		display: none;
		cursor: pointer;
	}
	.mobile-top-bar {
		display: none;
		position: fixed;
		top: 0;
		left: 100%;
		width: 100%;
		height: 100%;
		background-color: #2d3a4b;
		z-index: 100;
		display: block;
		padding: 20px;
		transition: left 0.5s;
	}
	.mobile-top-bar.active {
		left: 0;
	}
	.mobile-top-bar .close {
		width: 30px;
		height: 30px;
		position: absolute;
		cursor: pointer;
		display: block;
		right: 20px;
		z-index: 100000;
	}
	.mobile-top-bar .close::before,
	.mobile-top-bar .close::after {
		background-color: #fff;
		content: '';
		width: 100%;
		height: 3px;
		position: absolute;
		transform: rotate(45deg);
		bottom: 50%;
	}
	.mobile-top-bar .close::after {
		transform: rotate(-45deg);
	}
	.mobile-top-bar .menu-box-1 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.mobile-top-bar .menu-box-1 a {
		padding: 20px;
		color: #fff;
		font-weight: 700;
		font-size: 0.875rem;
		transition: color 0.5s;
	}
	.mobile-top-bar .menu-box-1 a:hover {
		color: #999;
	}
	.mobile-top-bar .menu-box-1 a:first-child {
		padding-top: 50px;
	}
	.mobile-top-bar img {
		width: 30px;
		height: 30px;
	}

	.menu-box {
		display: flex;
		height: 100%;
		align-items: center;
		margin-bottom: 0;
	}
	.menu-box a {
		color: white !important;
		text-decoration: none !important;
	}
	@media (max-width: 900px) {
		.top-bar .menu-box {
			display: none;
		}
		.open,
		.mobile-top-bar {
			display: block;
		}
		header {
			height: 60px;
		}
		.section-1 {
			margin-top: 60px;
		}
	} */
</style>
