<template>
    <div class="row mx-0">
        <div v-if="notification.type == 1" class="col-12 m-auto alert alert-success-alt text-center">
            <b style="font-weight: 600;" v-html="notification.message"></b>
        </div>
        <div v-if="notification.type == 2" class="col-12 m-auto alert alert-danger-alt text-center">
            <b style="font-weight: 600;" v-html="notification.message"></b>
        </div> 
    </div>
</template>
<script>
import { mapState } from 'vuex' 
export default {
    name:'notification',
    computed:{
        ...mapState({ 
            notification:(state)=>state.notification
        }),
    },
}
</script>
<style>
    .alert{
        padding: .75rem 1.25rem;
    }
    /* .al-suc{
        color: #fff !important;
        background-color: #347743 !important;
        border-color: #c3e6cb !important;
        margin-left: 20px;
        margin-bottom: 10px;
    }

    .al-dan{
        color: #fff !important;
        background-color: #af2929 !important;
        border-color: #f5c6cb !important;
        margin-left: 20px;
        margin-bottom: 10px;
    } */
</style>