<template>
	<div class="footer-bar">
		<div class="container">
			<div class="row align-items-center justify-content-center">
				<div class="col-md-8">
					<ul class="footer-links">
						<li><a href="#">{{$t('dashboard.Whitepaper')}}</a></li>
						<li><a href="#">{{$t('dashboard.faqs')}}</a></li>
						<li><a href="#">{{$t('dashboard.Privacy_Policy')}}</a></li>
						<li><a href="#">{{$t('dashboard.Terms_of_Condition')}}</a></li>
					</ul>
				</div>
				<!-- .col -->
				<div class="col-md-4 mt-2 mt-sm-0">
					<div class="d-flex justify-content-between justify-content-md-end align-items-center guttar-25px pdt-0-5x pdb-0-5x">
						<div class="copyright-text">&copy; {{ new Date().getFullYear() }} {{$t('dashboard.monopoly')}}.</div>
						<!-- <language color="white" ></language> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
// import language from '../../views/dashboard/layout/language'
export default {
    components:{
        // language
    }
}
</script>
<style scoped>
.footer-bar{
	padding-bottom: 15px;
	padding-top: 15px;
	background: #fff;
}
.footer-links li a {
    color: #212529;
}
a{
	color: #212529 !important;
}
</style>

