<template>
	<div class="nk-header nk-header-fixed">
		<div class="container-fluid">
			<div class="nk-header-wrap">
				<div class="nk-menu-trigger d-xl-none ml-n1">
					<a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
				</div>
				<div class="nk-header-brand d-xl-none">
					<router-link to="/dashboard" class="logo-link">
						<img class="logo-light logo-img" src="@/assets/images/rlogo.png" alt="logo">
						<img class="logo-dark logo-img" src="@/assets/images/rlogo.png" alt="logo-dark">
					</router-link>
				</div>
				<div class="nk-header-tools">
					<ul class="nk-quick-nav">
						<li>
							<div>
								<span v-if="user.employee == 1" class="badge badge-primary">employee</span>
								<span v-else class="badge badge-secondary">user</span>
							</div>
						</li>
						<li class="d-flex align-items-center">
							<language />
							<!-- <span class="ml-0">Lang</span> -->
						</li>
						<li class="dropdown user-dropdown">
							<a href="#" id="dd-toggle" class="dropdown-toggle" data-toggle="dropdown">
								<div class="user-toggle">
									<div class="user-avatar sm">
										<em class="icon ni ni-user-alt"></em>
									</div>
									<div class="user-info d-none d-md-block">
										<div class="user-status bg-transparent px-0 text-left text-dark">{{user.username}}</div>
										<div class="user-name dropdown-indicator text-dark text-capitalize">{{ user.firstname }} {{ user.lastname }} </div>
									</div>
								</div>
							</a>
							<div class="dropdown-menu dropdown-menu-md dropdown-menu-right dropdown-menu-s1" id="dd-dd">
								<div class="dropdown-inner">
									<ul class="link-list">
										<li><router-link :to="{name: 'profile'}"><em class="icon ni ni-user-alt"></em><span>{{ $t('dashboard.My_Profile') }}</span></router-link></li>
										<li><router-link :to="{name: 'tree'}"><em class="icon ni ni-network"></em><span>{{ $t('dashboard.Genealogy') }}</span></router-link></li>
									</ul>
								</div>
								<div class="dropdown-inner">
									<ul class="link-list">
										<li><a href="#"  @click.prevent="logout()"><em class="icon ni ni-signout"></em><span>{{ $t('dashboard.Logout') }}</span></a></li>
									</ul>
								</div>
							</div>
						</li>
						
					</ul><!-- .nk-quick-nav -->
				</div><!-- .nk-header-tools -->
			</div><!-- .nk-header-wrap -->
		</div><!-- .container-fliud -->
	</div>
</template>
<script>
	import {mapState} from 'vuex';
	import language from '../../views/dashboard/layout/language.vue';
	export default {
		components: {language},
		computed: {
			...mapState({
				user: (context) => context.user,
			}),
		},
		data() {
			return {
				active: false,
			};
		},
		methods: {
			toggleSidebar() {
				var dm = document.getElementById('navbar');
				dm.classList.add('navbar-mobile');
				var list = dm.classList;
				list.forEach((name) => {
					if (name == 'active') {
						dm.classList.remove(name);
					} else {
						dm.classList.add('active');
					}
				});
			},
			toggleDropdown() {
				this.active = !this.active;
			},
			closeNavOnClick() {
				const navLinks = document.querySelectorAll('.nav-link-li');
				const navBar = document.querySelector('#navbar');
				const navToggler = document.querySelector('.toggle-nav');

				navLinks.forEach((navLink) => {
					navLink.addEventListener('click', () => {
						navBar.classList.remove('active')
						navToggler.classList.remove('active')
					});
				});
			},
			logout() {
				this.$store.commit('logout');
			},
			toggleNav() {
				window.$('#navTog').toggleClass('navactive');
				window.$('.toggle-nav').toggleClass('active');
			},
			toggleGame() {
				window.$('#game').toggleClass('gctive');
			},
		},
		mounted(){
			this.closeNavOnClick()
		}
	};
</script>

<style scoped>
.dropdown-menu{
    transform: translate3d(-52px, 28px, 0px) !important;
}
.nk-header-tools .nk-quick-nav .nav{
	margin: 0 5px !important;
}
@media (min-width: 992px){
	.nk-header {
		padding: 0 4px !important;
		background: #212529;
	}
}
.nk-header {
	background: #fff;
}
.txt-white{
	color: #fff;
}
.nk-quick-nav-icon:hover{
	color: black;
}
	/* .page-links-all li a {
		color: #20317e;
		text-align: left;
		font-weight: 600;
	}
	.user-links {
		text-align: left;
		font-weight: 600;
	}
	.user-status-title {
		text-align: left;
	}

	.navactive {
		left: 0;
		display: block;
		overflow-y: auto;
	}

	.toggle-nav.active .toggle-line:nth-last-of-type(4) {
		transform-origin: top left;
		transform: rotate();
		top: -1px;
	}
	.gctive {
		display: block;
	} */
</style>
