<template>
    <div class="nk-sidebar nk-sidebar-fixed is-dark " data-content="sidebarMenu">
        <div class="nk-sidebar-element nk-sidebar-head">
            <div class="nk-menu-trigger">
                <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em class="icon ni ni-arrow-left"></em></a>
                <a href="#" class="nk-nav-compact nk-quick-nav-icon d-none d-xl-inline-flex" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
            </div>
            <div class="nk-sidebar-brand">
                <router-link to="/dashboard" class="logo-link nk-sidebar-logo">
                    <img class="logo-light logo-img" src="@/assets/images/rlogo.png" alt="logo">
                    <img class="logo-dark logo-img" src="@/assets/images/rlogo.png" alt="logo-dark">
                </router-link>
            </div>
        </div><!-- .nk-sidebar-element -->
        <div class="nk-sidebar-element nk-sidebar-body">
            <div class="nk-sidebar-content">
                <div class="nk-sidebar-menu" data-simplebar>
                    <ul class="nk-menu">
                        <li class="nk-menu-item" @click="hiddleSidebar()" :class="$route.fullPath.split('/')[1] == 'dashboard' ? 'active current-page' : ''">
                            <router-link :to="{name: 'dashboard'}" class="nk-menu-link" data-target="sidebarMenu">
                                <span class="nk-menu-icon"><em class="icon ni ni-dashlite"></em></span>
                                <span class="nk-menu-text">{{ $t('dashboard.Dashboard') }}</span>
                            </router-link>
                        </li>
                        <li class="nk-menu-item" @click="hiddleSidebar()" :class="$route.fullPath.split('/')[1] == 'character' ? 'active current-page' : ''">
                            <router-link :to="{name: 'character'}" class="nk-menu-link">
                                <span class="nk-menu-icon"><em class="icon ni ni-coins"></em></span>
                                <span class="nk-menu-text">{{ $t('dashboard.Buy_Character') }}</span>
                            </router-link>
                        </li>
                        <li class="nk-menu-item" @click="hiddleSidebar()" :class="$route.fullPath.split('/')[1] == 'transactions' ? 'active current-page' : ''">
                            <router-link :to="{name: 'transactions'}" class="nk-menu-link">
                                <span class="nk-menu-icon"><em class="icon ni ni-tranx"></em></span>
                                <span class="nk-menu-text"> {{ $t('dashboard.Transactions') }} </span>
                            </router-link>
                        </li>
                        <li class="nk-menu-item" @click="hiddleSidebar()" :class="$route.fullPath.split('/')[1] == 'withdraw' ? 'active current-page' : ''">
                            <router-link :to="{name: 'withdrawal'}" class="nk-menu-link">
                                <span class="nk-menu-icon"><em class="icon ni ni-invest"></em></span>
                                <span class="nk-menu-text"> {{ $t('dashboard.Withdraw') }} </span>
                            </router-link>
                        </li>
                        <li class="nk-menu-item has-sub" @click="toggleDropdown()" :class="$route.fullPath.split('/')[1] == 'games' ? 'active current-page' : ''">
                            <a href="#" class="nk-menu-link nk-menu-toggle">
                                <span class="nk-menu-icon"><em class="icon ni ni-tile-thumb"></em></span>
                                <span class="nk-menu-text">{{ $t('dashboard.Games') }}</span>
                            </a>
                            <ul class="nk-menu-sub">
                                <li class="nk-menu-item">
                                    <a href="/monopoly" class="nk-menu-link" ><span class="nk-menu-text" style="color:#6e82a5;">{{ $t('dashboard.Monopoly') }}</span></a>
                                </li>
                            </ul><!-- .nk-menu-sub -->
                        </li>
                        <li class="nk-menu-item" @click="hiddleSidebar()" :class="$route.fullPath.split('/')[1] == 'profile' ? 'active current-page' : ''">
                            <router-link to="/profile" class="nk-menu-link">
                                <span class="nk-menu-icon"><em class="icon ni ni-user"></em></span>
                                <span class="nk-menu-text"> {{ $t('dashboard.Profile') }} </span>
                            </router-link>
                        </li>
                        <!-- <li class="nk-menu-item" style="margin-left: 63px;margin-top: 10px;height:24px">
                            <language />
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
// import language from '../../views/dashboard/layout/language'
export default {
    components:{
        // language
    },
    methods:{
        toggleDropdown(){
            window.$('.has-sub').addClass('active');
            window.$('.nk-menu-sub').removeClass('d-none');
        },
        hiddleSidebar(){
            window.$('.nk-sidebar').toggleClass('nk-sidebar-active');
            window.$('body').toggleClass('nav-shown');
            window.$('.nk-sidebar-overlay').toggleClass('nk-sidebar-overlay');
            window.$('.has-sub').removeClass('active');
            window.$('.nk-menu-sub').addClass('d-none');
        }
    },
}
</script>
<style scoped>
    .nk-menu-text{
        flex-grow: 0;
        margin-left: 10px;
    }
    .dropdown a{
        width: 30px !important;
        margin-left: -35px !important;
    }
    .nk-menu-item.active{
        background: #5540d9;
        margin: 0 10px;
        border-radius: 7px;
    }
</style>