<template>
    <div class="timeline noti-timeline"> 
        <div class="timeline-line noti-timeline-line"></div>
        <div class="timeline-item" >
            <div class="timeline-time noti-timeline-time">
                {{notification.created_at}}
            </div>
            <div class="timeline-content noti-content">
                <h4 class="card-title text-dark noti-title">{{title}}</h4>
                <p class="noti-txt-body">{{description}}</p>
                <div class="noti-date"><small></small></div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props:{
        notification:{required:true}
    },
    computed:{
        title(){ 
            return this.translateApiData(this.notification.title)
        },
        description(){
            return this.translateApiData(this.notification.body)
        }
    },
    methods: {
        translateApiData(subject){
            while(subject.indexOf('LANG__') != -1){
                var first_lang = subject.indexOf('LANG__');
                var sec_lang = subject.indexOf('__LANG'); 
                first_lang += 6;

                var translation_key = subject.substring(first_lang, sec_lang)
                var translated_value = this.$t(translation_key)
                subject = subject.replace('LANG__'+translation_key+'__LANG',translated_value)
                
            }
            return subject;
        }
    },
    created() {
        
    },
}
</script>