<template>
	<div class="page-wrapper" id="gamecontainer">
		<div id="map">
			<img id="board" class="map d-none d-md-block" src="../../../assets/images/Game-PC.png" usemap="#image_map">
			<img id="board-sm" class="map d-block d-md-none" src="../../../assets/images/Game-Moible.png" usemap="#image_map">

			<div id="pageInner" class="page-inner d-none">
				<div class="container">
					<div class="row mb-3">
						<div class="col-12 col-md-8 col-lg-9 mb-4 mb-md-0">
							<div class="game-timer-window">
								<div class="game-timer-inner">
									
								</div>
							</div>
						</div>
						<div class="col-12 col-md-4 col-lg-3">
							<div class="row">
								<div class="mb-md-2 col-6 col-md-12">
									<div class="game-point game-type-point">
										<p class="game-type-point-details point">My Point  <a href="#addModal" class="add_more_trigger" data-toggle="modal"><i class="fas fa-plus"></i> Add more</a></p>
										<p class="game-type-point-details detail-point">
											{{formatPrice(user.wallet.accumulative_balance)}}
											<strong>P</strong>
										</p>
									</div>
								</div>
								<div class="col-6 col-md-12">
									<div class="game-point game-type-point">
										<p class="game-type-point-details point">MY Betting</p>
										<div class="game-point-highligter">
											<div class="my-betting-point">
												<span>{{bet.side.toUpperCase()}}</span>
												<span>{{bet.profit}}X</span>
											</div>
											<div class="point-bets">
												<span>{{formatPrice(bet.amount)}} <strong>P</strong></span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-6 col-lg-2 order-1 order-lg-1 mb-3 mb-lg-0">
							<button @click="selectSide('odd')" :class="{active:bet.side == 'odd'}" class="game-point-selection border-top-left">
								<h4>
									<span>홀</span>
									<span>ODD</span>
								</h4>
							</button>
						</div>
						<div class="col-12 col-lg-8 order-3 order-lg-2 px-0">
							<div class="game-select-wrapper">
								<div class="row">
									<div class="col-4">
										<div class="game-type-selection-highlight">
											<button @click="selectProfit(2)" type="button" :class="{active:bet.profit == 2}" class="button-select-one">2X</button>
										</div>
									</div>
									<div class="col-4">
										<div class="game-type-selection-highlight">
											<button @click="selectProfit(4)" type="button" :class="{active:bet.profit == 4}" class="button-select-one">4X</button>
										</div>
									</div>
									<div class="col-4">
										<div class="game-type-selection-highlight">
											<button @click="selectProfit(8)" type="button" :class="{active:bet.profit == 8}" class="button-select-one">8X</button>
										</div>
									</div>
									<div class="col-8">
										<div class="game-type-selection-button">
											<div class="button-select">
												<div class="select-window d-flex">
													<input type="text" v-model="bet.amount" class="form-control amount-bet">
													<strong>P</strong>
												</div>
												<div class="select-btn-button">
													<button @click="toggleAmount('+')"><i class="fas fa-angle-up"></i></button>
													<button @click="toggleAmount('-')"><i class="fas fa-angle-down"></i></button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-4">
										<div class="game-type-selection-btn">
											<button :disabled="placing_bet" @click="startBet()" type="button" class="btn-confirm">
												<span v-if="!placing_bet">BET</span>
												<span v-else>Syncing...</span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-6 col-lg-2 order-2 order-lg-3 mb-3 mb-lg-0">
							<button @click="selectSide('even')" :class="{active:bet.side == 'even'}" class="game-point-selection border-top-right">
								<h4>
									<span>상</span>
									<span>EVEN</span>
								</h4>
							</button>
						</div>
					</div>
				</div>
				<!-- <div class="row">
					<div class="col-12 mt-4">
						<router-link style="color: red !important ;font-weight: 700;" class="text-white" to="/dashboard"><i class="fas fa-arrow-left"></i> Go To Dashboard</router-link>
					</div>
				</div> -->
			</div>
		</div>
		
		<map name="image_map">
			<!-- <area href="#" @click="toggleAddAmount()" :coords="add_amount_map[resolution]" shape="rect">  -->
			<area href="#"  id="betButtonArea" @click="startBet()" :coords="bet_map[resolution]" shape="rect"> 
			<area href="#" @click="selectProfit(2)" :coords="p_2x[resolution]" shape="rect"> 
			<area href="#" @click="selectProfit(4)" :coords="p_4x[resolution]" shape="rect"> 
			<area href="#" @click="selectProfit(8)" :coords="p_8x[resolution]" shape="rect">
			<area href="#" @click="selectSide('odd')" :coords="odd_map[resolution]" shape="rect">
			<area href="#" @click="selectSide('even')" :coords="even_map[resolution]" shape="rect"> 
			<area id="dice_area" :coords="dice_map[resolution]" shape="rect">
			<area id="wallet_area" data-name='wlt' :coords="wallet_map[resolution]" shape="rect">
			<area id="profit_area" :coords="profit_map[resolution]" shape="rect">
			<area id="side_area" :coords="side_map[resolution]" shape="rect">
			<area id="amount_area" :coords="amount_map[resolution]" shape="rect">
			<area id="input_area" :coords="input_map[resolution]" shape="rect">
			<area @click="toggleAmount('+')" :coords="increase_map[resolution]" shape="rect">
			<area @click="toggleAmount('-')" :coords="decrease_map[resolution]" shape="rect">
			
			<area id="odd_map_border_area" :coords="odd_map_border[resolution]" shape="rect">
			<area id="even_map_border_area" :coords="even_map_border[resolution]" shape="rect">
			<area id="profit_borders_area_2x" :coords="profit_borders[resolution]['2x']" shape="rect">
			<area id="profit_borders_area_4x" :coords="profit_borders[resolution]['4x']" shape="rect">
			<area id="profit_borders_area_8x" :coords="profit_borders[resolution]['8x']" shape="rect">

			<area href="/dashboard" :coords="quit_map[resolution]" shape="rect">
		</map> 
		
		<div id="dices" class="abs">
			<TwoDice :loaded="loaded"></TwoDice>
		</div>



		<p id="wallet" class=" abs game-type-point-details text-right detail-point m-0">
			<b class="wallt">
				{{formatPrice(user.wallet.accumulative_balance)}}<strong>P</strong>
			</b>
		</p>
		<div class="abs text-center" id="side"><span>{{bet.side.toUpperCase()}}</span></div>
		<div class="abs" id="profit"><span>{{bet.profit}}X</span></div>
		<div class="abs" id="amount"><span>{{formatPrice(bet.amount)}} <strong>P</strong></span></div>
		<div id="input" class="abs select-window d-flex">
			<input type="text" v-model="bet.amount" class="form-control amount-bet">
			<strong class="p_lt">P</strong>
		</div> 

		<div id="betButton" class="game-type-selection-btn">
			<button :disabled="placing_bet" @click="startBet()" type="button" class="btn-confirm">
				<span v-if="!placing_bet">BET</span>
				<span v-else>Syncing...</span>
			</button>
		</div>

		<div id="odd_map_border" v-show="bet.side == 'odd'" class="odd_area">
			<div class="rel">
				<h4>
					<span>홀</span>
					<span>ODD</span>
				</h4>
			</div>
		</div>
		<div id="even_map_border" v-show="bet.side == 'even'" class="even_area">
			<div class="rel">
				<h4>
					<span>짝</span>
					<span>EVEN</span>
				</h4>
			</div>
		</div>

		<div id="profit_border" class="profit_area">
			<div class="rel">
				<h4><span>{{bet.profit}}X</span></h4>
			</div>
		</div>

		<!-- Modal Centered -->
        <div class="modal fade" id="addModal"  data-backdrop="static" style="background:#000000b3
        " tabindex="-1">
            <div class="modal-dialog modal-dialog-sm modal-dialog-centered">
                <div class="modal-content">
                    <!-- <a href="#" class="modal-close" data-dismiss="modal" aria-label="Close"><em class="ti ti-close"></em></a> -->
                    <div class="popup-body"> 
                        <div class="input-item input-with-label">
							<label class="input-item-label">Amount (P)</label>
							<input v-model="add_amount" class="input-bordered" type="number" placeholder="1000">
						</div>

                        <div class="pay-button d-md-flex" style="justify-content:space-between">
                            <a @click="addAmount()" class="btn btn-success btn-between" style="width:45%">
                                <span><i class="fas fa-plus"></i> Add</span>
                            </a>
                            
                            <a href="#" data-dismiss="modal" class="btn btn-danger-alt btn-between" style="width:45%">
                                <span>Cancel</span>
                            </a>
                        </div>
                    </div>
                </div><!-- .modal-content -->
            </div><!-- .modal-dialog -->
        </div>

        <!-- Modal End -->
		<div class="modal fade" data-backdrop="static" id="goingModal" style="background:#000000b3 " tabindex="-1">
            <div class="modal-dialog modal-dialog-sm modal-dialog-centered">
                <div style="background:black" class="modal-content p-0"> 
                    <div class="popup-body" style="background: black;"> 
                        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                    </div>
                </div><!-- .modal-content -->
            </div><!-- .modal-dialog -->
        </div>
        <!-- Modal End -->
		<div class="modal fade" data-backdrop="static" id="startModal" style="background:black " tabindex="-1">
            <div class="modal-dialog modal-dialog-sm modal-dialog-centered">
                <div style="background:black" class="modal-content p-0"> 
                    <div class="popup-body" > 
                       <div class="pay-button d-md-flex" style="justify-content:space-evenly">
                            <a @click="startGame()" class="btn btn-success btn-between text-center" style="width:45%">
                                <span class="text-center d-block m-auto">
									<span v-if="!starting">START</span>
									<span v-else>Loading...</span>
								</span>
                            </a>
					</div>
                    </div>
                </div><!-- .modal-content -->
            </div><!-- .modal-dialog -->
        </div>
        <!-- Modal End -->

		<div class="modal fade"  id="winModal" style="background:#000000b3 " tabindex="-1">
            <div class="modal-dialog modal-dialog-sm modal-dialog-centered">
                <div style="background:black" class="modal-content p-0"> 
                    <img src="https://i.pinimg.com/originals/61/6b/e7/616be78b1da53ab0f16c4e0dd8709512.gif" alt="">
					<h2 class="text-white mb-3">{{win_msg}}</h2>
                </div><!-- .modal-content -->
            </div><!-- .modal-dialog -->
        </div>
	</div>
</template>

<script>
import { mapState } from 'vuex'
import Bus from '../../../main'
import TwoDice from '../../../components/games/two-dice'
export default {
	components:{TwoDice},
    data(){
        return {
            bet:{
                amount:5,
                side:'odd',
                profit:2
            },
			add_amount:0,
			loader:false,
			playing:false,
			loaded:true,
			starting:false,
			win_msg:'',
			betting:{low:0, high:0},
			placing_bet:false,
			resolution:'lg', 
			// add_amount_map:{lg:'1420,158,1613,220', sm:'638,175,842,239'},
			quit_map:{lg:'1389,161,1682,227', sm:'620,167,919,240'},
			bet_map:{lg:'1089,812,1294,894', sm:'657,1592,922,1722'},
			p_2x:{lg:'624,724,838,798', sm:'157,1409,385,1524'},
			p_4x:{lg:'861,726,1066,798', sm:'426,1408,657,1530'},
			p_8x:{lg:'1089,726,1296,791', sm:'695,1406,920,1526'},
			odd_map:{lg:'237,703,586,915', sm:'159,1130,537,1344'},
			even_map:{lg:'1341,701,1685,915', sm:'546,1135,917,1346'},
			dice_map:{lg:'227,166,1305,670', sm:'228,355,846,724'},
			wallet_map:{lg:'1354,331,1669,404', sm:'160,909,519,1071'},
			amount_map:{lg:'1348,592,1674,655', sm:'559,987,919,1065'},
			side_map:{lg:'1346,511,1510,579', sm:'564,915,744,986'},
			profit_map:{lg:'1520,511,1672,574', sm:'750,915,917,987'},
			input_map:{lg:'636,822,1017,887', sm:'175,1608,524,1698'},
			increase_map:{lg:'1022,822,1059,848', sm:'543,1589,611,1653'},
			decrease_map:{lg:'1025,858,1056,887', sm:'539,1658,612,1721'},
			odd_map_border:{lg:'230,696,587,923', sm:'150,1125,545,1358'},
			even_map_border:{lg:'1335,696,1687,918', sm:'541,1125,924,1355'},
			profit_borders:{
				lg:{'2x':'627,720,836,802','4x':'859,720,1064,800','8x':'1089,718,1293,802'},
				sm:{'2x':'152,1400,391,1530','4x':'418,1401,658,1532','8x':'690,1401,927,1528'}
			}
        }
    },
	computed:{
		...mapState({
			user : (state)=> state.user
		})
	},
    methods:{
		startGame(){
			this.starting = true;
			this.arrangeItems();
			
			setTimeout(()=>{
				window.$("#startModal").modal('hide');
				this.starting=false;
			}, 1000);
		},
		toggleAddAmount(){
			window.$("#addModal").modal('show');
		},
		async startBet(){
			if(this.playing) return false;
			
			var amt = parseInt(this.bet.amount);
			this.bet.amount = isNaN(amt) ? 0 : amt;

			if(this.bet.amount < this.betting.low){
				window.ToasterAlert('error', "Bet amount is too low");
				return false
			}

			if(this.bet.amount > this.betting.high){
				window.ToasterAlert('error', "Bet amount is higher than "+this.betting.high);
				return false
			}

			if(this.bet.amount > this.user.wallet.accumulative_balance){
				this.bet.amount = this.user.wallet.accumulative_balance;
				window.ToasterAlert('error', "Bet amount is lower than your point, please recharge");
				return false
			}

			this.placing_bet = true;
			this.playing = true;
			
			var response = await this.$store.dispatch('post', {
				endpoint:'place-bet',
				details:{
					amount : this.bet.amount,
					side : this.bet.side,
					profit : this.bet.profit,
				}
			})

			if(response.status == 200){
				if(response.data.status) {
					this.bet.id = response.data.log.id	
					var user = response.data.user 
					user.token=this.$store.state.token;
					this.$store.commit('setUser',user);
				}else{
					window.ToasterAlert('error', response.data.msg);
					return false;
				}
			}
			Bus.$emit('rollDice');
			this.placing_bet=false
		},
		async diceRolled(data){
			this.playing = false;
		
			// window.$("#goingModal").modal('show');

			var sum = data[0] + data[1];
			var result = '';
			if(sum % 2 == 0){
				//even
				result = 'even';
			}else{
				//odd
				result = 'odd';
			}

			

			this.toggleLoader(true);

			var response = await this.$store.dispatch('post', {
				endpoint:'complete-bet',
				details:{
					id : this.bet.id,
					'side' : result
				}
			})
			if(response.status == 200){
				if(response.data.status){
					var user = response.data.user 
					user.token=this.$store.state.token;
					this.$store.commit('setUser',user); 
					
					if(this.bet.side == result){
						//win 
						// window.ToasterAlert('success', response.data.msg);
						this.win_msg = response.data.msg;
						window.$("#winModal").modal('show');
					}else{
						//loose
						window.ToasterAlert('error', response.data.msg);
					}
				}else{
					window.ToasterAlert('error', response.data.msg);
				}
			}
			this.toggleLoader(false) 
			console.log('rere');
		},
		async addAmount(){
			this.toggleLoader(true)
			var response = await this.$store.dispatch('post', {
				endpoint:'add-free-amount',
				details:{amount:this.add_amount}
			});
			if(response.status == 200){
				if(response.data.status){
					var result = response.data.user 
					result.token=this.$store.state.token;
					this.$store.commit('setUser',result); 
					window.ToasterAlert('success', "Point was added successfully.");
					window.$('#addModal').modal('hide');
				}else{
					window.ToasterAlert('error', response.data.msg);
				}
			}
			
			this.toggleLoader(false)
		},
		selectSide(side){
			if(this.playing) return false;
			this.bet.side = side;
		},
		selectProfit(amount){
			if(this.playing) return false;
			this.bet.profit = amount;

			// PROFIT BORDER
			var profit_map_border = window.$("#profit_border");
			var profit_map_border_area = window.$("#profit_borders_area_"+this.bet.profit+"x");
			var coords = profit_map_border_area.attr('coords').split(',') 
			profit_map_border.css({top:coords[1]+'px', left:coords[0]+'px', width:coords[2] - coords[0], height:coords[3] - coords[1]})
			profit_map_border.appendTo('#map');
		},
		formatPrice(value) {
			let val = (value/1).toFixed(0).replace('.', ',')
			return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
		},
		toggleAmount(op){
			var amount  = this.bet.amount;
			if(op == '+'){
				amount +=1;
			}
			else if(op == '-'){
				amount -=1;
			}
			if(amount > this.user.wallet.accumulative_balance) return false;

			if(amount > this.betting.high){
				window.ToasterAlert('error', 'Max. amount for bet is '+this.betting.high+'P');
				return false;
			}
			if(amount < this.betting.low){
				window.ToasterAlert('error', 'Min. amount for bet is '+this.betting.low+'P');
				return false;
			}
			
			this.bet.amount = amount;
		},
		toggleLoader(status){
            this.loader = status; 
			var timeout = status ? 0 : 500;
            setTimeout(()=>{
                window.$("#goingModal").modal(status ? 'show': 'hide');
            }, timeout);
        },
		async getConfig(){
			var response = await this.$store.dispatch('get', 'oddeven-configurations');
			
			if(response.status == 200){
				this.loaded = true;
				var data =  response.data.data;
				if(data){
					data = JSON.parse(data.value);

					this.betting = data.betting;
					this.bet.amount = data.betting.low;
				}
				console.log(data)
			}
		},
		arrangeItems(){
			//DICE
			var dices = window.$("#dices");
			var dice_map = window.$('#dice_area');
			var coords = dice_map.attr('coords').split(',')
			var width = coords[2] - coords[0];
			dices.css({top:coords[1]+'px', left:coords[0]+'px', width:width, height:coords[3] - coords[1], margin:'auto'})
			dices.appendTo('#map')
			
			// Wallet
			var wallet = window.$("#wallet");
			var wallet_area = window.$("#wallet_area");
			coords = wallet_area.attr('coords').split(',')
			width = coords[2] - coords[0];
			wallet.css({top:coords[1]+'px', left:coords[0]+'px', width:width, height:coords[3] - coords[1]})
			wallet.appendTo('#map');

			//AMOUNT
			var amount = window.$("#amount");
			var amount_area = window.$("#amount_area");
			coords = amount_area.attr('coords').split(',') 
			amount.css({top:coords[1]+'px', left:coords[0]+'px', width:coords[2] - coords[0], height:coords[3] - coords[1]})
			amount.appendTo('#map');

			// PROFIT
			var profit = window.$("#profit");
			var profit_area = window.$("#profit_area");
			coords = profit_area.attr('coords').split(',') 
			profit.css({top:coords[1]+'px', left:coords[0]+'px', width:coords[2] - coords[0], height:coords[3] - coords[1]})
			profit.appendTo('#map');

			// SIDE
			var side = window.$("#side");
			var side_area = window.$("#side_area");
			coords = side_area.attr('coords').split(',') 
			side.css({top:coords[1]+'px', left:coords[0]+'px', width:coords[2] - coords[0], height:coords[3] - coords[1]})
			side.appendTo('#map');

			// INPUT
			var input = window.$("#input");
			var input_area = window.$("#input_area");
			coords = input_area.attr('coords').split(',') 
			input.css({top:coords[1]+'px', left:coords[0]+'px', width:coords[2] - coords[0], height:coords[3] - coords[1]})
			input.appendTo('#map'); 

			// ODD BORDER
			var odd_map_border = window.$("#odd_map_border");
			var odd_map_border_area = window.$("#odd_map_border_area");
			coords = odd_map_border_area.attr('coords').split(',') 
			odd_map_border.css({top:coords[1]+'px', left:coords[0]+'px', width:coords[2] - coords[0], height:coords[3] - coords[1]})
			odd_map_border.appendTo('#map');

			// EVEN BORDER
			var even_map_border = window.$("#even_map_border");
			var even_map_border_area = window.$("#even_map_border_area");
			coords = even_map_border_area.attr('coords').split(',') 
			even_map_border.css({top:coords[1]+'px', left:coords[0]+'px', width:coords[2] - coords[0], height:coords[3] - coords[1]})
			even_map_border.appendTo('#map');

			// PROFIT BORDER
			var profit_map_border = window.$("#profit_border");
			var profit_map_border_area = window.$("#profit_borders_area_"+this.bet.profit+"x");
			coords = profit_map_border_area.attr('coords').split(',') 
			profit_map_border.css({top:coords[1]+'px', left:coords[0]+'px', width:coords[2] - coords[0], height:coords[3] - coords[1]})
			profit_map_border.appendTo('#map');

			// BET BUTTON BORDER
			var bet_button_map_border = window.$("#betButton");
			var bet_button_map_border_area = window.$("#betButtonArea");
			coords = bet_button_map_border_area.attr('coords').split(',') 
			bet_button_map_border.css({top:coords[1]+'px', left:coords[0]+'px', width:coords[2] - coords[0], height:coords[3] - coords[1]})
			bet_button_map_border.appendTo('#map');

		}, 
    },
	mounted(){
		setTimeout(()=>{
			if(window.$('#board')){
				if(window.$('#board').css('display') == 'block'){
					window.$('#board').rwdImageMaps();
				}
			}
			if(window.$('#board-sm')){
				if(window.$('#board-sm').css('display') == 'block'){
					window.$('#board-sm').rwdImageMaps();
				}
			} 
			
		}, 500);	
		
		window.$("#startModal").modal('show');
	},
    created(){
		this.getConfig();

		var context = this;
		Bus.$on('dice_rolled_finish', function(data){
			setTimeout(()=>{
				context.diceRolled(data)
			}, 1000)
		});
		
		if(window.innerWidth <= 767){
			this.resolution =  'sm'
		}
		
		
    }
}
</script>
<style scoped>
	.p_lt{
		position: absolute;
		top: 0;
		bottom: 0;
		right: 4px;
		height: fit-content;
		left: unset;
		margin: auto;
	}
	.wallt{
		position: absolute;
		width: fit-content;
		height: fit-content;
		top: 0;
		bottom:0;
		left:0;
		right: 0;
		margin: auto;
	}
	#betButton{
		position: absolute;

	}
	.rel{
		position: relative;
		width: 100%;
		height: 100%;
		background: #0d2562;
	}
	.rel{
		position: relative;
		width: 100%;
		height: 100%;
		background: #0d2562;
	}
	.rel h4{
		position: absolute;
		width: fit-content;
		height: fit-content;
		top: 0;
		bottom:0;
		left:0;
		right: 0;
		margin: auto;

	}
	.rel h4 span{
		display: block;
		color: white;
		font-weight: 800;
		/* font-size: 1.8rem; */
	}
	@media (min-width:1000px) and (min-height:600px) {
		.rel h4 span, .abs p{ 
			font-size: 1.8rem;
		}
	}
	.odd_area{
		overflow: hidden;
		position: absolute;
		border: 3px solid #0ce9f7;
		border-top-left-radius: 13px;
		border-bottom-left-radius: 13px;
	}
	.even_area{
		overflow: hidden;
		position: absolute;
		border: 3px solid #0ce9f7;
		border-top-right-radius: 13px;
		border-bottom-right-radius: 13px;
	}
	.profit_area{
		overflow: hidden;
		position: absolute;
		border: 3px solid #0ce9f7;
		border-radius: 13px;
	}
	.form-control{
		height: auto;
	}
	#wallet, #amount, #profit, #side, #input{ 
		font-size: 1.4em;
		font-weight: 700; 
		padding: 5px 10px;
	}
	@media (max-width:900px) {
		#wallet, #amount, #profit, #side, #input{ 
			font-size: 1em;
		}
	}
	.abs{
		position: absolute;
		width: fit-content;
		height: fit-content;
		overflow: hidden;
	}
	#map{
		position: relative;
		max-width: 1200px;
	}
	@media (max-height:600px) {
		#map{ 
			max-width: 700px;
		}
	}
	#board{
		width: 95%;
	}
	.page-inner{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		padding: 25px;
        width: 80%;
        max-width: 850px;
        border-radius: 20px;
	}
	button:hover{
		cursor: pointer;
	}
	strong{
		color: #ff9800;
	}
	.add_more_trigger{
		text-decoration: none !important;
		font-size: 10px;
		color: #ff9800;
		font-weight: 700;
		padding-top: 5px;
	}
	.amount-bet{
		background: #004c94;
		border: none;
		outline: none;
		color: white;
		text-align: right;
		padding: 0 5px;
		font-weight: 600;
		margin-right: 5px;
		font-size: 20px;
		/* caret-color: transparent; */
	}
	.amount-bet:focus{
		outline: none !important;
		border: none;
	}
    #gamecontainer{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 9;
        overflow: scroll;
        background-size: cover;
        background-position: bottom;
		overflow: hidden;
    }
	.page-wrapper {
		width: 100%;
		min-height: 100vh;
		display: -ms-grid;
		display: grid;
		place-items: center;
		background-color: #30221d;
		color: #ffffff;
	} 
	.game-timer {
		display: none;
		margin-bottom: 1rem;
	}
	button {
		outline: none !important;
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
	}
	.game-timer h4{
		color: #ffffff;
	}
	.game-timer-window {
		position: relative; 
		border-radius: 50px;
		width: 100%;
		height: 160px; 
		background-color: #06361ecc;
	}
	.game-class {
		border: 2px solid #000;
	}
	.game-point.type-game .game-type-details {
		border: 1px solid #ffffff;
		padding: 10px;
		border-radius: 10px;
	}
	.game-point.type-game .game-type-details span {
		display: block;
		text-align: center;
		font-size: 20px;
		font-weight: bolder;
	}
	.game-point .game-type-point-details.point {
		font-size: 14px;
		margin-bottom: 5px;
		text-align: left;
		display: flex;
		justify-content: space-between;
	}
	.game-point .game-type-point-details:nth-of-type(2) {
		margin-bottom: 0;
		text-align: right;
		font-weight: 800;
		font-size: 20px;
	}
	.game-point .detail-point {
		border: 1px solid #ffffff;
		padding: 0px 10px;
		border-radius: 10px;
		min-height: 35px;
	}
	.game-point.game-type-point {
		height: 100%;
	}
	.game-point-highligter {
		border: 1px solid #ffffff;
		border-radius: 10px;
	}
	.game-point-highligter .my-betting-point {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.game-point-highligter .my-betting-point span {
		padding: 3px;
		display: inline-block;
		width: 50%;
		font-weight: bolder;
		text-align: center;
	}
	.game-point-highligter .my-betting-point span:first-of-type {
		border-right: 1px solid #ffffff;
	}
	.game-point-highligter .point-bets {
		border-top: 1px solid #ffffff;
		text-align: center;
		padding: 4px;
	}
	.game-point-highligter .point-bets span {
		font-weight: bolder;
	}
	.game-point-selection {
		color: #ffffff;
		background: transparent !important;
		border: 1px solid;
		border-color: #ffffff;
		width: 100%;
		height: 100%;
	}
	.game-point-selection:hover {
		cursor: pointer;
		border-color: #f4d044;
		border-width: 2px;
	}
	.game-point-selection:hover h4{
		color: #f4d044 !important; 
	}
	.game-point-selection.active {
		border-color: #f4d044;
		color: #f4d044 !important;
		border-width: 2px;
		background: #f4d0442e !important;
	}

	.game-point-selection.active h4 {
		color: #f4d044 ;
	}
	.game-point-selection h4 {
		color: inherit;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		height: 100%;
		margin-bottom: 0;
		color: #ffffff;
	}
	.game-point-selection h4 span {
		color: inherit;
		font-size: 24px;
		font-weight: bolder;
	}
	.game-select-wrapper {
		height: 100%;
		padding: 14px;
	}
	.border-top-left {
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
	}
	.border-top-right {
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
	}
	.game-type-selection-highlight .button-select-one {
		width: 100%;
		height: 100%;
		border: 1px solid;
		border-color: #ffffff;
		padding: 0px;
		background-color: transparent;
		color: #ffffff;
		border-radius: 10px;
		font-weight: bolder;
		font-size: 24px;
		text-align: center;
	}
	.game-type-selection-highlight .button-select-one:hover{
		cursor: pointer;
		border-color: #f4d044;
		border-width: 2px;
	}
	.game-type-selection-highlight .button-select-one.active {
		border-color: #f4d044;
		border-width: 2px;
		background: #f4d04457;
	}
	.game-type-selection-button {
		margin-top: 5px;
		border: 1px solid #ffffff;
		border-radius: 10px;
		overflow: hidden;
	}
	.btn-confirm {
		font-size: 1.1rem;
		margin-top:0px;
		width: 100%;
		height: 100%;
		color: red;
		border: none;
		background: #0ce9f7;
		border-radius: 10px;
		font-weight: bolder;
	}
	.button-select {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		/* min-height: 60px; */
	}
	.button-select .select-window {
		width: 90%;
		text-align: right;
		margin-right: 1rem;
		font-size: 22px;
		font-weight: bolder;
	}
	.button-select .select-btn-button {
		width: 10%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;
	}
	.button-select .select-btn-button-button  {
		border: none;
		border-left: 1px solid #ffffff;
		background-color: transparent;
		color: #ffffff; 
	}
	.button-select .select-btn-button-button :hover {
		cursor: pointer;
		background: #f4d044;
		color: white;
	}
	.button-select .select-btn-button-button :first-of-type {
		border-bottom: 1px solid #ffffff;
	}
	@media only screen and (min-width: 992px) {
		.game-select-wrapper {
			margin-left: -15px;
			margin-right: -15px;
			border-top: 1px solid #ffffff;
			border-bottom: 1px solid #ffffff;
		}
	}
	@media (max-width: 500px) {
		.page-inner{
			width: 100% !important;
		}
	}
</style>
