<template>
    <div id="gamecontainer" style="background-color:black" :style="user.employee == 1?'background-image:url(assets/images/em-bg.jpeg)':'background-image:url(assets/images/m-background.jpg)'">

       <div v-if="!maintenance">
            <div class="row p-0">
                <div class="col-md-9 col-sm-12 p-0" style="position:relative">
                    <div :class="{'fade-off':user.active_character ? false:true }"  >
                        <div id="map">
                            <img v-if="user.employee == 0" id="board" class="map" src="../../../assets/images/m-board.png" alt="" usemap="#image_map">
                            <img v-else id="board" class="map" src="../../../assets/images/em-board.png" alt="" usemap="#image_map">
                        </div>

                        <map name="image_map">
                            <area v-for="(column, index) in rewards" :key="index" @click="start(index)" id="start" :column="column.id" :coords="column.coords" shape="rect" :data-name="index == 0 ?'':column.value"> 
                        </map>

                        <Dice :loaded="loaded" />
                    </div>
                </div>
                <div  class="col-md-3 col-sm-12" style="margin-top: 80px;">
                    <div v-show="user.active_character" class=""> 
                        <div class="mb-2 ml-2 mr-2" v-if="!user.can_play_today">
                            <div class="card card-innr">
                                <div class="card-head countdown">
                                    <b>Next Roll Count-down</b>
                                    <h4 class="card-title mb-0">
                                        {{datetime}}
                                    </h4>
                                </div>  
                            </div>
                        </div>
                        <div v-if="settings && user.active_character" class="token-sales card ml-2 mr-2">             
                            <div class="card-innr">
                                <div class="pay-button d-flex p-0 pt-2" style="justify-content:space-between">
                                    <a 
                                        v-if="loaded" 
                                        @click="start()" 
                                        href="javascript:void(0)" 
                                        style="min-width: 100px !important; width:100px !important" 
                                        class="btn d-block  text-center btn-primary btn-between w-100">Roll Dice</a>
                                    <b v-else>Loading Game....</b>
                                    <a 
                                        href="/dashboard" 
                                        style="min-width: 100px !important;background:#495463; width:100px !important" 
                                        class="btn d-block  text-center btn-light-alt btn-between text-white text-center pl-0 pr-0 w-100">Go Back</a>
                                </div>
                                <div class="sap mt-3"></div>
                                <div class="card-head">
                                    <h5 class="card-title card-title-sm">Game Statistics</h5>
                                </div>
                                <div class="token-rate-wrap row">
                                    <div class="token-rate col-md-6 col-lg-12 m-0">
                                        <h5 class="font-mid text-dark">Character Point = <span>{{user.active_character.price_p}} P</span></h5>
                                    </div>
                                    <div class="token-rate col-md-6 col-lg-12 m-0">
                                        <h5 class="font-mid text-dark">Game Point = <span>{{user.wallet.game_amount}} P</span></h5>
                                    </div> 
                                    <!-- <div class="token-rate col-md-6 col-lg-12 m-0">
                                        <h5 class="font-mid text-dark">Game Rounds = <span>{{user.monopoly_rounds}}</span></h5>
                                    </div> -->
                                </div>
                                <!-- <div class="token-bonus-current">
                                    <div class="fake-class">
                                        <span class="card-sub-title">Go Bonus</span>
                                        <div class="h3 mb-0">{{settings.go_fee}} %</div>
                                    </div>
                                    <div v-if="user.last_monopoly_state" class="token-bonus-date">Last Played <br> {{new Date(user.last_monopoly_state.updated_at).toLocaleString()}}</div>
                                </div> -->
                                <!-- <div class="token-bonus-current mt-3 w-100">
                                    <div class="fake-class w-100">
                                        <span class="card-sub-title">Cummulative</span>
                                            <div class="progress d-block">
                                                <div class="progress-bar" role="progressbar" :style="{width:cummulative_percentage+'%'}" :aria-valuenow="cummulative_percentage" aria-valuemin="0" aria-valuemax="100">{{cummulative_percentage}}%</div>
                                            </div>
                                    </div>
                                </div> -->
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        
        <!-- Modal Centered -->
        <div class="modal fade" id="confirmModal"  data-backdrop="static" style="background:#000000b3
        " tabindex="-1">
            <div class="modal-dialog modal-dialog-sm modal-dialog-centered">
                <div class="modal-content">
                    <!-- <a href="#" class="modal-close" data-dismiss="modal" aria-label="Close"><em class="ti ti-close"></em></a> -->
                    <div class="popup-body"> 
                        <p>
                            Do you want to continue?
                        </p>
                        <div class="pay-button d-md-flex" style="justify-content:space-between">
                            <a @click="go()" class="btn btn-success-alt btn-between" style="width:45%">
                                <span>GO</span>
                            </a>
                            
                            <a @click="stop()" class="btn btn-danger-alt btn-between" style="width:45%">
                                <span>STOP</span>
                            </a>
                        </div>
                    </div>
                </div><!-- .modal-content -->
            </div><!-- .modal-dialog -->
        </div>
        <!-- Modal End -->

        <!-- Modal Centered -->
        <div class="modal fade" id="resetModal"  data-backdrop="static" style="background:#000000b3" tabindex="-1">
            <div class="modal-dialog modal-dialog-sm modal-dialog-centered">
                <div class="modal-content">
                    <!-- <a href="#" class="modal-close" data-dismiss="modal" aria-label="Close"><em class="ti ti-close"></em></a> -->
                    <div class="popup-body"> 
                        <p>
                            Are you sure you want to reset this game?
                        </p>
                        <div class="pay-button d-md-flex" style="justify-content:space-between">
                            <a @click="resetGame()" class="btn btn-success-alt btn-between" style="width:45%">
                                <span>Yes</span>
                            </a>
                            
                            <a data-dismiss="modal" class="btn btn-danger-alt btn-between" style="width:45%">
                                <span>No</span>
                            </a>
                        </div>
                    </div>
                </div><!-- .modal-content -->
            </div><!-- .modal-dialog -->
        </div>
        <!-- Modal End -->

        <!-- Modal Centered -->
        <div class="modal fade" id="noCharacterModal" style="background:#000000b3" tabindex="-1">
            <div class="modal-dialog modal-dialog-sm modal-dialog-centered">
                <div class="modal-content"> 
                    <div class="popup-body"> 
                        <h4 class="text-danger m-0 p-0">NO CHARACTER FOUND!</h4>
                        <p>
                            You need to purchase a character to play this game.
                        </p>
                        <div class="pay-button d-flex" style="justify-content:space-between">
                            <router-link data-dismiss="modal" :to="{name:'character'}" class="btn btn-success-alt btn-between" style="width:45%">
                                <span>Purchase</span>
                            </router-link>
                            
                            <router-link data-dismiss="modal" :to="{name:'dashboard'}" class="btn btn-danger-alt btn-between" style="width:45%">
                                <span>Cancel</span>
                            </router-link>
                        </div>
                    </div>
                </div><!-- .modal-content -->
            </div><!-- .modal-dialog -->
        </div>
        <!-- Modal End -->
       </div>
 
        <!-- Modal Centered -->
        <div class="modal fade" id="maintenance" style="background:#000000b3 " tabindex="-1">
            <div class="modal-dialog modal-dialog-sm modal-dialog-centered">
                <div class="modal-content"> 
                    <div class="popup-body"> 
                        <h4 class="text-danger m-0 p-0">MAINTANANCE IS ON-GOING</h4>
                        <p>
                            Game is under maintenance, it will be available soon
                        </p> 
                    </div>
                </div><!-- .modal-content -->
            </div><!-- .modal-dialog -->
        </div>
        <!-- Modal End -->

         <!-- Modal Centered -->
        <div class="modal fade" data-backdrop="static" id="completeRound" style="background:#000000b3 " tabindex="-1">
            <div class="modal-dialog modal-dialog-sm modal-dialog-centered">
                <div class="modal-content p-0"> 
                    <div class="popup-body" style="background: black;"> 
                        <img src="../../../assets/images/congratulations.png" alt="">
                        <h4 class="text-danger m-0 p-0">HURRAY!!!</h4>
                        <p class="text-white">4 ROUNDS HAS COMPLETED!!</p>
                        <div class="d-flex text-white" style="justify-content:space-around">
                            <div class="d-flex">
                                <b>Principal Point = </b>
                                <span> {{user.principal_point_total}}P</span>
                            </div>
                            <div class="d-flex">
                                <b>Game Point = </b>
                                <span> {{user.wallet.game_amount}}P</span>
                            </div> 
                        </div>
                        <div class="mt-4">
                            <a href="" class="text-white">Restart Game</a>
                        </div>
                    </div>
                </div><!-- .modal-content -->
            </div><!-- .modal-dialog -->
        </div>
        <!-- Modal End -->
        
        <div class="modal fade" data-backdrop="static" id="goingModal" style="background:#000000b3 " tabindex="-1">
            <div class="modal-dialog modal-dialog-sm modal-dialog-centered">
                <div class="modal-content p-0"> 
                    <div class="popup-body" style="background: black;"> 
                        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                    </div>
                </div><!-- .modal-content -->
            </div><!-- .modal-dialog -->
        </div>
        <!-- Modal End -->

         <!-- Modal Centered -->
        <div class="modal fade" data-backdrop="static" id="withdrawableCharacter" style="background:#000000b3 " tabindex="-1">
            <div class="modal-dialog modal-dialog-sm modal-dialog-centered">
                <div class="modal-content p-0"> 
                    <div class="popup-body" style="background: black;"> 
                        <img :src="withdrawable_chr.url" width="100px" alt="">
                        <h4 class="text-danger m-0 p-0">{{withdrawable_chr.title}}</h4>
                        <p class="text-white">{{withdrawable_chr.price_p}}P  is now withdrawable</p>
                        <div class="pay-button d-flex" style="justify-content: center">
                            <a href="#" @click="reviveCharacter()" class="btn btn-success-alt btn-between" style="width:45%">
                                <span>Revive Character</span>
                            </a>
                            
                            <router-link data-dismiss="modal" :to="{name:'withdrawal'}" class="btn btn-danger-alt btn-between" style="width:45%">
                                <span>Withdraw Character</span>
                            </router-link>
                        </div>
                    </div>
                </div><!-- .modal-content -->
            </div><!-- .modal-dialog -->
        </div>
        <!-- Modal End -->
    </div>
</template>
<script>
import Dice from '../../../components/games/dice'
import Bus from '../../../main'
import { mapState } from 'vuex'
export default {
    components:{Dice},
    data(){
        return {
            datetime:'',
            rolled_number:1,
            rewards:null,
            settings:null,
            current_location:0,
            started:false,
            loaded:false,
            rolling:false,
            willGo:false,
            positionAfterCompletion:0,
            item_url:'',
            can_play:false,
            maintenance:false,
            rebounced:false,
            is_last_round:false,
            going:false,
            withdrawable_chr:{}
        }
    },
    computed:{
        ...mapState({
            user:(state)=>state.user,
        }),
        cummulative_percentage(){
            var perc = 20;
            perc = Math.round((this.user.wallet.cumulative_balance / this.user.active_character.price_p) * 100)
            return perc;
        }
    },
    methods:{
        async reviveCharacter(){
            this.toggleLoader(true)
            window.$("#withdrawableCharacter").modal('hide');
            var response = await this.$store.dispatch('get','revive-character/'+this.withdrawable_chr.id);
            
            if(response.status == 200){
                this.toggleLoader(false);
                var result = response.data.user 
                result.token=this.$store.state.token;
                this.$store.commit('setUser',result); 
                
                this.initialiseGame();
            }
        },
        initialiseGame(){ 
            window.$('img[usemap]').rwdImageMaps();
            window.$('.map').maphilight();
            setTimeout(()=>{
                this.arrangeBlock();
            }, 1000)
        },
        async resetGame(){
            this.toggleLoader(true)
            window.$("#resetModal").modal('hide');
            var response = await this.$store.dispatch('get','reset-game')

            if(response.status == 200){
                this.toggleLoader(false)
                var result = response.data.user 
                result.token=this.$store.state.token;
                this.$store.commit('setUser',result); 
                
                // this.removeItemFromPosition(this.current_location)
                this.current_location=0
                // this.placeItemInLocation(0)
                window.ToasterAlert('success', response.data.message);
                window.$(".modal").modal('hide');

                window.location.href="/dashboard"
                if(response.data.withdrawable_chr){
                    this.withdrawable_chr = response.data.withdrawable_chr;
                    window.$("#withdrawableCharacter").modal('show');
                } 
            }
            
        },
        toggleLoader(status){
            this.loader = status;
            setTimeout(()=>{
                window.$("#goingModal").modal(status? 'show': 'hide');
            }, status ? 0:500);
        },
        countdown(){
            // const self = this
            if(this.user.last_monopoly_state){
                setInterval(()=>{
                    var last = new Date(this.user.last_monopoly_state.updated_at)
                    var next = last.setDate(last.getDate() + 1)
                    var now = new Date().getTime()
                    var diff = new Date(next).getTime() - now
                    if(diff > 0){
                        this.can_play = false
                        let h,m,s;
                        h = Math.floor(diff/1000/60/60);
                        m = Math.floor((diff/1000/60/60 - h)*60);
                        s = Math.floor(((diff/1000/60/60 - h)*60 - m)*60);
                        this.datetime = h +':'+m+':'+s
                    }else{
                        this.datetime = '00:00:00'
                        this.can_play = true
                    }
                    
                },1000)
            }else{
                this.can_play = true
            }
        },
        start(index){  

            if(!this.user.active_character){
                window.ToasterAlert('error', "You need to purchase a character in order to play game");
                return false;
            }

            if(!this.user.can_play_today){
                window.ToasterAlert('error', "You can't play again today.");
                return false;
            }

            if(!this.loaded){
                window.ToasterAlert('error', "Please wait while we load the game");
                return false;
            }

            if(this.rolling) return false;
            console.log(this.current_location)
            if(index != 0 && !this.loaded) return false;
            Bus.$emit('rollDice');
            this.started=true;
            this.rolling = true;
        },
        validateReBounce(position){
            position = parseInt(position)
            var final_position = this.current_location + position ;
            if(final_position < 0){
                final_position = 31 + position;
            }
            return final_position;
        },
        moveUser(position){
            this.removeItemFromPosition(this.current_location);
            position=this.validateMove(this.current_location+position);
            if(this.is_last_round) this.go();
            if(position == 0) return false;

            
            this.current_location = position;
            
            this.placeItemInLocation(this.current_location);
            
            if(!this.started) return false;
            var column = this.rewards[position];
            // console.log(column)
            if(column.move != 0 && !this.rebounced){
                this.rebounced = true;
                var rebounce_to = this.validateReBounce(column.move);
                this.current_location = rebounce_to; 
                this.removeItemFromPosition(rebounce_to - column.move);
                this.moveUser(0);
                return false;
            }

            this.rebounced = false;
            if(column.reward > 0){
                var amount = parseFloat((column.reward/100) * this.$store.state.user.principal_point_total).toFixed(2);
                window.ToasterAlert('success', "You have earned "+amount+'P');
            }
            this.saveGameState(this.current_location);
            this.reward(this.current_location);
            
            
        },
        placeItemInLocation(position){ 
            // if(position == 0) return false;
            
            var column = this.rewards[position];
            var area = window.$("area[column='"+column.id+"']")
            var coorA=area.attr('coords').split(',');
            var left=coorA[0];
            var top=coorA[1];
            var width = coorA[2] - coorA[0];
            var span=window.$('<span id="item_'+column.id+'"class="map_title img-mp"><img src="'+this.user.active_character.url+'" /></span>');
            span.css({top: top+'px', left: left+'px', position:'absolute', 'width':width, height:width, 'text-align':'center'});
            span.appendTo('#map');
        },
        removeItemFromPosition(position){
            console.log(position);
            window.$("#item_"+(position+1)).remove();
        },
        saveGameState(position){
            this.$store.dispatch('post', {
                endpoint:'save-user-monopoly-state',
                details:{position:position}
            })
            .then((data)=>{
                console.log(data);
                if(data.data.status){
                    var result = data.data.user 
                    result.token=this.$store.state.token;
                    this.$store.commit('setUser',result); 
                }else{
                    window.ToasterAlert('error', data.data.message);
                    
                }
            })
            .catch((error)=>{
                console.log(error);
            });
        },
        reward(position){
            this.$store.dispatch('post', {
                endpoint:'reward-user',
                details:{position:position}
            })
            .then((data)=>{
                console.log(data);
                if(data.data.status){
                    var result = data.data.user 
                    result.token=this.$store.state.token;
                    if(data.data.end_game){
                        this.resetGame();
                    }
                    this.$store.commit('setUser',result);
                }else{
                    window.ToasterAlert('error', data.data.message);
                    
                }
            })
            .catch((error)=>{
                console.log(error);
            });
        },
        DieRollCompleted(result){
            // console.log(result);
            setTimeout(()=>{
                this.moveUser(result);
                this.rolling = false;
            },1500);
        },
        go(){
            this.willGo=true;
            if(this.going) return true;

            this.going=true;
            this.toggleLoader(true)
            this.$store.dispatch('post', {
                endpoint:'go-another-round',
                details:{}
            })
            .then((data)=>{
                console.log(data);
                if(data.data.status){
                    var result = data.data.user 
                    result.token=this.$store.state.token;
                    this.$store.commit('setUser',result);
                    
                    // if(!this.is_last_round){
                        this.moveUser(this.positionAfterCompletion);
                    // }

                    window.ToasterAlert('success', data.data.message);
                    window.$("#confirmModal").modal('hide');
                    // if(data.data.new_round){
                        // window.$("#completeRound").modal('show');
                    // }
                }else{
                    window.ToasterAlert('error', data.data.message); 
                }
                this.is_last_round=false;
                this.willGo = false;
                this.going=false;
                this.toggleLoader(false)
            })
            .catch((error)=>{
                console.log(error);
                this.going=false;
                this.toggleLoader(false)
            }); 
        },
        async stop(){
            this.current_location=0;
            this.moveUser(0);
            window.$("#confirmModal").modal('hide');
            this.toggleLoader(true)
            // since users can only play 1 round at a time(after which ther character point is converted into game point, increase their game round by 1 and reduce by one when they withdraw )
            this.resetGame();
            // this.saveGameState(0);
            // this.placeItemInLocation(0)
            // var response = await this.$store.dispatch('post', {endpoint:'stop-game', details:{}});
            
            // if(response.status == 200){
            //     window.ToasterAlert('success', response.data.message);
            //     var result = response.data.user 
            //     result.token=this.$store.state.token;
            //     this.$store.commit('setUser',result);
            // }
            this.toggleLoader(false)
        },
        confirmContinue(){
            // if(this.user.last_monopoly_state.round >= 3){
            //     this.is_last_round=true;
            //     return false;
            // }
            window.$("#confirmModal").modal('show');
        },
        validateMove(result){ 
            if(result > 31){
                if(this.willGo){ 
                    return result - 31;
                }
                this.positionAfterCompletion=(result - this.current_location);
                // this.confirmContinue();
                this.stop();
                return 0;
            }
            return result;
        },
        arrangeBlock(){
            window.$('area').each(function(){
                var txt=window.$(this).data('name');
                var coor=window.$(this).attr('coords');
                var coorA=coor.split(',');
                var left=coorA[0];
                var top=coorA[1];
                var width = coorA[2] - coorA[0];
                var fontsize=width/5.2;
                var span=window.$('<span class="map_title">'+txt+'</span>');        
                span.css({top: top+'px', left: left+'px', position:'absolute', 'width':width, height:width, 'font-size':fontsize+'px','font-weight':'600'});
                span.appendTo('#map');
            });
            var user = this.$store.state.user;
            if(user.last_monopoly_state){
                this.current_location = user.last_monopoly_state.position;
                this.placeItemInLocation(user.last_monopoly_state.position);
            }
        }
    },
    mounted(){  
        if(!this.user.active_character){
            if(this.user.withdrawable_characters.length > 0){
                var biggest=this.user.withdrawable_characters[0];
                this.user.withdrawable_characters.forEach(element => {
                    if(element.price_p > biggest.price_p) biggest=element;
                });

                this.withdrawable_chr = biggest;
                window.$("#withdrawableCharacter").modal('show'); 
            }else{
                window.$("#noCharacterModal").modal('show'); 
            }
        }  

        if(this.maintenance){
            window.$("#maintenance").modal('show');
        }
    },
    created(){
        this.countdown();

        this.$store.dispatch('get','get-monopoly-config')
        .then((data)=>{
            console.log(data);
            var temp = data.data.data;
            var value = JSON.parse(temp.value);
            this.settings = value.settings;
            this.rewards = value.rewards;
            this.rewards = this.rewards.map((d)=>{
                if(d.value == null){
                    d.value=''
                }
                return d;
            })
            this.loaded = true; 

             Bus.$on('dice_rolled_finish', this.DieRollCompleted);
            if(this.user.active_character){
               this.initialiseGame();
            }
        })
        .catch((error)=>{
            console.log(error);
        });

        var endpoint = process.env.VUE_APP_ENDPOINT;
        endpoint = endpoint.split('api');
        this.item_url = endpoint[0]+'hat.png';

       
    }
}
</script> 
<style>
.img-mp img{
    max-width: 75px !important;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
}
.img-mp{
    position: relative ;
}
@media(max-width:900px) {
    .img-mp img{
        max-width: 75px !important; 
    }
}
</style>
<style scoped>
    .progress{
        height: 20px;
    }
    .progress-bar {
        display: block;
        color: white;
        background: #04376d;
        height: 100%;
        border-radius: 3px;
        margin: 0;
        position: relative;
        font-weight: 700;
        padding: 0px 5px;
    }
    .fade-off{
        opacity: 0;
    }
    .popup-body h4 {
        font-size: 30px;
        font-weight: 900;
    }
    .popup-body p {
        font-size: 20px;
        font-weight: 500;
    }
    .countdown .card-title{
        font-size: 2.2em;
    }
    .lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    }
    .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
    }
    .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
    }
    .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
    }
    .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
    }
    .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
    }
    .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
    }
    .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
    }
    .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
    }
    .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
    }
    .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
    }
    .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
    }
    .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
    }
    .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
    }
    .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
    }
    .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
    }
    .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
    }
    .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
    }
    .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
    }
    @keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    }
</style>
<style scoped>
    .token-sales{
        text-align: left;
    }
    .map_title {
        position:absolute;    
    }
    #map {
        position:relative
    }
    #gamecontainer{
        /* background: url('../../../assets/images/m-background.jpg'); */
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 99999;
        overflow: scroll;
        background-size: cover;
        background-position: bottom;
    }
    #board{
        display: block;
        width: 100%;
        height: auto;
    }
</style>
<style>
    .modal-backdrop{display: none !important;}
</style>