<template>
    <div id="gamecontainer">
        <div id="map" class="">
			<img @load="imageLoaded()" id="board" class="map" src="../../../assets/images/jackpot3.png" usemap="#image_map">
        </div>

        <map name="image_map">
			<area href="#" @click="toggleAmount('+')" :coords="add_map_area" shape="rect">
            <area href="#" @click="toggleAmount('-')" :coords="substract_map_area" shape="rect">
            <area href="#" @click="setMaxBet()" :coords="max_bet_area" shape="rect">
            <area href="#" @click="start()" :coords="spin_area" shape="rect">
            <area href="#" id="auto_area" @click="setAutoBet()" :coords="auto_area" shape="rect">
            <area href="#" id="input_area" :coords="total_bet" shape="rect">
            <area href="#" id="wallet_area" :coords="wallet_area" shape="rect">
            <area href="#" id="goback_area" :coords="go_back_area" shape="rect">
            <area href="#" id="addamount_area" :coords="add_amount_area" shape="rect">
            <area href="#" class="slots-area" v-for="(slot, index) in slot_areas" :key="index" :coords="slot" :index="index" shape="rect">
		</map> 
		
        <div id="input" class="abs select-window d-flex">
			<input type="number" disabled v-model="bet.amount" class="form-control amount-bet">
		</div>

        <p id="wallet" class=" abs game-type-point-details text-right detail-point m-0">
			<b class="wallt">
				{{formatPrice(user.wallet.accumulative_balance)}}<strong class="text-danger">P</strong>
			</b>
		</p>

        <div class="slot" v-for="(slot, index) in slots" :key="index" :data-slot="index">
            <div class="roller" :slot="index">
                <div class="slt-bx" v-for="(ind, index) in slot" :key="index"><img :src="require('../../../assets/images/'+slot_items[ind])" class="slot-img" ></div>
            </div>
        </div>

        <a id="goback" href="/dashboard"><i class="fas fa-arrow-left"></i> Go Back</a>
        <a id="addamount" style="padding-top: 1px;" href="#addModal" data-toggle="modal">
            <!-- <i class="fas fa-plus"></i> Add amount -->
        </a>
        
        <!-- Modal Centered -->
        <div class="modal fade" id="addModal"  data-backdrop="static" style="background:#000000b3
        " tabindex="-1">
            <div class="modal-dialog modal-dialog-sm modal-dialog-centered">
                <div class="modal-content">
                    <!-- <a href="#" class="modal-close" data-dismiss="modal" aria-label="Close"><em class="ti ti-close"></em></a> -->
                    <div class="popup-body"> 
                        <div class="input-item input-with-label">
							<label class="input-item-label">Amount (P)</label>
							<input v-model="add_amount" class="input-bordered" type="number" placeholder="1000">
						</div>

                        <div class="pay-button d-md-flex" style="justify-content:space-between">
                            <a @click="addAmount()" class="btn btn-success btn-between" style="width:45%">
                                <span><i class="fas fa-plus"></i> Add</span>
                            </a>
                            
                            <a href="#" data-dismiss="modal" class="btn btn-danger-alt btn-between" style="width:45%">
                                <span>Cancel</span>
                            </a>
                        </div>
                    </div>
                </div><!-- .modal-content -->
            </div><!-- .modal-dialog -->
        </div>

         <!-- Modal End -->
		<div class="modal fade" data-backdrop="static" id="startModal" style="background:black " tabindex="-1">
            <div class="modal-dialog modal-dialog-sm modal-dialog-centered">
                <div style="background:black" class="modal-content p-0"> 
                    <div class="popup-body" > 
                       <div class="pay-button d-md-flex" style="justify-content:space-evenly">
                            <a @click="startGame()" class="btn btn-success btn-between text-center" style="width:45%">
                                <span class="text-center d-block m-auto">
									<span v-if="game_ready">START</span>
									<span v-else>Loading...</span>
								</span>
                            </a>
					</div>
                    </div>
                </div><!-- .modal-content -->
            </div><!-- .modal-dialog -->
        </div>

        <!-- Modal End -->
		<div class="modal fade" data-backdrop="static" id="goingModal" style="background:#000000b3 " tabindex="-1">
            <div class="modal-dialog modal-dialog-sm modal-dialog-centered">
                <div style="background:black" class="modal-content p-0"> 
                    <div class="popup-body" style="background: black;"> 
                        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                    </div>
                </div><!-- .modal-content -->
            </div><!-- .modal-dialog -->
        </div>

		<div class="modal fade"  id="winModal" style="background:#000000b3 " tabindex="-1">
            <div class="modal-dialog modal-dialog-sm modal-dialog-centered">
                <div style="background:black" class="modal-content p-0"> 
                    <img src="https://i.pinimg.com/originals/61/6b/e7/616be78b1da53ab0f16c4e0dd8709512.gif" alt="">
					<h2 class="text-white mb-3">{{win_msg}}</h2>
                </div><!-- .modal-content -->
            </div><!-- .modal-dialog -->
        </div>
    </div>
</template>
<script>
import { mapState } from 'vuex'
export default {
    data(){
        return {
            add_map_area:'471,1000,581,1069',
            substract_map_area:'325,1000,437,1067',
            max_bet_area:'652,985,813,1078',
            spin_area:'846,978,1031,1093',
            auto_area:'1062,982,1228,1082',
            total_bet:'949,923,1148,965',
            wallet_area:'577,231,965,289',
            bet:{
                amount:5,
            },
            win_msg:'',
            betting:{},
            slot_areas:['227,408,420,874', '448,413,649,870', '674,404,872,874', '901,411,1097,868', '1128,411,1321,875'],
            slot_items:['7.png','a.png','bell.png','cherry.png','wild.png','k.png','bar.png'],
            item_numbers:{
                '1':'image1_reward',
                '2':'image2_reward',
                '6':'image3_reward',
                '3':'image4_reward',
                '5':'image5_reward',
                '4':'image6_reward',
                '0':'image7_reward',
            },
            slots:[
                [6,0,1,2,3,4,5,6,0,6,0,1,2,3,4,5,6,0,6,0,1,2,3,4,5,6,0],
                [3,1,6,0,2,5,4,3,1,3,1,6,0,2,5,4,3,1,3,1,6,0,2,5,4,3,1],
                [1,2,4,5,0,6,3,2,1,1,2,4,5,0,6,3,2,1,1,2,4,5,0,6,3,2,1],
                [2,6,5,0,4,1,3,2,6,2,6,5,0,4,1,3,2,6,2,6,5,0,4,1,3,2,6],
                [4,5,3,0,1,2,6,4,5,4,5,3,0,1,2,6,4,5,4,5,3,0,1,2,6,4,5],
            ],
            betting_is_active:false,
            loading:false,
            add_amount:0,
            go_back_area:'183,239,466,280',
            add_amount_area:'1079,237,1362,278',
            loader:false,
            board_loaded:false,
            game_ready:false,
            slot_height:100,
            auto_play:false
        }
    },
	computed:{
		...mapState({
			user : (state)=> state.user
		})
	},
    methods: { 
        imageLoaded(){
            this.board_loaded = true;
            if(!this.loading){
                this.game_ready = true;
            }
        },
        startGame(){
            this.arrangeBlock();
            window.$("#startModal").modal('hide');
        },
        async addAmount(){
			this.toggleLoader(true)
			var response = await this.$store.dispatch('post', {
				endpoint:'add-free-amount',
				details:{amount:this.add_amount}
			});
			if(response.status == 200){
				if(response.data.status){
					var result = response.data.user 
					result.token=this.$store.state.token;
					this.$store.commit('setUser',result); 
					window.ToasterAlert('success', "Point was added successfully.");
					window.$('#addModal').modal('hide');
				}else{
					window.ToasterAlert('error', response.data.msg);
				}
			}
			
			this.toggleLoader(false)
		},
        start(){  
            var shuff_index = Math.floor(Math.random() * this.shuffles.length);
            this.spin(this.shuffles[shuff_index]);
        },
        prepareWinRate(){
            var rate = parseInt(this.betting.game_win_rate);
            var shuffles = [
                false,false,false,false,false,false,
                false,false,false,false,false,false,
            ];
            var how_many_wins = rate/10;
            
            for(var c=0; c < how_many_wins; c++){
                shuffles[c] = true;
            }
            this.shuffles = shuffles;
        },
        spin(should_win=false){
            if(this.betting_is_active) return false;

            if(!this.toggleAmount('')) return false;

            this.betting_is_active = true;
            var spin_types = ['spin','spin2'];
            var random_index = 0;
            window.$(".roller").each(function(){
                random_index = Math.floor(Math.random() * spin_types.length);
                window.$(this).addClass(spin_types[random_index]);
            });



            // STOPPPING
            var context = this;
            var stop_times = [2500,2500,2000,1500,1000,700];
            var stop_time=0;

            var final_position ={};
            var slot_count=0;
            setTimeout(()=>{
                window.$(".roller").css({'animation-duration':'.16s'});
                setTimeout(()=>{
                    window.$(".roller").css({'animation-duration':'.19s'});
                    var should_win_index = Math.floor(Math.random() * 6)
                    window.$(".roller").each(function(){

                        stop_time = Math.floor(Math.random()* stop_times.length);
                        stop_time = stop_times[stop_time];

                        var slot_item_index = window.$(this).attr('slot');

                        setTimeout(()=>{
                            // STOP
                            // each item has height of 100px
                            // so if i set 300px has the 'top' property then that means
                            //the 4th item will be in the middle row since what we count is the middle row

                            window.$(this).removeClass('spin spin2'); 
                            if(should_win){
                                var temp =  [...context.slots[slot_item_index]]
                                temp.shift();
                                var temp_index = temp.indexOf(should_win_index);
                                random_index = temp_index +1;
                            }else{
                                random_index = Math.floor(Math.random() * 6);
                            }
                            random_index -=1;
                            window.$(this).animate({top:'-'+random_index+'20px'});
                            window.$(this).animate({top:'-'+((random_index * context.slot_height))+'px'});
                            

                            final_position[slot_item_index] = random_index + 1; //since we are counting the 2nd row
                            slot_count++
                            if(slot_count == context.slot_areas.length){
                                context.spinEnded(final_position);
                            }
                        },stop_time);
                    });
                },1000);
                
            },1000); 

            this.updateAmount(-this.bet.amount);
        },
        spinEnded(final_positions){ 
            var items = [];
            for(var itm in final_positions){
                items.push(this.slots[itm][final_positions[itm]]);
            }
            var item = items[0];
            var win = true;
            items.forEach(element => {
                if(item != element) win = false;
            });
            this.betting_is_active = false;
            
            
            setTimeout(()=>{
                if(win){
                    var reward = this.betting.rewards[this.item_numbers[item]]
                    var price = this.bet.amount * parseInt(reward);
                    if(!this.auto_play){
                        this.win_msg = "you have won "+price+"P";
                        window.$("#winModal").modal('show');
                    }else{
                        window.ToasterAlert('success', "you have won "+price+'P');
                    }
                    this.updateAmount(price);
                }else{
                    window.ToasterAlert('error', "you have loss "+this.bet.amount+'P');
                    
                }
            }, 500);

            if(!this.auto_play){
                // this.bet.amount = this.user.wallet.accumulative_balance;
                if(this.bet.amount > parseInt(this.user.wallet.accumulative_balance)){
                    this.bet.amount = parseInt(this.user.wallet.accumulative_balance);
                }
            }

            if(this.auto_play){
                // if(this.user.wallet.accumulative_balance < this.betting.lowest_betting_amount){
                //     return false
                // }
                setTimeout(()=>{
                    this.start();
                },1000)
            }
        },
        async updateAmount(amount){
			// this.toggleLoader(true)
			var response = await this.$store.dispatch('post', {
				endpoint:'add-free-amount',
				details:{amount:amount, reward:true}
			});
			if(response.status == 200){
				if(response.data.status){
					var result = response.data.user 
					result.token=this.$store.state.token;
					this.$store.commit('setUser',result); 
				}else{
					window.ToasterAlert('error', response.data.msg);
				}
			}
			
			this.toggleLoader(false)
		},
        setMaxBet(){
            if(this.betting_is_active) return false;
            this.bet.amount = parseInt(this.betting.highest_betting_amount)
        },
        setAutoBet(){
            if(this.auto_play){
                this.stopAutoPlay();
                this.auto_play = false;
                return false;
            }
            this.auto_play = true;
            this.start();
        },
        stopAutoPlay(){
            this.auto_play = false
        },
        formatPrice(value) {
			let val = (value/1).toFixed(0).replace('.', ',')
			return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
		},
		toggleAmount(op){
            if(this.betting_is_active) return false;
            

			var amount  = this.bet.amount;
			if(op == '+'){
				amount +=1;
			}
			else if(op == '-'){
				amount -=1;
			}
            
			if(amount > this.user.wallet.accumulative_balance){
				window.ToasterAlert('error', 'You have no point in your free game wallet, Please click on add amount');
				return false;
			}

			if(amount > this.betting.highest_betting_amount ){
				window.ToasterAlert('error', 'Max. amount for bet is '+this.betting.highest_betting_amount+'P');
				return false;
			}
			if(amount < this.betting.lowest_betting_amount ){
				window.ToasterAlert('error', 'Min. amount for bet is '+this.betting.lowest_betting_amount+'P');
				return false;
			}
			
			this.bet.amount = amount;
            return true
		},
        arrangeBlock(){
            // INPUT
			var input = window.$("#input");
			var input_area = window.$("#input_area");
			var coords = input_area.attr('coords').split(',') 
			input.css({
                top:coords[1]+'px',
                left:coords[0]+'px',
                width:coords[2] - coords[0],
                height:coords[3] - coords[1],
                'font-size':(coords[3] - coords[1])/ 1.2
            })
			input.appendTo('#map');

            // Wallet
			var wallet = window.$("#wallet");
			var wallet_area = window.$("#wallet_area");
			coords = wallet_area.attr('coords').split(',')
			var width = coords[2] - coords[0];
			wallet.css({
                top:coords[1]+'px',
                left:coords[0]+'px',
                width:width,
                height:coords[3] - coords[1],
                'font-size':(coords[3] - coords[1])/ 1.8
            })
			wallet.appendTo('#map');

            // goback
			var goback = window.$("#goback");
			var goback_area = window.$("#goback_area");
			coords = goback_area.attr('coords').split(',')
			width = coords[2] - coords[0];
			goback.css({
                top:coords[1]+'px',
                left:coords[0]+'px',
                width:width,
                height:coords[3] - coords[1],
                'font-size':(coords[3] - coords[1])/ 1.8
            })
			goback.appendTo('#map');

            // addamount
			var addamount = window.$("#addamount");
			var addamount_area = window.$("#addamount_area");
			coords = addamount_area.attr('coords').split(',')
			width = coords[2] - coords[0];
			addamount.css({
                top:coords[1]+'px',
                left:coords[0]+'px',
                width:width,
                height:coords[3] - coords[1],
                'font-size':(coords[3] - coords[1])/ 1.8
            })
			addamount.appendTo('#map');

            // Slots
			window.$(".slot").each(function(){
                var index = window.$(this).attr('data-slot');
                
                var slots_area = window.$(".slots-area[index='"+index+"']");
                coords = slots_area.attr('coords').split(',')
                width = coords[2] - coords[0];
                window.$(this).css({top:coords[1]+'px', left:coords[0]+'px', width:width, height:coords[3] - coords[1]})
                window.$(this).appendTo('#map');
            });
			
        },
        toggleLoader(status){
            this.loader = status; 
			var timeout = status ? 0 : 500;
            setTimeout(()=>{
                window.$("#goingModal").modal(status ? 'show': 'hide');
            }, timeout);
        },
        async getConfig(){
            this.loading=true;
			var response = await this.$store.dispatch('get', 'jackpot-configurations');
			
			if(response.status == 200){
				this.loaded = true;
				var data =  response.data.data;
				if(data){
					data = JSON.parse(data.value);
                    console.log(data);
					this.betting = data;

                    this.betting.lowest_betting_amount = parseInt(this.betting.lowest_betting_amount);
                    this.betting.highest_betting_amount = parseInt(this.betting.highest_betting_amount);
                    this.betting.game_win_rate = parseInt(this.betting.game_win_rate);

                    this.bet.amount = this.user.wallet.accumulative_balance;
					if(this.bet.amount > data.lowest_betting_amount){
                        this.bet.amount = data.lowest_betting_amount;
                    }
                    this.prepareWinRate();
				}
                if(this.board_loaded){
                    this.game_ready=true;
                }
                this.loading=false;
			}
            
		},
    },
    mounted() {
        window.$("#startModal").modal('show');

        setTimeout(()=>{
			window.$('#board').rwdImageMaps();
			window.$('.map').maphilight();
		}, 500);
    },
    created(){
        this.getConfig();
        if(window.innerWidth <= 600){
            this.slot_height = 40;
        }
    }
}
</script>
<style scoped>
    #auto{
        position: absolute;
        background: #f5495c;
        font-weight: 700;
    }
    #goback, #addamount{
        position: absolute;
        background: #282828;
        color: white;
        font-weight: bolder;
        /* font-size: 100%; */
        padding-top: 1px;
    }
    .slt-bx{
        height: 95px;
        overflow: hidden;
        position: relative;
    }
    .slot-img{
        width: 70px;
        margin-top: 20px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 0;
        right: 0;
    }
    @media (max-width:600px){
        .slt-bx{
            height: 40px;
        }
        .slot-img{
            width: 30px;
        }
    }
    .slot{
        position: absolute;
        overflow: hidden;
    }
    .roller{
        position: relative;
    }
    .roller.spin{ 
        animation: spin .1s infinite linear;
    }
    .roller.spin2{ 
        animation: spin2 .1s infinite linear;
    }
    @keyframes spin {
        0%{top:-100px;}
        100%{top:-700px;}
    }
    @keyframes spin2 {
        0%{top:-300px;}
        100%{top:-700px;}
    }

    @media (max-width: 600px) {
        @keyframes spin {
            0%{top:-20px;}
            100%{top:-500px;}
        }
        @keyframes spin2 {
            0%{top:-50px;}
            100%{top:-300px;}
        }
    }

    #input, #wallet{ 
		font-size: 1.4em;
		font-weight: 700; 
		padding: 0px 10px;
	}
    #input input{
        border-color: transparent;
        background: transparent;
        color: white;
        height: 100%;
        padding: 0px;
        font-weight: 900;
        text-align: center;
        font-size: inherit !important;
    } 
	.wallt{
		position: absolute;
		width: fit-content;
		height: fit-content;
		top: 0;
		bottom:0;
		left:0;
		right: 0;
		margin: auto;
        color: white;
	} 
	@media (max-width:900px) {
		#input input{ 
			font-size: 0.8rem;
		}
	}
	.abs{
		position: absolute;
		width: fit-content;
		height: fit-content;
		overflow: hidden;
	}
    #gamecontainer{
        background: url('../../../assets/images/Background Hall.png');
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 9;
        overflow: scroll;
        background-size: cover;
        background-position: bottom;
    }
    #map{
        width: fit-content;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: fit-content;
	}
	#board{
        width: 62rem;
        height: auto;
        display: block;
        margin: auto;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
	}
</style>