<template>
  <div id="app">
    <router-view/>
  </div>
</template>
<script>
export default {
  methods:{
    getAccouncement(){
      this.$store.dispatch('get', 'get-announcement')
        .then((data)=>{
          // console.log(data)
          if(data.data.status){
            if(data.data.data == null) {
              data.data.data='';
            }
            this.$store.commit('setAnnouncement', data.data.data)
            if(data.data.data.trim().length > 0){
              window.$("#announcementModal").modal('show');
            }
          }
        })
        .catch((error)=>{
          this.$store.dispatch('handleError', error)
        })
    }
  },
  created(){
    this.getAccouncement()

    var currentLanguage = window.localStorage.getItem('language');
    this.$store.state.language = currentLanguage;

    if(this.$route.meta.AuthRequired || this.$route.matched.find((d)=>d.meta.AuthRequired)){
      var user=localStorage.getItem('monopoly');
      if(!user){
        this.$router.push('/login');
      }
      user = decodeURIComponent(user);
      user = JSON.parse(user);
      // console.log(user);
      this.$store.commit('setUser', user);
    }
  }
}
</script>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
